@charset "UTF-8";
@media only screen and (max-width:1200px) and (min-width:768px){
.subscribe-btn {
    padding: 5px 0px !important;
    width: 150px !important;;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 15px !important;;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 12px 6px 0px;
 font-size: 15px !important;;
}
.subscription {
    width: 90%;
    margin: 2% auto;
}
.subscription-div {
    padding: 3% 0%;
    background-color: #fbfbfb;
}
 }
 
@media only screen and (max-width:767px) and (min-width:200px){
	.Promise-box {
    height: auto !important;
	}
	.blog-box img {
    width: 100%;
    height: 170px;
}
.blog-box h4 {
	
    padding-left: 10px;
    font-size: 18px;
}
.blog-box p {
	
    padding-left: 10px;
    height: 100px;
    overflow: hidden;
    font-size: 14px;
}
.blog-box a {
	
    padding-left: 10px;
    font-size: 14px;
}
.blog-box {
    background-color: #fbfbfb;
    margin-bottom: 5%;
    border: 2px solid #e2e2e2;
}
.blog-box .col-sm-7{
	
}

	.subscription-div .custom-container {
    width: 100% !important;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 0px 6px 0px;
    font-size: 13px;
}
.subscription-div .input-group-addon {
    padding: 0px 0px;
}
.subscribe-btn {
    padding: 5px 14px !important;
    width: 96px;
    margin-top: 5px;
        letter-spacing: 1px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
       font-size: 13px;
    text-transform: capitalize;
     color: #ffffff !important;
    background-color: #28b6f6;
}
.subscription-div .input-group-addon {
    padding: 0px 0px;
    border: none;
}
.subscription-div {
    padding: 5% 0%;
    background-color: #fbfbfb;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
     font-size: 14px;
    padding: 6px 12px 6px 0px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #545454;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000 !important;
    background-image: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}


	}
	@media only screen and (min-width:767px) {
.subscription-div {
    padding: 3% 0%;
    background-color: #fbfbfb;
}
.subscription {
    width: 70%;
    margin: 5% auto;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 12px 6px 0px;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #545454;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000 !important;
    background-image: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}
.subscription-div .input-group-addon {
    padding: 0px 20px;
    background-color: transparent;
    border: 1px solid transparent;
}
.subscribe-btn {
	 margin-top: -5px;
    padding: 5px 20px !important;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 17px;
    text-transform: capitalize;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff !important;
    background-color: #28b6f6;
}
}
.Our-Blog h2{
 font-size: 24px;
  font-weight: 500;
  text-align:left;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 1.8px;
  color: #000000;
}
.Our-Blog h2 span{
	padding-bottom: 5px;
border-bottom:5px solid #28b6f6;
}
.blog-box{

  background-color: #fbfbfb;
}
.blog-box h4{
  font-size: 24px;
  
    margin-top: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  color: #000000;
}
.blog-box p{
	    height: 140px;
    overflow: hidden;
    font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  color: #000000;
	
}
.custom-img{
	margin-top: -20%;
    width: 85px;
    margin-left: 30px;
    margin-right: 30px;

 }
.blog-box a{
  font-size: 18px;
  text-decoration:none;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.61;
  letter-spacing: 0.1px;
  text-align: left;
  color: #28b6f6;
}
.blog-box a:hover{
  color: #28b6f6;
  font-size: 18px;
  text-decoration:none;
}
.blog-box img{
    width: 100%;
}
.spacier{
    padding: 5% 0%;
}
.Our-Blog{
    padding: 3% 5%;
}
.about-us{
    margin-top: 5%;
}
.gif {
    width: 95%;
    float: right;
}
.about-us-banner{
	padding:1%;
}
.about-us-banner h1{
  font-size: 45px;
  font-weight: normal;
  font-style: normal;
  margin-top: 30%;
  font-stretch: normal;
  line-height: 0.34;
  letter-spacing: 2px;
  color: #000000;
}
.about-us-banner h1 span{
	 color: #96cafc;
}
.Overview{
	padding:5% 5%;
background-color: #fbfbfb;
}
.Overview-box{
	padding:13% ;
	text-align:center;
	background-color:#fff;
	    height: 190px;
}
.Overview-box .img1{
    width: 100px;
    height: 51px;
    margin-bottom: 13.5%;
    
}
.Overview-box img{
    height: 70px;
     margin-bottom: 5%;
}
.Overview p{
 font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.9;
  letter-spacing: 1px;
  color: #000000;
}
.Overview h3{
 font-size: 24px;
  font-weight: 500;
  text-align:left;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 1.8px;
  color: #000000;
}
.Overview h3 span{
	padding-bottom: 5px;
border-bottom:5px solid #28b6f6;
}
.Overview  .text-section{
margin-top: 5%;
}
.Overview  .text-section p{
	margin-top: 4%;

	}
	.What-we-offer{
	padding:5% 5%;
	}
	.What-we-offer h3{
 font-size: 24px;
  font-weight: 500;
  text-align:left;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 1.8px;
  color: #000000;
}
.What-we-offer h3 span{
	padding-bottom: 5px;
border-bottom:5px solid #28b6f6;
}
.What-we-offer h6{
    font-size: 150px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: .7;
    letter-spacing: 15px;
  /*   position: absolute;
    margin-left:30%; */
    text-align: center;
   /*  z-index: 0; */
    color: rgba(0, 0, 0, 0.04);
}
.What-we-offer img{
    width: 70%;
    margin-top: -5%;
}

.What-we-offer p{
font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.9;
  letter-spacing: 1px;
  color: #000000;
}
.Our-Promise{
	 background-color: #fbfbfb;
	 padding:5% 5% 3%;
}
	.Our-Promise h3{
 font-size: 24px;
  font-weight: 500;
  text-align:left;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 1.8px;
  color: #000000;
}
.Our-Promise h3 span{
	padding-bottom: 5px;
border-bottom:5px solid #28b6f6;
}
.Promise-box h4{
font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 1.8px;
  text-align: left;
  color: #28b6f6;
}
.Promise-box {
	background-color:#fff;
	padding:5%;
	height: 330px;
	margin:10% 0%;
}
.Promise-box p{
	font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.9;
  letter-spacing: 1px;
  color: #000000;
}
.Our-Speciality{
	
}
	.Our-Speciality{
	padding:5% 5%;
	}
	.Our-Speciality h3{
 font-size: 24px;
  font-weight: 500;
  text-align:left;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 1.8px;
  color: #000000;
}
.Our-Speciality h3 span{
	padding-bottom: 5px;
border-bottom:5px solid #28b6f6;
}
.Our-Speciality h6{
    font-size: 150px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: .7;
    letter-spacing: 15px;
  /*   position: absolute;
    margin-left:30%; */
    text-align: center;
   /*  z-index: 0; */
    color: rgba(0, 0, 0, 0.04);
}
.Our-Speciality img{
    width: 70%;
    margin-top: -5%;
}

.Our-Speciality p{
font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.9;
  letter-spacing: 1px;
  color: #000000;
}
 @media only screen and (max-width:1200px) and (min-width:768px){
 .Promise-box {
    height: auto !important;
 }
 .about-us-banner h1 {
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    margin-top: 38%;
 }
 .Overview-box img {
    height: 50px;
    margin-bottom: 5%;
}
.Overview-box .img1 {
    width: 80px;
    height: 42px;
}
.Overview p {
    font-size: 13px;
}
.Overview-box {
    height: 120px;
}
.Overview h3 {
    font-size: 22px;
}
.What-we-offer h3 {
    font-size: 22px;
}
.What-we-offer h6 {
    font-size: 100px;
}
.What-we-offer p {
    font-size: 13px;
}
.Our-Promise h3 {
    font-size: 22px;
}
.Promise-box h4 {
    font-size: 18px;
}
.Promise-box p {
    font-size: 13px;
}
.Promise-box {
    background-color: #fff;
    padding: 5%;
    height: auto;
}
.Our-Speciality h3 {
    font-size: 22px;
}
.Our-Speciality h6 {
    font-size: 100px;
}
.Our-Speciality p {
    font-size: 13px;
}
.Our-Speciality img {
    width: 70%;
    margin-top: 5%;
}
.Our-Blog h2 {
    font-size: 22px;
}
.blog-box h4 {
    font-size: 16px;
}
.blog-box p {
    height: 95px;
    overflow: hidden;
    font-size: 13px;
}
.blog-box a {
    font-size: 15px;
    }
}

 @media only screen and (max-width:767px) and (min-width:200px){
 .Overview-box img {
    height: 50px;
    margin-bottom: 5%;
}
.Overview-box .img1 {
    width: 71px;
    height: 40px;
    margin-bottom: 13.5%;
}
.Overview p {
    font-size: 13px;
}
.about-us-banner h1 {
    font-size: 20px;
}
.Overview-box {
    padding: 10%;
    text-align: center;
    background-color: #fff;
    height: 110px;
    margin-bottom: 20px;
}
.Overview h3 {
    font-size: 18px;
}
.Overview .text-section p {
    margin-top: 10%;
}
.What-we-offer h6 {
    font-size: 50px;
    letter-spacing: 2px;
}
.What-we-offer h3 {
    font-size: 18px;
}
.What-we-offer img {
    width: 67%;
    margin-top: 5%;
}
.mob-cen{
	  text-align: center;
}
.What-we-offer p {
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    margin-top: 5%;
}
.Our-Promise h3 {
    font-size: 18px;
}
.Promise-box h4 {
    font-size: 17px;
}
.Promise-box p {
    font-size: 13px;
}
.Our-Speciality h3 {
    font-size: 18px;
}
.Our-Speciality h6 {
    font-size: 50px;
        line-height: 1;
    letter-spacing: 2px;
}
.Our-Speciality p {
    font-size: 13px;
}
.Our-Speciality img {
    width: 70%;
    margin-top: 5%;
}
.Our-Blog h2 {
    font-size: 18px;
}
.blog-box h4 {
    font-size: 18px;
    letter-spacing: 1px;
}
.blog-box p {
    height: 140px;
    overflow: hidden;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1px;
}
.blog-box a {
    font-size: 16px;
}
}

/* tester css 17th may 2018 start*/

.Our-Promise .text-section p {
    margin-top: 4%;
}

.Our-Promise p {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #000000;
}
@media only screen and (max-width: 767px) and (min-width: 200px){
.Overview .text-section p {
    margin-top: 10%;
}
.Our-Promise p {
    font-size: 13px !important;
    font-weight: 400;
}
}

/* tester css 17th may 2018 end*/
