.book-cook select{
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.modal-body .bv-form .custom-margin .custom-btn{
	margin-top:20px;
}
.modal-body .bv-form .custom-btn{
	margin-top:20px;
}
.modal-body .bv-form  .pull-right{
 padding-left:0px;
 padding-right:0px;
 }
 .modal-body .bv-form .custom-margin .pull-right{
 padding-left:15px;
 padding-right:15px;
 }
.book-cook .custom-form .input-group label{
    margin-left: -15px;
    color: #a94442;
    display: block;
    margin-top: 5px;
    font-weight: 400;
    position: absolute;
    font-size: 85%;
    margin-top: 38px;
}
@media only screen and (max-width:1200px) and (min-width:768px){
.subscribe-btn {
    padding: 5px 0px !important;
    width: 150px !important;;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 15px !important;;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
        height: 25px;
    padding: 6px 12px 6px 0px;
 font-size: 15px !important;;
}
.subscription {
    width: 90%;
    margin: 2% auto;
}
.subscription-div {
    padding: 3% 0%;
    background-color: #fbfbfb;
}
 }
 
@media only screen and (max-width:767px) and (min-width:200px){

	.subscription-div .custom-container {
    width: 100% !important;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 0px 6px 0px;
    font-size: 13px;
}
.subscription-div .input-group-addon {
    padding: 0px 0px;
}
.subscribe-btn {
    padding: 5px 14px !important;
    width: 96px;
    margin-top: -3px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
       font-size: 13px;
    text-transform: capitalize;
     color: #ffffff !important;
    background-color: #28b6f6;
}
.subscription-div .input-group-addon {
    padding: 0px 0px;
    border: none;
}
.subscription-div {
    padding: 5% 0%;
    background-color: #fbfbfb;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
     font-size: 14px;
    padding: 6px 12px 6px 0px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #545454;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000 !important;
    background-image: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}


	}
	@media only screen and (min-width:767px) {
.subscription-div {
    padding: 3% 0%;
    background-color: #fbfbfb;
}
.subscription {
    width: 70%;
    margin: 5% auto;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 12px 6px 0px;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #545454;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000 !important;
    background-image: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}
.subscription-div .input-group-addon {
    padding: 0px 20px;
    background-color: transparent;
    border: 1px solid transparent;
}
.subscribe-btn {
	 margin-top: -5px;
    padding: 5px 20px !important;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 17px;
    text-transform: capitalize;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff !important;
    background-color: #28b6f6;
}
}
.grey-bg{
	 background-color: #efefef;
	  padding: 5%;
}
.book-cook{
	margin-top:5.5%;
}
.white-bg {
    padding: 4% 5%;
}
.book-cook h1{
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  color: #28b6f6;
}
.book-cook p{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
/*   text-align: left; */
  color: #000000;
}
.book-cook .custom-form{
    padding: 0% 0%;
}
.book-btn {
    padding: 5px 20px !important;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 14px;
    font-weight: 400;
    margin: 21px 15px 21px 10px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: 1px;
    text-align: center;
    color: #fff  !important;
    background-color: #28b6f6;
}
.book-cook h3{
 font-size: 22.3px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
}
.custom-line {
    border: 1px solid #000;
    opacity: 0.2;
    margin: 20px 0px;	
}
.grey-bg h4{
  margin-top: 0px;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
/*   text-align: left; */
  color: #000000;
}
.grey-bg .panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
}
.grey-bg .col-lg-10{
    padding-left: 0px;
}
.grey-bg .col-lg-2{
    padding-right: 0px;
}
.grey-bg .panel-default {
    border-color: transparent;
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
    background-color: transparent;
}
.grey-bg a{
	color: #000000;
}
.grey-bg a:hover{
	color: #000000;
}
.panel-title span:nth-child(2){
    display: none;
}
.collapsed  span:nth-child(2){
    display: inline-block;
}
.collapsed  span:nth-child(1){
    display: none;
}
.grey-bg .panel-body{
    padding: 0px;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: transparent;
}
.grey-bg h5{
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #000000;
}
.apply-coupon{
	background:transparent;
	border:none;
	outline:0px;
	color: #28b6f6;
}
.custom-select{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    padding: 6px 22px;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 1.4px;
    text-align: left;
    color: #000000;
    -webkit-appearance: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    font-style: normal;
    background: #fff;
    border-radius: 0px;
    background-image: none;
    background: url(../images/home/4.png) !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    right: 5px;
    background-size: 25px 10px !important;
}
.white-bg .input-group-addon img{
    width: 18px;
}
.grey-bg .input-group-addon img{
    width: 16px;
}
@media only screen and (max-width:1200px) and (min-width:768px){
	.book-cook h1 {
    text-transform: uppercase;
    font-size: 20px;
    }
    .book-cook h3 {
    font-size: 18px;
    }
    .grey-bg h4 {
    margin-top: 0px;
    font-size: 13px;
    }
    .grey-bg h5 {
    font-size: 14px;
    }
    .book-cook {
    margin-top: 10%;
    }
}

@media only screen and (max-width:767px) and (min-width:200px){
	.book-cook {
    margin-top: 17%;
   }
	.book-cook h1 {
    text-transform: uppercase;
    font-size: 17px;
    }
    .book-cook h3 {
    font-size: 17px;
    }
    .grey-bg h4 {
    margin-top: 0px;
    font-size: 13px;
    }
    .grey-bg h5 {
    font-size: 13px;
    }
    .book-cook p {
    font-size: 13px;
    }
     .text-left{
      text-align: center !important;
    }
    .white-bg {
    padding: 4% 9%;
    }
    .grey-bg {
      background-color: #efefef;
      padding: 7% 10%;
    }
    .custom-margin .fright {
      float: none;
    }
    .add-meal {
    background: transparent;
    border: none;
    padding:0px 0px 0px !important;
}
}
.more-meal-type{
	display:none;
}
.add-meal {
    background: transparent;
    border: none;
    padding: 37px 0px 0px;
}