@charset "UTF-8";
.contactus{
    margin-top: 5.5%;
}
.contactus .contact-form small.help-block{
    text-align: left;
}
@media only screen and (max-width:1200px) and (min-width:768px){
.contactus {
    margin-top: 10%;
}
	.subscribe-btn {
    padding: 5px 0px !important;
    width: 150px !important;;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 15px !important;;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 12px 6px 0px;
 font-size: 15px !important;;
}
.subscription {
    width: 90%;
    margin: 2% auto;
}
.subscription-div {
    padding: 3% 0%;
    background-color: #fbfbfb;
}
 }
 
@media only screen and (max-width:767px) and (min-width:200px){
	.row {
    margin-right: 0px !important;;
margin-left: 0px !important;;
}
/* 	.contactus{
    margin-top: 19%;
} */
	.subscription-div .custom-container {
    width: 100% !important;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 0px 6px 0px;
    font-size: 13px;
}
.subscription-div .input-group-addon {
    padding: 0px 0px;
}
.subscribe-btn {
    padding: 5px 14px !important;
    width: 96px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
       font-size: 13px;
    text-transform: capitalize;
     color: #ffffff !important;
    background-color: #28b6f6;
}
.subscription-div .input-group-addon {
    padding: 0px 0px;
    border: none;
}
.subscription-div {
    padding: 5% 0%;
    background-color: #fbfbfb;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
     font-size: 14px;
    padding: 6px 12px 6px 0px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #545454;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000 !important;
    background-image: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}


	}
	@media only screen and (min-width:767px) {
.subscription-div {
    padding: 3% 0%;
    background-color: #fbfbfb;
}
.subscription {
    width: 70%;
    margin: 5% auto;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 12px 6px 0px;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #545454;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000 !important;
    background-image: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}
.subscription-div .input-group-addon {
    padding: 0px 20px;
    background-color: transparent;
    border: 1px solid transparent;
}
.subscribe-btn {
	 margin-top: -5px;
    padding: 5px 20px !important;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 17px;
    text-transform: capitalize;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff !important;
    background-color: #28b6f6;
}
}
.white-bg{
	padding:5% 5%;
	
}
.grey-bg{
	padding:3% 8% !important;
	height:100%;
	 background-color: #efefef;
}
.custom-form {
	
    padding: 5% 10%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #fff;
}
.contactus h1{
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 1px;
  text-align: left;
  color: #28b6f6;
}
.contactus h3{
  font-size: 19.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 1px;
  text-align: center;
  color: #000000;
}
.contact-form {
    background: #fff;
        padding-top: 3%;
       margin-top: 10%;
    margin-bottom: 5%;
    box-shadow: 0px 7px 25.1px 1.9px rgba(69, 68, 68, 0.1);
    border-radius: 5px;
}
.Contact-info{
	padding:10% 0%;
}
.Contact-info img{
    width: 30px;
    height:33px;
    margin: 0px 15px;
}
.Contact-info p{
 font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
}
.mtop{
	margin-top:5%;
}
.white-bg img{
margin-top: 5%;
    }
    @media only screen and (max-width:1200px) and (min-width:768px){
    .white-bg img {
    margin-top: 50px;
    width: 100%;
}
.contactus h1{
font-size: 22px;
}
.grey-bg {
    padding: 3% 4%;
}
.contactus h3 {
    font-size: 18px;
}
.contactus h3 img{
    width: 20px;
}
.custom-btn1 {
    padding: 5px 20px !important;
    width: 130px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 14px;
}
.Contact-info img {
    width: 22px;
    height: 24px;
    margin: 0px 15px;
}
.Contact-info .inline-flex {
    margin-bottom: 5%;
}
.Contact-info p {
    font-size: 14px;
}
    }
    
@media only screen and (max-width:767px) and (min-width:200px){
	  .white-bg img {
    margin-top: 20px;
    width: 60%;
}
.contactus h3 img{
    width: 15px;
}
.contactus h1 {
    font-size: 18px;
}
.contactus h3 {
    font-size: 16px;
}
.white-bg {
    padding: 5% 0%;
}
.Contact-info img {
    width: 22px;
    height: 24px;
    margin: 0px 15px 0px 0px;
}
.Contact-info .inline-flex {
    margin-bottom: 5%;
}
.mtop {
    margin-top: 0%;
}
.Contact-info p {
    font-size: 14px;
}
	}