@charset "UTF-8";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

/* common  starts*/
/* common  starts*/

/* input:focus, textarea:focus {
border: 0px solid transparent !important;
box-shadow: 0 0 0px transparent !important;
-moz-box-shadow: 0 0 0px transparent !important;
-webkit-box-shadow: 0 0 0px transparent !important;
} */
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
.text-center{
	text-align:center;
}
.fright{
	float:right;
}
.width100{
	width:100%;
}
.inline-flex{
	display:inline-flex;
}
.block{
	display:inline-block;
}
.custom-btn{
	border-radius: 5px;
	border:2px solid #28b6f6;
	
    font-weight: 600;
    font-style: normal;
    padding: 5px 20px !important;
	width:150px;
 
     font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1.3px;
  text-align: left;
  color: #4d4d4d;
     text-align: center;
    background-color: transparent;
}
/* common  ends*/
/* common  ends*/



/* header starts */
/* header starts */
.custom-navbar{
	height: 80px;
    margin-bottom: 40px;
   border-bottom: 2px solid #e9e9e9;
   background-color: #fff;
}
.custom-brand{
	height: 80px;
	padding: 10px 15px;
   border-right: 2px solid #e9e9e9;
}
.custom-brand a{
padding:15px 35px;
}

.user-space{
 border-left: 2px solid #e9e9e9;
}
.Book-your-Cook-btn{
	padding: 5px 20px !important;
	width:200px;
    border-radius: 5px;
	border:2px solid  #28b6f6  !important;;
	font-size: 14px;
    font-weight: 600;
    margin: 21px 25px 21px 10px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff  !important;;
    background-color: #28b6f6;
}
.Book-your-Cook-btn:hover{
	
 background-color: #28b6f6 !important;;;
	}
.Calculate-Price-btn{
	padding: 5px 20px !important;
	width:200px;
    border-radius: 5px;
	border:2px solid  #28b6f6  !important;;
	font-size: 14px;
    font-weight: 600;
    margin: 21px 17px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;;
    letter-spacing: 1px;
    text-align: center;
    color: #28b6f6  !important;;
    background-color: transparent;
}
.Calculate-Price-btn:hover{
	 background-color: #f2f2f2;

	}
.custom-navbar .user-img{
    margin:4px 20px;
}
.custom-navbar .navbar-nav>li>a:hover{
	color:#6b6a6a;
}
.custom-navbar .navbar-nav>li>a:focus{
	color:#6b6a6a;
}
.custom-navbar  .navbar-nav>li>a {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  padding-top: 23px;
    padding-bottom: 20px;
  letter-spacing: 1.3px;
  color: #383838;
}

/* header ends */
/* header ends */



/*footer starts */
/*footer starts */
footer{
	background-color: #013f70;
}
.top-footer{
	padding:2% 3% 2%;
	border-bottom:1px solid #fff;
}
.top-footer h3{
 font-size: 18px;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #ffffff;
}
.top-footer a{
 font-size: 16px;
 font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1px;
  color: #ffffff;
}
.top-footer li{
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1px;
  color: #ffffff;
}
.top-footer ul{
    padding-left: 0px;
    list-style-type: none;
}
.logo-footer{
    width: 80px;
}
.social-media{
    margin: 15% 0% 0%;
}
.social-medial-img{
	width: 30px;
    margin: 5px;
}
.bottom-footer{
		padding:2% 3% 1%;
}
 .bottom-footer {
 font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #ffffff;
}
 .bottom-footer a{
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #ffffff;
 }
 
/*footer ends */
/*footer ends */

/* mobile screen */

@media only screen and (max-width:767px) and (min-width:200px){
	body {
    margin: 0;
    overflow-x: hidden;
}
	.custom-navbar {
    height: 60px;
	}
	.custom-brand a {
    padding: 15px 15px;
}
.custom-brand img{
    width: 100px !important;
}
.custom-navbar .navbar-toggle {
	
    margin-right: 5px;
    border-color: transparent !important;;
}
.custom-navbar{
	  border-color: transparent !important;;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #5fc4f7;
}
.custom-brand {
    height: 60px;
    padding: 10px 0px;
    border-right: 0px solid #e9e9e9;
    border-bottom: 2px solid #e9e9e9;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
    background: #fff;
    
    border-bottom: 2px solid #e2e2e2;
}
.custom-navbar .navbar-nav>li>a {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Calculate-Price-btn {
    padding: 5px 20px !important;
    width: 180px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 13px;
    font-weight: 600;
    margin: 10px 15px;
}
.Book-your-Cook-btn {
    padding: 5px 20px !important;
    width: 180px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 13px;
    font-weight: 600;
    margin: 20px 15px;
}
.custom-navbar .user-img {
    margin: 0px 0px;
    width: 25px;
}
.user-space {
    border-left: 0px solid #e9e9e9;
}
.logo-footer {
    width: 65px;
}
.top-footer h3 {
    font-size: 15px;
}
.top-footer a {
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
}
.top-footer li {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
}
.social-media {
    margin: 5% 0% 0%;
}
.social-medial-img {
    width: 25px;
    margin: 3px;
}
.top-footer li {
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
}
.bottom-footer p{
    text-align: center;
}
.bottom-footer {
    font-size: 12px;
}
.bottom-footer a {
    font-size: 12px;
}
.bottom-footer .text-right {
     text-align: center;
     margin-top:8px;
}
}
/* mobile screen */

@media only screen and (max-width:1140px) and (min-width:768px){
	.custom-brand a {
    padding: 15px 0px;
}
	.navbar-brand>img {
    display: block;
    width: 100px;
	}
	.custom-navbar .navbar-navli>a {
    position: relative;
    display: block;
     font-size: 12px;
    padding: 10px 5px;
}
.Calculate-Price-btn {
    padding: 5px 5px !important;
    width: 150px;
     font-size: 12px;
    margin: 21px 5px;
    
}
.Book-your-Cook-btn {
    padding: 5px 5px !important;
    width: 150px;
     font-size: 12px;
     
    margin: 21px 10px 21px 7px;
}
.custom-navbar .user-img {
    margin: 4px 0px;
        width: 25px;
}
.custom-navbar .navbar-nav>li>a {
    font-size: 12px;
    
}
.custom-navbar .nav>li>a {
    position: relative;
    display: block;
    padding: 24px 5px;
}
.cal-price {
    border-radius: 5px;
    font-size: 15px;
}
.logo-footer {
    width: 70px;
}
.top-footer h3 {
    font-size: 16px;
      line-height: 1.5;
}
.top-footer a {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
}
.top-footer li {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
}
.social-medial-img {
    width: 25px;
    margin: 2px;
}
.bottom-footer{
	    font-size: 12px;
}
.bottom-footer a{
	    font-size: 12px;
}
	}
	
@media only screen and (max-width:1400px) and (min-width:200px){
	}