@charset "UTF-8";
.help-block {
    text-align: left !important;;
    margin-top:3px !important;;;
}
@media only screen and (max-width: 767px){
	.custom-form .input-group {
	    margin-bottom: 0px !important;;
	}
}
@media only screen and (max-width:1200px) and (min-width:768px){
.subscribe-btn {
    padding: 5px 0px !important;
    width: 150px !important;;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 15px !important;;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 12px 6px 0px;
 font-size: 15px !important;;
}
.subscription {
    width: 90%;
    margin: 2% auto;
}
.subscription-div {
    padding: 3% 0%;
    background-color: #fbfbfb;
}
.faq-banner {
    padding: 10% 0% 5% !important;;
}

.faq-banner h1 {
    font-size: 30px !important;;
}
.spl-div h2 {
    font-size: 18px;
}
.specific-div h3 {
    font-size: 17px;
}
.specific-div p {
    font-size: 14px;
}
 }
 
@media only screen and (max-width:767px) and (min-width:200px){
.subscription-div .custom-container {
    width: 100% !important;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 0px 6px 0px;
    font-size: 13px;
}
.subscription-div .input-group-addon {
    padding: 0px 0px;
}
.subscribe-btn {
    padding: 5px 14px !important;
    width: 96px;
    margin-top: 5px;
        letter-spacing: 1px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
       font-size: 13px;
    text-transform: capitalize;
     color: #ffffff !important;
    background-color: #28b6f6;
}
.subscription-div .input-group-addon {
    padding: 0px 0px;
    border: none;
}
.subscription-div {
    padding: 5% 0%;
    background-color: #fbfbfb;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
     font-size: 14px;
    padding: 6px 12px 6px 0px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #545454;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000 !important;
    background-image: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}

.faq-banner h1 {
    font-size: 22px !important;;
}
.faq-banner {
    padding: 15% 0% 5% !important;;
}
.spl-div h2 {
    font-size: 16px !important;;;
}
.specific-div h3 {
    font-size: 15px !important;;;
}
.specific-div p {
    font-size: 13px !important;;;
}
	}
	
	@media only screen and (min-width:767px) {
.subscription-div {
    padding: 3% 0%;
    background-color: #fbfbfb;
}
.subscription {
    width: 70%;
    margin: 5% auto;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 12px 6px 0px;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #545454;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000 !important;
    background-image: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}
.subscription-div .input-group-addon {
    padding: 0px 20px;
    background-color: transparent;
    border: 1px solid transparent;
}
.subscribe-btn {
	 margin-top: -5px;
    padding: 5px 20px !important;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 17px;
    text-transform: capitalize;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff !important;
    background-color: #28b6f6;
}
}
.faq-banner{
 background-image: url(../images/common/bg.png);
 background-repeat: no-repeat;
 background-size: cover;
 padding:7%;
 text-align:center;
}
.faq{
	margin-top:5%;
}
.faq-banner h1{
 font-size: 50px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}
.spl-div h2{
  font-size: 20px;
      margin-top: 0px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
}
.specific-div h3{
	font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
}
.specific-div p{
	    width: 95%;
	font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
}

.spl-div {
    padding: 5% 15px;
}
.custom-container{
	    width: 95%;
}
.specific-div{
    margin: 30px 0px;
}
.spl-div{
    padding: 5% 1%;
}
.breadcrumb {
    background-color: transparent;
     margin-bottom: -7px;
    padding: 8px 15px 8px 0px;
}
.breadcrumb li {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
    color: #000000;
}

.breadcrumb a {
    color: #000000;
}
 .panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e260";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #4ab7f6;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e259";    /* adjust as needed, taken from bootstrap.css */
}
.questions-list {
  border-radius: 5px;
  background-color: #ffffff;
/*   box-shadow: 0px 3px 7.4px 0.6px rgba(69, 68, 68, 0.1); */
}
.questions-list .panel-default>.panel-heading {
    color: #333;
    border-radius: 0px;
    background-color: #ffffff;
    /* margin-bottom: 17px; */
    background-color: transparent;
    border-color: transparent;
}
.questions-list .panel-default>.panel-heading+.panel-collapse>.panel-body {
    
    border-top-color: transparent;
    background: #fff;
}
.panel-title a:hover{
	color:#000000;
}
.panel-title a:focus{
	color:#000000;
}
.numbered-list{
	padding: 5px 8px;
    border: 2px solid #4ab7f6;
    margin-right: 10px;
    border-radius: 50%;
}
.questions-list .panel-group .panel {
    margin-bottom: 25px;
    
    padding-bottom: 25px;
}
.questions-list .panel-default {
    border-color: transparent;
}
.questions-list h4{
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.96;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
}
.questions-list .panel-body{
font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.96;
  letter-spacing: 1px;
      margin-left: 40px;
    text-align: left;
    color: #6c6c6c;
  text-align: left;
 
}
.questions-list .panel {
    margin-bottom: 20px;
    background-color: #fff;
   /*  border: 1px solid transparent; */
    
    border-radius: 0px;
    border-bottom: 1px solid #aba7a7;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.inline-flex{
	display: inline-flex;
}
.ask-question .img1{
    height: 20px;
    margin: 17px 30px 10px 0px;
}
.ask-question {
	
 /*    padding: 1% 0% 0%;
        margin: 7% 0% 7%;
    height: 300px; */
 /*  background-color: #f6f6f6; */
}
.contact-form h3 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
  /*  margin-top: -12%; */
    padding: 20px;
    letter-spacing: 1.8px;
    text-align: center;
    color: #ffffff;
    background-color: #28b6f6;
}
.ask-question h4 {
 font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
}
.ask-question p{
  font-size: 16px;
      margin-top: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.96;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
}
.contact-form {
    background: #fff;
    box-shadow: 0px 7px 25.1px 1.9px rgba(69, 68, 68, 0.1);
    border-radius: 5px;
}
.custom-form {
    padding: 5% 10%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #fff;
}
.padding-spl{
    padding: 10% 5%;
}
.ask-question{
    padding: 3% 0% 1%;
}


 @media only screen and (max-width:767px) and (min-width:200px){
	 .breadcrumb {
    padding: 8px 0px;
    margin-bottom: 0px;
}
.breadcrumb>li+li:before {
    padding: 0 0px;
}
.breadcrumb li {
    font-size: 11px;
}
 }

 .specific-div h3{
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: 1.8px;
  text-align: left;
  color: #000000;
 }
 .specific-div p{
 font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  width:70%;
  letter-spacing: 1.2px;
  text-align: left;
  color: #000000;
 }
  .specific-div{
  margin-top:3%;
  }
  .spl-div {
    padding-top: 2%;
    padding-bottom: 4%;
}
.questions-list a:hover {
    text-decoration: none;
}
.questions-list a:focus {
    text-decoration: none;
}
@media only screen and (max-width:1200px) and (min-width:768px){

.questions-list h4 {
    font-size: 13px;
}
.questions-list .panel-body {
    font-size: 13px;
}
.ask-question h4 {
    font-size: 17px;
}
.ask-question p {
    font-size: 14px;
    margin-top: 12px;
}
.contact-form h3 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 16px;
}


	.specific-div h3 {
    font-size: 17px;
	}
	.specific-div p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    width: 80%;
	}

	}
	@media only screen and (max-width:767px) and (min-width:200px){

.ask-question h4 {
    font-size: 17px;
}
.ask-question p {
    font-size: 14px;
    margin-top: 12px;
}
.ask-question {
    padding: 6% 0% 8%;
    margin: 7% 0% 7%;
    height: auto;
}
.contact-form h3 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    margin-top: 5%;
}

.questions-list .panel-body {
    font-size: 13px;
        margin-left: 0px;
}
.questions-list h4 {
    font-size: 13px;
}
questions-list .panel-body {
    font-size: 13px;
}
	.specific-div h3 {
    font-size: 16px;
    font-weight: 300;
}
	.specific-div p {
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    width: 100%;
}
.specific-div {
    margin-top: 7%;
}

	}