.custom-form .input-group {
    position: relative;
    
    margin-top: 30px;
    border-bottom: 1px solid #000;
}
input:focus, textarea:focus {
border: 0px solid transparent !important;
box-shadow: 0 0 0px transparent !important;
-moz-box-shadow: 0 0 0px transparent !important;
-webkit-box-shadow: 0 0 0px transparent !important;
}
/* .custom-form input{
	height: 25px;
} */
.custom-form .form-control{
  border: none;
  background-color: transparent;
  background-image:none;
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
  font-size: 14px;
/*   height: 25px; */
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1.2px;
  text-align: left;
  color: #000000;
}
.custom-form textarea{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1.2px;
  text-align: left;
  color: #000000;
}
.textarea-img{
    margin-top: -25px;
}
.custom-form .input-group-addon {
   padding: 0px 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: transparent;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    border: none;
    border-radius: 0px;
}
.select-bg {
	    height: 42px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    padding: 6px 22px;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 1.4px;
    text-align: left;
    color: #000000;
    -webkit-appearance: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    font-style: normal;
    background: #fff;
    border-right: 2px solid #4ab7f6 !important;
    border-radius: 0px;
    background-image: none;
    background: url(../images/home/4.png) !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    right: 12px;
    background-size: 25px 10px !important;
}

@media only screen and (min-width:768px){
.custom-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color:#7b7b7b !important;
     font-size: 14px !important;;
}
.custom-form .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #7b7b7b !important;;
      font-size: 14px !important;;
}
.custom-form .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #7b7b7b !important;;
      font-size: 14px !important;;
}
.custom-form .form-control:-moz-placeholder { /* Firefox 18- */
  color: #7b7b7b !important;;
   font-size: 14px !important;;
  
}
}
/* .custom-form{
    background: #fff;
} */

@media only screen and (max-width:767px){
	.custom-btn1 {
    padding: 5px 20px !important;
    width: 160px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 13px !important;;
	}
.custom-form .input-group-addon img {
    width: 16px;
}
.form-control {
	/*     height: 25px; */
    padding: 6px 7px;
  font-size: 12px !important;;
}
.signin-signup .custom-btn{
   width: 100px;
       padding: 3px 10px !important;
   
    font-size: 13px;
 }
.custom-form .input-group {
    position: relative;
    margin-bottom: 25px;
}
	.custom-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color:#7b7b7b !important;
     font-size: 12px !important;;
}
.custom-form .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #7b7b7b !important;;
      font-size: 12px !important;;
}
.custom-form .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #7b7b7b !important;;
      font-size: 12px !important;;
}
.custom-form .form-control:-moz-placeholder { /* Firefox 18- */
  color: #7b7b7b !important;;
   font-size: 12px !important;;
  
}


	
	}
	.custom-btn1 {
    padding: 5px 20px !important;
    width: 160px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 17px;
    text-transform: capitalize;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff !important;
    background-color: #28b6f6;
}
 @media only screen and (max-width:1200px) and (min-width:768px){
 .custom-btn {
    border-radius: 5px;
    border: 2px solid #28b6f6;
    font-weight: 600;
    font-style: normal;
    padding: 5px 20px !important;
    width: 130px;
    font-size: 15px;
    font-weight: normal;
 }
 }
 
 .custom-file-input{
        display: inline-table;
		overflow: hidden;
        position: relative;
    }
    .custom-file-input input[type="file"]{
        width: 100%;
        height: 100%;
        opacity: 0;
        filter: alpha(opacity=0);
        zoom: 1;  /* Fix for IE7 */
        position: absolute;
        top: 0;
        left: 0;
        
    padding: 6px 12px;
        z-index: 999;
    }
    .custom-form .form-control[readonly], .custom-form fieldset[disabled] .form-control {
    background-color: transparent;
    opacity: 1;
}
@media only screen and (min-width: 767px)
{
.subscription {
    width: 70%  !important;;
    margin: 5% auto;
}
}