.parallax {
    /* The image used */
    background-image: url('../images/home/grey-bg.png');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.search-section select{
	-webkit-appearance: none !important;;
	-moz-appearance: none !important;;
	appearance: none !important;;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075) ;;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    padding: 6px 22px;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 1.4px;
    text-align: left;
    color: #000000;
    -webkit-appearance: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    font-style: normal;
    background: #fff;
    border-radius: 0px;
    background-image: none;
    background: url(../images/home/4.png) !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    right: 5px;
    background-size: 24px 9px !important;
}

.search-section select:focus {
border: 0px solid transparent !important;
box-shadow: 0 0 0px transparent !important;
-moz-box-shadow: 0 0 0px transparent !important;
-webkit-box-shadow: 0 0 0px transparent !important;
}

.search-section .custom-form-group .form-control:nth-child(1){
	border-right: 1px solid #4ab7f6 !important;;
	border-bottom-right-radius: 0px !important;;;
    border-top-right-radius: 0px !important;;;
}
.search-section .custom-form-group .form-control {
    height: 42px;
    letter-spacing: 1px;
}
@media only screen and (min-device-width: 1024px){
.home-banner-row h2{
font-size: 25px !important;;
    font-weight: 300 !important;
    text-align:center !important;;
    letter-spacing: 2px !important;;
}
.home-banner-row h1{
	  text-align:center !important;;
	  font-size: 30px !important;;
}
}
@media only screen and (max-width:1023px) and (min-width:768px){
	.home-banner-row h2{
font-size: 20px !important;;
    font-weight: 300 !important;
    text-align:center !important;;
    letter-spacing: 2px !important;;
}
.home-banner-row h1{
	  text-align:center !important;;
}
	
}
@media only screen and (max-width:767px) and (min-width:200px){
	.home-banner-row h2{
font-size: 17px !important;;
    font-weight: 300 !important;
    text-align:center !important;;
    letter-spacing: 2px !important;;
}
.home-banner-row h1{
	 text-align:center !important;;

	}
	
}
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll; 
    }
}
/* .Why-Handybro img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
} */

.home-banner{
    margin-top: 80px;
   /*  padding: 7% 0%; */
}
.home-banner-row{
    padding: 5% 0% 2%;
}
.right-border{
	border-right:2px solid #f2f2f2;
}
.custom-container{
    width: 95%;
}
.spl-row{
    margin: 6% 0% 9%;
}
.home-banner h1{
  font-size: 35px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: 3px;
  text-align: left;
  color: #3d3d3d;
}
.home-banner h4{
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: 2px;
  text-align: left;
  color: #323232;
}
.home-banner p{
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: 1.3px;
  text-align: left;
  color: #323232;
}
 .gif{
    width: 90%;
    float: right;
}
.home-banner .img-1{
    margin-top: 10px;
}
.cook-steps h4 {
	font-family: ProximaNovaACond, sans-serif;
    position: relative;
    opacity: 0.8;
    font-weight: 500;
    font-size: 144px;
    color: #f4f4f4;
    text-align:center;
    letter-spacing: 0px;
    padding-left: 60px;

}
.cook-steps  img{
	    width: 60px;
    position: absolute;
    bottom: 27px;
    left: 170px;
    display: inline-block;
}
.cook-steps h4:nth-child(1) img{
	  left: 150px;
}
.custom-form-group{
  border-radius: 5px;
  border: solid 1px #28b6f6;
}
.search-section{
	margin-left: 0px;
    margin-right: 0px;
    width: 89%;
    margin: 5% 15px;
}
.custom-col{
	padding-left:0px;
	padding-right:0px;
}
.search-btn{
	text-align: center;
    width: 100%;
    height: 42px;
    background-color: #28b6f6;
    color: #fff;
    padding: 8px;
}
.find-a-cook h2{
 font-size: 24px;
     margin-bottom: 2%;
         margin-top: 3%;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 1.8px;
  text-align: center;
  color: #000000;
}
.find-a-cook h2 span{
	padding-bottom: 5px;
border-bottom:5px solid #28b6f6;
}
.Why-Handybro h2{
 font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  
    margin-bottom: 3%;
  letter-spacing: 1.8px;
  text-align: center;
  color: #000000;
}
.Why-Handybro h2 span{
	padding-bottom: 5px;
border-bottom:5px solid #28b6f6;
}

.cook-steps h3{
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  margin-bottom: 6%;
  letter-spacing: 1px;
  text-align: left;
  color: #353535;
}
.cook-steps p{
 font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 1px;
  text-align: left;
  color: #727272;
}
.space-spl{
	    margin-left: 20%;
}
.find-a-cook{
    margin: 1% auto 5%;
}
 .custom-colunm{
    width: 20%;
}
.inline-flex{
	    display: inline-flex;
}
.Why-Handybro h4{
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 1.8px;
  color: #353535;
}
.Why-Handybro p{
  font-size: 16px;
  font-weight: 400;
  width: 85%;
  margin: 0px auto;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 1.4px;
  text-align: center;
  color: #727272;
}
.Why-Handybro{
padding:50px 0%;
height: 600px;
}
.Why-Handybro .box img{
    width: 80px;
    margin-bottom: 15%;
}
.Why-Handybro .box{
    padding: 20% 0%;
}
.Why-Handybro .box:hover{
    padding: 20% 0%;
   /*  margin-top:-5%; */
   
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.6s ease-in-out 0s;
    background: #fff;
}

.box {

    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
}

.transition {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.Calculate-price{
padding:5% 0%;
}
.Calculate-price h2{
	margin-top: 18%;
 font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  
    margin-bottom: 10%;
  letter-spacing: 1.8px;
  text-align: left;
  color: #000000;
}
.Calculate-price h2 span{
	padding-bottom: 5px;
border-bottom:5px solid #28b6f6;
}
.Calculate-price p{
  font-size: 20px;
  margin-bottom: 10%;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.07;
  letter-spacing: 1.8px;
  text-align: left;
  color: #727272;
}
.cal-price{
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  
    padding: 12px;
    width: 60%;
    margin: 30px auto 0px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1.5px;
  text-align: center;
  color: #1a254e;
  background-color: #ffffff;
  box-shadow: 0px 2px 5.9px 2.1px rgba(0, 0, 0, 0.08);
}
.cal-gif{
    width: 100%;
}
.Calculate-price .Calculate-Price-btn {
	
    padding: 10px 35px !important;
    font-weight: 400 !important;;
    margin: 20px 0px !important;
}
.Calculate-price .Calculate-Price-btn{
	color:#28b6f6;
	text-decoration:none;
	background:transparent;
}
.Testimonials h2{
	 font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  
    margin-bottom: 7%;
  letter-spacing: 1.8px;
  color: #000000;
}
.Testimonials h2 span{
  padding-bottom: 5px;
  border-bottom:5px solid #28b6f6;
}
.Testimonials{
  padding:3% 0% 5%;
/*   background-color: #fbfbfb; */
}
.Testimonials .carousel-control{
    background: transparent;
    background-image: none;
}
.testimonial-user-img{
    width: 120px;
    border-radius: 50%;
    border: 2px solid transparent;
}
.Testimonials p{
	margin-bottom:8%;
    font-size: 19px;
    font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1.8px;
  text-align: center;
  color: #595959;
}
.Testimonials h5{
 font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  
    margin-bottom: 0px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #000000;
}
.Testimonials h6{
	
    margin-top: 0px;
  opacity: 0.5;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.76;
  letter-spacing: 1.3px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.Our-Blog h2{
 font-size: 24px;
  font-weight: 500;
  text-align:center;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 1.8px;
  color: #000000;
}
.Our-Blog h2 span{
	padding-bottom: 5px;
border-bottom:5px solid #28b6f6;
}
.blog-box{

  background-color: #fbfbfb;
}
.blog-box h4{
  font-size: 24px;
  
    margin-top: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  color: #000000;
}
.blog-box p{
	    height: 140px;
    overflow: hidden;
    font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  color: #000000;
	
}
.custom-img{
	margin-top: -20%;
    width: 85px;
    margin-left: 30px;
    margin-right: 30px;

 }
.blog-box a{
  font-size: 18px;
  text-decoration:none;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.61;
  letter-spacing: 0.1px;
  text-align: left;
  color: #28b6f6;
}
.blog-box a:hover{
  color: #28b6f6;
  font-size: 18px;
  text-decoration:none;
}
.blog-box img{
    width: 100%;
}
.spacier{
    padding: 5% 0%;
}
.Our-Blog{
    padding: 3% 0% 0%;
}

.subscription-div{
 padding: 3% 0%;
  background-color: #fbfbfb;
}
.subscription-div .input-group-addon{
	    padding: 0px 20px;
    background-color: transparent;
    border: 1px solid transparent;
}
.subscription{
    width: 70%;
    margin: 5% auto;
}
.subscription-div .form-control{
	    background: transparent;
    border-radius: 0px;
    
    padding: 6px 12px 6px 0px;
     font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1.5px;
  text-align: left;
  color: #545454;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000;
    background-image: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}
.carousel-custom{
    width: 60%;
    margin: 0px auto;
}
.subscribe-btn{
	    padding: 5px 20px !important;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
       font-size: 17px;
        margin: 0px;
        text-transform:capitalize;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
   
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff !important;
    background-color: #28b6f6;
}

/* mobile screen */

@media only screen and (max-width:767px) and (min-width:200px){
	.Testimonials .carousel-control img{
    width: 25px;
    margin-top: 100px;
}
.Testimonials p {
    margin-bottom: 25%;
    font-size: 14px;
   margin-top: 11%;
}
.testimonial-user-img {
    width: 90px;
    border-radius: 50%;
}
.Testimonials h5 {
    font-size: 16px;
}
.Testimonials h6 {
    margin-top: 0px;
    opacity: .9;
    font-size: 15px;
}
.blog-box img {
    width: 100%;
    height: 170px;
}
.blog-box h4 {
	
    padding-left: 10px;
    font-size: 18px;
}
.blog-box p {
	
    padding-left: 10px;
    height: 100px;
    overflow: hidden;
    font-size: 14px;
}
.blog-box a {
	
    padding-left: 10px;
    font-size: 14px;
}
.blog-box {
    background-color: #fbfbfb;
    margin-bottom: 5%;
    border: 2px solid #e2e2e2;
}
.blog-box .col-sm-7{
	
}
.first-user{
	display:none;
}
.third-user{
	display:none;
}
   .home-banner h1{
    font-size: 19px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: 1px;
}
.home-banner .img-1 {
    margin-top: 0px;
    width: 45px;
    height: 45px;
}
.home-banner h4 {
    font-size: 16px;
    text-align: center;
}
.home-banner p {
    font-size: 12px;
    text-align: center;
    font-weight: 400;
}
.home-banner-row .col-sm-4 .row{
    text-align: center;
    height: 130px;
}
.spl-row {
    margin: 6% 0% 9%;
    border-bottom: 2px solid #f2f2f2;

}
.select-bg {
    height: 42px;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    padding: 5px 10px;
}
.search-btn {
    padding: 4px;
}
.custom-container {
    width: 90%;
}
.gif {
    width: 100%;
}
.search-section {
    margin-left: 0px;
    margin-right: 0px;
    width: 95%;
    margin: 3% 10px 0px;
}
.home-banner {
    margin-top: 60px;
}
.find-a-cook h2 {
    font-size: 18px;
}
.cook-steps img {
    width: 45px;
}
.cook-steps h4:nth-child(1) img {
    left: 100px;
}
.cook-steps h4 {
    font-size: 100px;
}
.space-spl {
    margin-left: 8%;
}
.cook-steps p {
    font-size: 14px;
}
.cook-steps h3 {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    margin-bottom: 3%;
}
.Why-Handybro h2 {
    font-size: 18px;
}
.Calculate-price h2 {
    font-size: 18px;
        text-align: center;
    }
    .Testimonials h2 {
    font-size: 18px;
    }
    .Our-Blog h2 {
    font-size: 18px;
    }
    .custom-colunm {
    width: 100%;
}
.Calculate-price{
	text-align: center;
}
.Why-Handybro .inline-flex {
    display: inline-block;
}
.Why-Handybro .box img {
    width: 70px;
    margin-bottom: 1%;
}
.Why-Handybro h4 {
    font-size: 15px;
    }
    .Why-Handybro p {
    font-size: 13px;
    }
    .Why-Handybro .box {
    padding: 5% 0%;
}
.Why-Handybro {
    padding: 5px 0%;
    height: auto;
    }
    .Calculate-price p {
    font-size: 15px;
    margin-bottom: 10%;
        text-align: center;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    }
    .cal-gif {
    width: 60%;
    margin-top: 12%;
    }
    .cal-price {
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    padding: 8px;
    }
   .subscribe-btn {
    padding: 5px 14px !important;
    width: 96px;
    margin-top: -8px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 12px;
}
.subscription-div  .custom-container {
    width: 100% !important;;
}
   .subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 0px 6px 0px;
    font-size: 13px;
}
    .subscription-div .input-group-addon {
    padding: 0px 0px;
    }
}
@media only screen and (max-width:1140px) and (min-width:768px){
.home-banner h1 {
    font-size: 22px;
}
.home-banner .img-1 {
    margin-top: 10px;
    width: 50px;
}
.home-banner h4 {
    font-size: 17px;
}
.home-banner p {
    font-size: 13px;
}
.select-bg {
    height: 42px;
    font-size: 13px;
}
.find-a-cook h2 {
    font-size: 20px;
}
.cook-steps h4:nth-child(1) img {
    left: 60px;
}
.cook-steps img {
    width: 48px;
}
.cook-steps h4 {
    font-family: ProximaNovaACond, sans-serif;
    position: relative;
    opacity: 0.8;
    font-weight: 500;
    font-size: 110px;
}
.cook-steps h3 {
    font-size: 18px;
}
.cook-steps p {
    font-size: 15px;
}
.Why-Handybro h2 {
    font-size: 20px;
}
.Calculate-price h2 {
    font-size: 20px;
}
.Testimonials h2 {
    font-size: 20px;
}
.Our-Blog h2 {
    font-size: 20px;
}
.gif {
    width: 90%;
    margin-top: 60px;
}
.Why-Handybro .box img {
    width: 50px;
}
.Why-Handybro h4 {
    font-size: 13px;
}
.Why-Handybro p {
    font-size: 12px;
    font-weight: 400;
    width: 95%;
}
.Why-Handybro {
    padding: 20px 0%;
    height: 370px;
}
.Calculate-price p {
    font-size: 16px;
    
}
 .Calculate-price br{
 display:none;
 }
 .Calculate-Price-btn {
    padding: 5px 5px !important;
    width: 150px;
    font-size: 13px;
 }
 .Testimonials p {
    margin-bottom: 8%;
    font-size: 15px;
}
.Testimonials .carousel-control img{
    width: 40px;
}
.carousel-custom {
    width: 68%;
}
.testimonial-user-img {
    width: 100px;
}
.custom-img {
    margin-top: -20%;
    width: 75px;
}
.Testimonials h5 {
    font-size: 16px;
}
.Testimonials h6 {
    margin-top: 0px;
    opacity: .9;
    font-size: 15px;
}
.blog-box h4 {
    font-size: 18px;
    margin-top: 10px;
}
.blog-box p {
    height: 100px;
    overflow: hidden;
    font-size: 14px;
}
.blog-box a {
    font-size: 13px;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 12px 6px 0px;
    font-size: 16px;
}
.subscribe-btn {
    padding: 5px 10px !important;
    width: 150px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 13px;
}
.subscription {
    width: 90%;
    margin: 2% auto;
}
}
.search-section .custom-col{
	    padding-right: 0px;
    padding-left: 0px;
}