
@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
	font-family: 'Roboto', sans-serif !important;
}
.user-space{

     background: transparent  !important;;
}
@media only screen and (min-width:768px){
	header .custom-navbar .container-fluid {
	    padding-right: 15px !important;;
	    padding-left: 15px !important;;
	}
}
.nav-inline-img{
	display:inline-flex;
}
 .nav-inline-img img:nth-child(1){
    margin-top: -10px;
    margin-right: 7px;
        height: 40px;
}
 .nav-inline-img img:nth-child(2){
    width: 108px;
    margin-top: 4px;
    height: 24px;
}
@media only screen and (max-width:767px) and (min-width:200px){
	.nav-inline-img img:nth-child(1) {
    margin-top: -12px  !important;;
    width: 36px !important;
    height: 34px  !important;;
    margin-right: 7px  !important;;
}
.custom-brand img:nth-child(2) {
      width: 100px !important;
    margin-top: -1px !important;
    height: 21px;
}
	

	}
.banner-how-we-work h1{
  font-size: 45px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #000000;
}
@media only screen and (min-width:768px) {
	.subscribe-btn{
		background:#28b6f6 !important;
		font-size: 15px !important;;
	    font-weight: 400 !important;;
	}
	.subscribe-btn:hover{
		background:#28b6f6 !important;
		font-size: 15px !important;;
	    font-weight: 400 !important;;
	}
}
.banner-how-we-work {
    margin: 12% 5% 0%;
}
h2{
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #28b6f6;
}
h3{
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    letter-spacing: 1px;
    color: #4b4b4b;
}
.banner-img{
    width: 600px;
}
.tilrPaths-section-content-graphic {
    max-height: 19em;
}

@media only screen and (max-width:1200px) and (min-width:768px){
	.nav-inline-img img:nth-child(1){
	    width: 37px !important; ;
	}
	.banner-img{
    width: 400px !important;
	}
	.tilrPaths-section-content-graphic {
	    max-height: 12em !important;;
	}
	.banner-how-we-work h1 {
    font-size: 30px;
	}
	h2 {
    font-size: 22px;
	}
	h3 {
    font-size: 18px;
	}
}


@media only screen and (max-width:768px) and (min-width:200px){
	header .custom-navbar .container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
	.banner-how-we-work h1 {
	    font-size: 15px;
	}
	.banner-img {
	    width: 140px;
	}
	.banner-how-we-work {
    margin: 18% 5% 5%;
    }
    .tilrPaths-section-content-graphic {
    max-height: 7em;
   }
   h2 {
    font-size: 18px;
   }
   h3 {
    font-size: 13px;
   }
   .subscription-div {
    padding: 3% 0%;
    background-color: #fbfbfb;
	}
	.subscription {
    width: 90%;
	}
	.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 0px 6px 0px;
    font-size: 13px;
	}
	.form-control {
    /* height: 25px; */
    padding: 6px 7px;
    font-size: 12px !important;
	}
	.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 12px 6px 0px;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #545454;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000;
    background-image: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    }
    .subscribe-btn {
    padding: 5px 14px !important;
    width: 96px;
    font-weight: 400;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 12px;
	}
	.subscription-div .input-group-addon {
	    padding: 0px 0px;
	}
	}
	@media (max-width: 640px){
	.tilrPaths-section {
	    height: 15em !important;
	    top: -1em !important;
	}
	.tilrPaths-section.-four {
	    margin-bottom: 4em !important;
	}
}