.navigation-bar>li.active>a, .navigation-bar>li.active>a:focus, .navigation-bar>li.active>a:hover {
    color: #4ab7f6 !important;;
    background-color: transparent !important;
}
.custom-padding .white-box.subscription1 .text-center h3{
	text-align:center !important;;
}
.custom-padding .white-box.subscription1 .text-center h4{
	 margin: 6% 0% 10% !important;;;
}
.wallet .white-box.subscription1 .list {
    margin: 0% 0% 1%  !important;; ;
}
.white-box .booking-div img{
    width: 84px;
    margin-top: 3px;
      background: #ffffff;
    border-radius: 50%;
}
.navigation-bar>li a:hover{
	 background-color: transparent !important;
}
.my-profile {
    margin-top: 5.5%;
    width:97%;
}
.customer-profile{
	width:130px;
	border: 2px solid #f2f2f2;
	height:130px;
	border-radius:50%;
}
.fileContainer {
    overflow: hidden;
    position: relative;
}

.edit-photo {
    font-size: 11px;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #000000;
}
.fileContainer [type=file] {
    cursor: pointer;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.fileContainer {
    overflow: hidden;
    position: relative;
    display: inherit;
}
.customer-photo h3{
  margin-top: 0px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: 1.4px;
  text-align: center;
  color: #000000;
}
.grey-bg{
	 background-color: #efefef;
}
.profile-tab{
    margin: 10% 7%;
      border-radius: 4px;
}
.profile-tab li{
 background-color: #f4f4f4;
}
.custom-pills>li>a {
    border-radius: 0px;
}
.custom-pills .active{
	  border-radius: 4px;
 background-color: #28b6f6;
}
.profile-tab li {
    background-color: #f4f4f4;
    border-radius: 4px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #28b6f6;
}
.profile-tab .nav>li>a {
    position: relative;
    display: block;
    padding: 15px 15px;
}
.profile-tab a{
	font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: 1.2px;
  text-align: left;
  color: #002d42;
	
}
.profile-tab a:hover{
	  color: #002d42;
}
.custom-padding{
	    padding: 5%;
}
.custom-padding h2{
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
    color: #28b6f6;
}
.white-box {
    background: #fff;
    padding: 5%;
    margin: 5% 0%;
}
.customer-photo{
    margin-top: 20%;
}
.subscription1 h3{
    font-size: 18px;
    font-weight: 400;
}
.subscription1 h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 6% 0% 7%;
}
.Book-your-Cook-btn {
	text-decoration:none;
    font-weight: 400;
}
.Book-your-Cook-btn:hover {
	text-decoration:none;
}
.booking-div p{
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1.1px;
  text-align: center;
  color: #6b6b6b;
}
.done p{
	color: #28b6f6 !important;
}
.line {
    position: absolute;
    border: 1.5px dashed #28b6f6;
    width: 60%;
    text-align: center;
    margin: 4.5% 10%;
}
.booking-div{
    padding: 5% 0%;
}
.booking-info{
    border-radius: 5px;
    width: 58%;
    margin: 5% auto;
    padding: 5%;
    background-color: #fff;
    border: solid 1px #28b6f6;
}
.subscription1 h3 {
    line-height: 1.5;

}
.booking-info h6 {
    font-size: 18px;
    margin: 6%;
}
.booking-info h5 span{

}
.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #4ab7f6;
}
.payment-history .panel-default {
    border-color: #28b6f6;
}

.payment-history h3{
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
    color: #000000;
}
.payment-history .panel-body{
	padding:0px;
}
.details h4{
	margin: 0px;
    background-color: #28b6f6;
    padding: 4px 30px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
    color: #ffffff;
}
.details h5{
	margin: 0px;
    padding: 4px 15px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
}
.sub-total{
    background-color: #28b6f6;
    margin-left: 0px;
    margin-right: 0px;
    padding: 2% 0%;
}
.headcount{
	margin-left: 0px;
    margin-right: 0px;
    padding: 2% 0%;
}
.total{
   margin-left: 0px;
   margin-right: 0px;
   padding: 2% 0%;
}
.head-row{
	
    margin-right: 0px;
    margin-left: 0px;
}
.total .Book-your-Cook-btn {
    font-weight: 400 !important;
    float: right;
    width:auto;
    margin: 0px !important;;
}
.sub-total h5{
	color:#fff !important;
}
.reffer-n-earn h3{
  font-size: 22px;
  margin: 4% 0%;
  font-weight: normal;
  text-transform:uppercase;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 1.8px;
  color: #28b6f6;
}
.reffer-n-earn h3 span{
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid #4ab7f6;
}
.reffer-n-earn  p{
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 1px;
  text-align: center;
  color: #000000;
	
}
.wallet p{
	font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.84;
  letter-spacing: 1px;
  color: #162345;
  margin-bottom:0px;
}
.wallet h3 {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #787878;
}
.wallet h3 span{
	color:#28b6f6;
	font-size: 25px;
	 padding: 0px 0px;
}
.add-points{
    color: #4ab7f6 !important;
}
.card{
	background-color: #ffffff;
  box-shadow: 0px 3px 5.1px 2.9px rgba(139, 139, 139, 0.49);
  padding:5px 15px;
  margin: 0px 0px 15px;
}
.list{
    margin: 5% 0% 1%;
}
.basic-info .show-password {
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    float: right;
    margin-top: 8px;
    padding: 0px 0px;
    background: transparent;
    text-transform: uppercase;
    border: none;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #000000;
}
/* .social-medial-img {
    width: 17px !important;;
    margin: 5px 10px !important;;
} */
.basic-info .form-control{
    border: none;
    height: 26px;
    
    font-size: 15px;
    padding: 6px 0px !important;;;
    background: transparent;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    background-image: none;
    border-radius: 0px;
}
.basic-info h3{
	
    margin-left: -17px;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    margin-top: 0px;
    line-height: 2.31;
    margin-bottom: 20px;
    
    border: 1px solid #ececec;
    letter-spacing: 1.4px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 1px 4.5px 0.5px rgba(69, 68, 68, 0.1);
    text-align: center;
    color: #28b6f6;
}
 .basic-info .col-md-6{
    padding: 0% 5%;
}
.basic-info .inline-flex{
    padding-left: 2px;
    padding-right: 2px;
    
    margin-top: 20px;
    border-bottom: 1px solid #b5b5b5;
    border-radius: 0px;
}
.basic-info .glyphicon{
    color: #4ab7f6;
}
.basic-info .Book-your-Cook-btn {
    font-weight: 400 !important;;
    margin: 21px 10px 21px 10px !important;;
    
}
.basic-info .Book-your-Cook-btn:hover {
    font-weight: 400 !important;;
    text-decoration:none;
    margin: 21px 10px 21px 10px !important;;
}
.Book-your-Cook-btn {
    font-weight: 400 !important;;;
    padding: 7px 30px !important;
}
.spl-btn{
	margin-top: 30px;
	padding: 8px 30px !important;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff !important;
    background-color: #28b6f6;
}
.spl-btn:hover{
	text-decoration:none;
	color:#fff;
}
.total .spl-btn{
	float:right;
}
@media only screen and (max-width:1200px) and (min-width:768px){
.subscribe-btn {
    padding: 5px 0px !important;
    width: 150px !important;;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 15px !important;;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
        height: 25px;
    padding: 6px 12px 6px 0px;
 font-size: 15px !important;;
}
.subscription {
    width: 90%;
    margin: 2% auto;
}
.subscription-div {
    padding: 3% 0%;
    background-color: #fbfbfb;
}
 }
 
@media only screen and (max-width:767px) and (min-width:200px){

	.subscription-div .custom-container {
    width: 100% !important;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 0px 6px 0px;
    font-size: 13px;
}
.subscription-div .input-group-addon {
    padding: 0px 0px;
}
.subscribe-btn {
    padding: 5px 14px !important;
    width: 96px;
    margin-top: -3px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
       font-size: 13px;
    text-transform: capitalize;
     color: #ffffff !important;
    background-color: #28b6f6;
}
.subscription-div .input-group-addon {
    padding: 0px 0px;
    border: none;
}
.subscription-div {
    padding: 5% 0%;
    background-color: #fbfbfb;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
     font-size: 14px;
    padding: 6px 12px 6px 0px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #545454;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000 !important;
    background-image: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}


	}
	@media only screen and (min-width:767px) {
.subscription-div {
    padding: 3% 0%;
    background-color: #fbfbfb;
}
.subscription {
    width: 70%;
    margin: 5% auto;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 12px 6px 0px;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #545454;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000 !important;
    background-image: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}
.subscription-div .input-group-addon {
    padding: 0px 20px;
    background-color: transparent;
    border: 1px solid transparent;
}
.subscribe-btn {
	 margin-top: -5px;
    padding: 5px 20px !important;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 17px;
    text-transform: capitalize;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff !important;
    background-color: #28b6f6;
}
}
.alert-mssg{
	text-align:center;
	font-size: 16px;
	color: #28b6f6 !important;
}
@media only screen and (max-width:1200px) and (min-width:768px){
	.line {
    width: 63% !important;;
    margin: 4.5% 12% !important;;
	}
	.my-profile {
      margin-top: 9.5%;
      width: 100%;
	}
	.alert-mssg{
	text-align:center;
	font-size: 14px;
	color: #28b6f6 !important;
    }
	.payment-history h3 {
    font-size: 14px;
	}
	.details h4 {
    font-size: 14px;
	}
	.subscription1 h3 {
    margin: 0% 0%;
    font-size: 14px;
   }
   .reffer-n-earn p {
    font-size: 14px;
   }
   .basic-info .white-box {
    background: #fff;
    padding: 5% 5%;
   }
   .reffer-n-earn br{
   display:none;
   }
   .basic-info .form-control {
    font-size: 14px;
   }
   .basic-info .show-password {
    font-size: 9px;
    margin-top: -15px;
   }
   .spl-btn {
    padding: 4px 20px !important;
   }
   .wallet p {
    font-size: 14px;
   }
	.total .spl-btn {
    padding: 8px 30px !important;
    width: 160px;
	}
	.details h5 {
    font-size: 14px;
	}
	.customer-photo h3 {
      margin-top: 0px;
      font-size: 16px;
	}
	.subscription1 h3 {
    font-size: 15px;
	}
	.subscription1 h4 {
    font-size: 18px;
    font-weight: 400;
    /* margin: 6% 0% 10%; */
    margin : 0% 0% 0%
   }
   .custom-padding {
    padding: 5% 1%;
   }
   .booking-div {
    padding: 10% 0% 4%;
}
.booking-div p {
    font-size: 14px;
    line-height: 1 !important;
}
.white-box {
    background: #fff;
    padding: 5% 3%;
}
.booking-info {
    border-radius: 5px;
    width: 95%;
}

  .white-box .booking-div img {
    width: 45px !important;;
    }
	.custom-padding h2 {
      font-size: 20px;
	}
	.profile-tab a {
    font-size: 14px;
    line-height: 1.5;
	}
	.customer-profile {
	    width: 100px;
	    border: 2px solid #f2f2f2;
	    height: 100px;
	    border-radius: 50%;
	}
}
@media only screen and (max-width:767px) and (min-width:200px){
	.basic-info .subscription1 .spl-btn {
	    width: 120px;
	}
	.reffer-n-earn .subscription1 h3{
	     margin: 5%
	}
	.wallet .list {
    margin: 0% 0% 1%;
	}
	.details .table{
	
     font-size: 13px !important;;; ;
	}
	.my-profile {
      margin-top: 9.5%;
      width: 100%;
	}
	.edit-photo {
    font-size: 10px;
	}
	.profile-tab {
    margin: 10% 15%  !important;;;
	}
	.profile-tab a {
    font-size: 13px !important;;
    line-height: 1.5;
    padding: 6px 5px !important;
    text-align: center;
    }
	.alert-mssg{
	text-align:center;
	font-size: 14px;
	color: #28b6f6 !important;
    }
	.payment-history h3 {
    font-size: 13px;
	}
	 .payment-history .glyphicon{
    float: right;
	}
	.details h4 {
    font-size: 14px;
	}
	.subscription1 h3 {
/*     margin: 3% 0%; */
	margin:0% 0%;
    font-size: 13px;
   }
   .form-horizontal{
    padding: 2% 5%;
   }
   .subscription-div .input-group-addon {
    background-color: transparent;
   }
   .basic-info .form-control {
    /* height: 25px; */
    padding: 6px 7px;
    font-size: 14px !important;
}
   .reffer-n-earn p {
    font-size: 13px;
   }
   .basic-info .white-box {
    background: #fff;
    padding: 5% 5%;
   }
   .reffer-n-earn br{
   display:none;
   }
   .basic-info .form-control {
    font-size: 14px;
   }
   .basic-info .show-password {
    font-size: 9px;
    margin-top: 5px;
   }
   .spl-btn {
    padding: 4px 20px !important;
   }
   .wallet p {
    font-size: 14px;
   }
	.total .spl-btn {
    padding: 4px 18px !important;
    width: 200px;
    text-align: center;
    float: none;
    margin: 10px auto;
   }
	.total .col-xs-12{
	  padding: 16px;
	  text-align: center;
	}
	.payment-history a:hover{
	text-decoration:none
	}
	.payment-history a:focus{
	text-decoration:none
	}
	.details h5 {
    font-size: 13px;
	}
	.reffer-n-earn h3 span {
    padding: 7px 20px;
	}
	.customer-photo h3 {
      margin-top: 0px;
      font-size: 14px;
	}
	.subscription1 h3 {
    font-size: 14px;
	}
	.wallet p {
    font-size: 14px;
    line-height: 1.5;
    }
	.subscription1 h4 {
    font-size: 15px;
    font-weight: 400;
    margin: 0% 0% 2%;
   }
   .line {
    position: absolute;
    border-left: 1.5px dashed #28b6f6;
    width: 0px;
    height: 200px;
    text-align: center;
    margin: 4.5% 46%;
}
.wallet h3 span {
    color: #28b6f6;
    padding: 0px 8px;
}
.booking-div .col-sm-4{
    height: 100px;
}
   .custom-padding {
    padding: 5% 1%;
   }
   .booking-div {
    padding: 10% 0% 0%;
}
.booking-div p {
	background: #ffffff;
    font-size: 13px;
    line-height: 1 !important;
}
.booking-info h6 {
    font-size: 16px;
    margin: 6%;
}
.booking-info h5 {
    font-size: 13px;
}
.white-box {
    background: #fff;
    padding: 5% 3%;
}
.booking-info {
    border-radius: 5px;
    width: 95%;
}
  .white-box .booking-div img {
    width: 37px !important;;
    margin-top: 0px !important;;
}
	.custom-padding h2 {
    font-size: 18px;
    text-align: center;
}
	.profile-tab a {
    font-size: 14px;
    line-height: 1.5;
	}
	.customer-profile {
    width: 100px;
    border: 2px solid #f2f2f2;
    height: 100px;
    border-radius: 50%;
}
}