.search-section{
	margin-left: 0px;
    margin-right: 0px;
    width: 95%;
    margin: 5% 15px;
}
.time-slot-price{
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
input[type=range]::-moz-range-track {
  background-color: #d5d5d5;
}
.select-time-div p{
    font-size: 15px;
    margin-top: 10px;
    width: 100%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
    color: #000000;
}
.contactus h3 {
    font-size: 16.5px;
}
.time-slot-price{
    margin: 13px 0px 0px;
}
@media only screen and (min-width:768px){
	.btn-div .search-btn {
    text-align: center;
    width: 50% !important;
    height: 42px;
    background-color: #28b6f6;
    color: #fff;
    font-size: 14px;
    border-radius: 6px;
    letter-spacing: 1px;
    padding: 7px
}
	
}
@media only screen and (max-width:1200px) and (min-width:768px){
	.checkbox {
    font-size: 13px !important;;
    padding: 5px 5px !important;;
    width: 100% !important;
}
.select-time-div label {
    font-size: 13px !important;;;
    margin-top: 0px !important;;;
}
.select-time-div {
    margin: 30px -15px !important;;
}
.selet-meal .col-sm-4{
	padding-left:5px;
	padding-right:5px;
}
}

@media only screen and (max-width:767px) and (min-width:200px){
	.Contact-us-div h3 {
    font-size: 16px !important;
	}
	.selectize-control .selectize-input:nth-child(1) {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px;
    border: 1px solid #4ab7f6;
}
.search-section .custom-form-group .custom-col{
	 margin-bottom: 7px;
}
	.custom-form-group {
    border-radius: 5px;
   border: solid 0px #28b6f6 !important;;; 
}
	.slidecontainer p {
    font-size: 14px !important;;
    margin-top: -7px;
}
	.checkbox {
    font-size: 13px !important;;
    padding: 5px 15px !important;;
    width: 100% !important;
}
.search-section {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
     margin:5% 0px;
}
.selectize-input.full {
    background-color: transparent !important;;
    border: 1px solid #4ab7f6;
    border-radius: 4px !important;
} 
.grey-bg .p1 p {
    font-size: 14px !important;
}
.contactus h3 {
    font-size: 18px !important;;
}
.search-btn{
	height: 40px !important;
	 border-radius: 4px !important;
}
.select-time-div label {
    font-size: 13px !important;;;
    margin-top: 0px !important;;;
}
.select-time-div {
    margin: 30px -15px !important;;
}
.selet-meal .col-sm-4{
	padding-left:5px;
	padding-right:5px;
}
}

.grey-bg .tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #000;
    font-size: 13px;
    border: 1px solid #28b6f6;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
}
.grey-bg .tooltip.top .tooltip-arrow{
	border-top-color:#28b6f6;
}
.grey-bg .tooltip{
    top: -45px;
    }
.slidecontainer p {
    font-size: 17px;
    margin-top: -17px;
    padding: 3px 7px;
    width: 50px;
    border-radius: 4px;
    border: 1px solid #4ab7f6;
}
.custom-form-group {
    border-radius: 5px;
    border: solid 1px #28b6f6;
}
.search-section .custom-col {
    padding-right: 0px;
    padding-left: 0px;
}
.slidecontainer p{
    font-size: 18px;
    margin-top: -7px;
}
.search-btn {
    text-align: center;
    width: 100%;
    height: 42px;
    background-color: #28b6f6;
    color: #fff;
    
    font-size: 14px;
    letter-spacing: 1px;
    padding: 7px;
}

.slidecontainer {
    width: 98.5%;
}
.grey-bg .p1 p {
    font-size: 15px;
    margin-top: 50px;
    width: 100%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
    color: #000000;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.checkbox{
 font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
  padding:5px 15px;
/*   width:150px; */
  border-radius: 5px;
  background-color: #00000000;
  border: solid 1px #28b6f6;
}
.select-time-div label{
  font-size: 15px;
  margin-top: 10px;
      width: 100%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
}
.select-time-div{
    margin: 20px -15px;
}
.select-time-div .selectize-input{
	
    border-radius: 5px;
    border: solid 1px #28b6f6;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border: 0;
    background: url('../images/form/add.png') 5px no-repeat;;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 50px;
    height: 50px;
    border: 0;
    background: url('../images/form/add.png') 5px no-repeat;;
    cursor: pointer;
}

@charset "UTF-8";
.contactus{
    margin-top: 5.5%;
}
@media only screen and (max-width:1200px) and (min-width:768px){
.contactus {
    margin-top: 10%;
}
	.subscribe-btn {
    padding: 5px 0px !important;
    width: 150px !important;;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 15px !important;;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 12px 6px 0px;
 font-size: 15px !important;;
}
.subscription {
    width: 90%;
    margin: 2% auto;
}
.subscription-div {
    padding: 3% 0%;
    background-color: #fbfbfb;
}
 }
 
@media only screen and (max-width:767px) and (min-width:200px){
	.row {
    margin-right: 0px !important;;
margin-left: 0px !important;;
}
/* 	.contactus{
    margin-top: 19%;
} */
	.subscription-div .custom-container {
    width: 100% !important;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 0px 6px 0px;
    font-size: 13px;
}
.subscription-div .input-group-addon {
    padding: 0px 0px;
}
.subscribe-btn {
    padding: 5px 14px !important;
    width: 96px;
    margin-top: -3px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
       font-size: 13px;
    text-transform: capitalize;
     color: #ffffff !important;
    background-color: #28b6f6;
}
.subscription-div .input-group-addon {
    padding: 0px 0px;
    border: none;
}
.subscription-div {
    padding: 5% 0%;
    background-color: #fbfbfb;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
     font-size: 14px;
    padding: 6px 12px 6px 0px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #545454;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000 !important;
    background-image: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}


	}
	@media only screen and (min-width:767px) {
	.custom-btn1 {
    padding: 8px 30px !important;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 14px !important;;
	}
	.subscription-div {
	    padding: 3% 0%;
	    background-color: #fbfbfb;
	}
	.subscription {
	    width: 70%;
	    margin: 5% auto;
	}
	.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 12px 6px 0px;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #545454;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000 !important;
    background-image: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	}
	.subscription-div .input-group-addon {
    padding: 0px 20px;
    background-color: transparent;
    border: 1px solid transparent;
	}
	.subscribe-btn {
	 margin-top: -5px;
    padding: 5px 20px !important;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 17px;
    text-transform: capitalize;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff !important;
    background-color: #28b6f6;
}
}
.white-bg{
	padding:5% 5%;
	
}
.grey-bg{
	padding:3% 5% !important;
	height:100%;
	 background-color: #efefef;
}
.custom-form {
	
    padding: 5% 5%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #fff;
}
.contactus h1{
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 1px;
  text-align: left;
  color: #28b6f6;
}
.contactus h3{
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 1px;
  text-align: center;
  color: #000000;
}
.btn-div {
	padding:5%;
}
.contact-form {
    background: #fff;
     padding-top: 3%;
       margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0px 7px 25.1px 1.9px rgba(69, 68, 68, 0.1);
    border-radius: 5px;
}
.Contact-info{
	padding:10% 0%;
}
.Contact-info img{
    width: 30px;
    height:33px;
    margin: 0px 15px;
}
.Contact-info p{
 font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
}
.mtop{
	margin-top:5%;
}
.white-bg img{
margin-top: 5%;
    }
    @media only screen and (max-width:1200px) and (min-width:768px){
    .white-bg img {
    margin-top: 50px;
    width: 100%;
}
.contactus h1{
font-size: 22px;
}
.grey-bg {
    padding: 3% 4%;
}
.contactus h3 {
    font-size: 18px;
}
.contactus h3 img{
    width: 20px;
}
.custom-btn1 {
    padding: 5px 20px !important;
    width: 130px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 14px;
}
.Contact-info img {
    width: 22px;
    height: 24px;
    margin: 0px 15px;
}
.Contact-info .inline-flex {
    margin-bottom: 5%;
}
.Contact-info p {
    font-size: 14px;
}
    }
    
@media only screen and (max-width:767px) and (min-width:200px){
	.search-section .custom-col {
    padding-right: 15px  !important;;
    padding-left: 15px  !important;;
	}
	  .white-bg img {
    margin-top: 20px;
    width: 60%;
}
.contactus h3 img{
    width: 15px;
}
.contactus h1 {
    font-size: 18px;
}
.contactus h3 {
    font-size: 16px;
}
.white-bg {
    padding: 5% 0%;
}
.Contact-info img {
    width: 22px;
    height: 24px;
    margin: 0px 15px 0px 0px;
}
.Contact-info .inline-flex {
    margin-bottom: 5%;
}
.mtop {
    margin-top: 0%;
}
.Contact-info p {
    font-size: 14px;
}
	}
	.custom-btn1:hover{
	text-decoration:none;
	}