@charset "UTF-8";
@media only screen and (max-width:1200px) and (min-width:768px){
.subscribe-btn {
    padding: 5px 0px !important;
    width: 150px !important;;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 15px !important;;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 12px 6px 0px;
 font-size: 15px !important;;
}
.subscription {
    width: 90%;
    margin: 2% auto;
}
.subscription-div {
    padding: 3% 0%;
    background-color: #fbfbfb;
}
.privacy-policy-banner {
    padding: 10% 0% 5% !important;;
}

.privacy-policy-banner h1 {
    font-size: 30px !important;;
}
.spl-div h2 {
    font-size: 18px;
}
.specific-div h3 {
    font-size: 17px;
}
.specific-div p {
    font-size: 14px;
}
 }
 
@media only screen and (max-width:767px) and (min-width:200px){
.subscription-div .custom-container {
    width: 100% !important;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 0px 6px 0px;
    font-size: 13px;
}
.subscription-div .input-group-addon {
    padding: 0px 0px;
}
.subscribe-btn {
    padding: 5px 14px !important;
    width: 96px;
    margin-top: 5px;
        letter-spacing: 1px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
       font-size: 13px;
    text-transform: capitalize;
     color: #ffffff !important;
    background-color: #28b6f6;
}
.subscription-div .input-group-addon {
    padding: 0px 0px;
    border: none;
}
.subscription-div {
    padding: 5% 0%;
    background-color: #fbfbfb;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
     font-size: 14px;
    padding: 6px 12px 6px 0px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #545454;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000 !important;
    background-image: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}

.privacy-policy-banner h1 {
    font-size: 22px !important;;
}
.privacy-policy-banner {
    padding: 15% 0% 5% !important;;
}
.spl-div h2 {
    font-size: 15px !important;;;
}
.specific-div h3 {
    font-size: 15px !important;;;
}
.specific-div p {
    font-size: 13px !important;;;
}
	}
	
	@media only screen and (min-width:767px) {
.subscription-div {
    padding: 3% 0%;
    background-color: #fbfbfb;
}
.subscription {
    width: 70%;
    margin: 5% auto;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 12px 6px 0px;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #545454;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000 !important;
    background-image: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}
.subscription-div .input-group-addon {
    padding: 0px 20px;
    background-color: transparent;
    border: 1px solid transparent;
}
.subscribe-btn {
	 margin-top: -5px;
    padding: 5px 20px !important;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 17px;
    text-transform: capitalize;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff !important;
    background-color: #28b6f6;
}
}
.privacy-policy-banner{
 background-image: url(../images/common/bg.png);
 background-repeat: no-repeat;
 background-size: cover;
 padding:7%;
 text-align:center;
}
.privacy-policy{
	margin-top:5%;
}
.privacy-policy-banner h1{
 font-size: 50px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}
.spl-div h2{
  font-size: 18px;
      margin-top: 0px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
}
.specific-div h3{
	font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
}
.specific-div p{
	    width: 95%;
	font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
}

.spl-div {
    padding: 5% 15px;
}
.custom-container{
	    width: 95%;
}
.specific-div{
    margin: 30px 0px;
}
.spl-div{
    padding: 2% 1%;
}