.resend-otp:hover{
	text-decoration:none;
	color:#000;
}
#Resend-OTP-form #resend-otp-fm .messageContainer{
	display: block;
    color: #a94442;
       margin-top: 4px;
    font-size: small;
    text-shadow: none;
    margin-left: 0px;
    font-size:small;
    margin-bottom: 10px;
}
.custom-form.bv-form #lg_response{
    display: block;
    color: #a94442;
    margin-top: -23px;
    font-size:small;
    text-shadow: none;
    margin-left: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}
.sidenav::-webkit-scrollbar { 
display: none; 
	}
	.sidenav1::-webkit-scrollbar { 
display: none; 
	}
.login-box{
	/* padding:25%; */
}
/* .signin-signup{
	height:500px;
} */
 .loginbtn img{
 
    margin-top: 250px;
    width: 57px;
}
.signupbtn img{
	 margin-top: 250px;
	 width: 57px;
}
.mtop-img{
    margin-top: -2px;
}
.sidenav {
    height: 800px;
    width: 50%;
    position: absolute;
    z-index: 2;
     padding-top: 7%;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: scroll;
    transition: 0.5s;
    text-align:center;
}
.loginbtn {
  border:none;
  background:transparent;
}
.loginbtn h2 {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 1px;
  color: #28b6f6;
}
.forget-password-div{
	display:none;
}
.signupbtn {
  border:none;
  background:transparent;
}
.signupbtn h2 {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 1px;
  color: #002d42;
}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
  /*   position: absolute; */
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav1 {
    height: 800px;
    width:50%;
    position:absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #efefef;
    overflow-x: scroll;
    transition: 0.5s;
    padding-top: 7%;
    text-align:center;
}

.sidenav1 .closebtn {
  /*   position: absolute; */
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */
.login-div{
	display:none;
}
.signup-div{
	display:none;
}
.login-form{
	padding:5% 10%;
	
}
.signup-form{
	padding:5% 10%;
	
}
.login-form .custom-form{
	margin-top:150px;
}
.signup-form .custom-form{
	margin-top:50px;
}
.login-form h4{
	 font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 2.7px;
  text-align: left;
  color: #28b6f6;
}
.social-media-icons img{
    width: 20px;
    margin: 5px;
}
.social-media-icons .img{
    width: 25px !important;
    margin: 5px;
}
.signup-form h4{
	 font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 2.7px;
  text-align: left;
  color: #28b6f6;
}
.social-media-icons{
	display:inline;
}
.text-left{
	text-align:left !important;
}
.back-login{
	cursor: pointer;
}
.forget-password{
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  float: right;
    font-stretch: normal;
    line-height:1.5;
    margin-top: 10px;
  background:transparent;
  border:none;
  z-index: 1000;
cursor: pointer;
  letter-spacing: 1.1px;
  text-align: left !important;;
  color: #000;
}
.forgot-text{
	  font-size: 15px;
  font-weight: 500;
  margin-bottom:30px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1.1px;
  text-align: left !important;;
  color: #000;
}
.OTP-text{
  font-size: 15px;
  font-weight: 500;
  margin-bottom:30px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1.1px;
  text-align: left !important;;
  color: #000;
}
.resend-otp{
    font-size: 15px;
    font-weight: 500;
    float: right;
    padding: 0px 15px;
    margin-bottom: 30px;
    font-style: normal;
    font-stretch: normal;
    line-height: 0;
    margin-top: 12px;
    letter-spacing: 1.1px;
    text-align: left !important;
    color: #000;
}
.resend-otp:hover{
	  color: #000;
}
.OTP-verification-div{
	display:none;
}
.custom-margin{
    margin: 7% 0% 4%;
}

.custom-form{
	 text-align: left !important;;
}
.custom-col{
	padding-left:0px;
	padding-right:0px;
}
 @media only screen and (max-width:1200px) and (min-width:768px){
.signup-form h4 {
    font-size: 22px;
}
.resend-otp {
    font-size: 13px;
}

.loginbtn img {
    margin-top: 200px;
    width: 60px;
}
.signupbtn img {
    margin-top: 200px;
    width: 60px;
}
.login-form h4 {
    font-size: 22px;
}
.login-form .custom-form {
    margin-top: 100px;
}
.forget-password {
    font-size: 14px;
}
.loginbtn h2 {
    font-size: 22px;
}
.signupbtn h2 {
    font-size: 22px;
}
}
 @media only screen and (max-width:767px) and (min-width:300px){
 .sidenav {
    height: 400px;
 }
 .sidenav1 {
    height: 400px;
 }
 .signin-signup{
   height: 400px !important ;
}
 .custom-navbar {
    height: 60px !important;
 }
 .loginbtn img {
    margin-top: 150px;
    width: 40px  !important;;
}
.signupbtn img {
    margin-top: 150px;
    width: 40px  !important;;
}
.signupbtn h2 {
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    margin-top: 10px;
    letter-spacing: 1px;
    color: #002d42;
}
.loginbtn h2{
	font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    margin-top: 10px;
    letter-spacing: 1px;
    color: #28b6f6;
}
.signup-form {
    padding: 20% 10%;
}
.signup-form h4 {
    font-size: 16px;
}
.signup-form .custom-form {
    margin-top: 30px;
}
.social-media-icons img {
    width: 14px;
    margin: 3px;
}
.social-media-icons .img {
    width: 20px !important;
    margin: 3px;
}
.forgot-text {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 12px;
}
.login-form {
    padding: 20% 10%;
}
.login-form h4 {
    font-size: 16px;
}
.login-form .custom-form {
    margin-top: 30px;
}
.forget-password {
    font-size: 11px;
    margin-top: -14px;
    padding-right: 15px;
}
.OTP-text {
    font-size: 12px;
}
.resend-otp {
    font-size: 11px;
    font-weight: 500;
    float: right;
    padding: 0px 15px;
    margin-top: -15px;
}
.custom-margin {
    margin: 20% 0% 10%;
}
 }
 @media only screen and (max-width:1200px) and (min-width:768px){

	.subscribe-btn {
    padding: 5px 0px !important;
    width: 150px !important;;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 15px !important;;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 12px 6px 0px;
 font-size: 15px !important;;
}
.subscription {
    width: 90%;
    margin: 2% auto;
}
.subscription-div {
    padding: 3% 0%;
    background-color: #fbfbfb;
}
 }
 
@media only screen and (max-width:767px) and (min-width:200px){
/* 	.join-us{
    margin-top: 19%;
} */
	.subscription-div .custom-container {
    width: 100% !important;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 0px 6px 0px;
    font-size: 13px;
}
.subscription-div .input-group-addon {
    padding: 0px 0px;
}
.subscribe-btn {
    padding: 5px 14px !important;
    width: 96px;
    margin-top: -3px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 14px;
     color: #ffffff !important;
    background-color: #28b6f6;
}
.subscription-div .input-group-addon {
    padding: 0px 0px;
    border: none;
}
.subscription-div {
    padding: 5% 0%;
    background-color: #fbfbfb;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
     font-size: 14px;
    padding: 6px 12px 6px 0px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #545454;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000 !important;
    background-image: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}


	}
	@media only screen and (min-width:767px) {
.subscription-div {
    padding: 3% 0%;
    background-color: #fbfbfb;
}
.subscription {
    width: 70%;
    margin: 5% auto;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 12px 6px 0px;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #545454;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000 !important;
    background-image: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}
.subscription-div .input-group-addon {
    padding: 0px 20px;
    background-color: transparent;
    border: 1px solid transparent;
}
.subscribe-btn {
	 margin-top: -5px;
    padding: 5px 20px !important;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 17px;
    text-transform: capitalize;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff !important;
    background-color: #28b6f6;
}
}
.signin-signup{
height: 800px;
}
@media only screen and (max-width:1400px) and (min-width:768px){
	 .sidenav {
    height: 670px !important ;
 }
 .sidenav1 {
    height: 670px !important ;
 }
 .signin-signup{
   height: 670px !important ;
}

	}