﻿.user-space div {
    display: none;
}
.user-space div:hover {
    display:block !important;
}
.user-space button {
    outline: 0 !important;
    border: 0;
    height: 100%;
    width: 100%;
}
.login-img { 
	    position: absolute;
    margin-top: -27px;
    margin-left: 6px;
}
@media (min-width:769px) and (max-width:1024px){
  .nav-menu li {
    list-style: none;
    margin-left: 0px !important;
    padding: 0;
}
 .nav-menu {
    list-style: none;
    margin-left: 0px !important;
    padding: 0;
}
.boxx{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.boxx img{
    width: 50% !important;
}
.div1.img{
    margin: 0px !important;
}

}
@media screen and (max-width: 1440px) {

   .div11.img {
    margin: 4px;
    border: none;
    float: left;
  
}
    
}

.div1.img img {
    width: 80%;
    height: auto;
}
.div1.desc {
    font-weight: bold;
    padding: 15px;
    text-align: center;
}
@media only screen and (max-width:768px) {
.boxx{
    padding-left: 25%;
    padding-right: 25%;
}


 

.div11.img {
   
    border: none;
    float: left;
}

/*     button, a.button {
        width: 100%;
        font-weight: bold;
        cursor: pointer;
        border: none;
        border-radius: 3px;
           
        font-size: 1em;
        text-transform: uppercase;
        padding: 1em 3em;
        background-color: #b45927;
        color: #fff;
        transition: all 0.125s ease-in-out;
        outline: none
    } */
.button1 {
        width: 30%;
        font-weight: bold;
        cursor: pointer;
        border: none;
        border-radius: 3px;
           
        font-size: 1em;
        text-transform: uppercase;
        padding: 1em 3em;
        background-color: #f89c4c !important;
        color: #fff;
        transition: all 0.125s ease-in-out;
        outline: none
    }
    /* The Modal (background) */
    .modal {
        display: none;        /* Hidden by default */
        position: fixed;        /* Stay in place */
        z-index: 1;        /* Sit on top */
        padding-top: 20px;        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;        /* Full width */
        height: 100%;        /* Full height */
        overflow: auto;        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        height: 850px;
        text-align: center;
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover, .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    .modal-header {
        padding: 2px 16px;
        background-color: #eb8023;
        color: white;
    }
    .modal-body {
        padding: 2px 16px;
        text-align: left;
    }
    .modal-footer {
        padding: 2px 16px;
        background-color: #eb8023;
        color: white;
    }
  
    .-space-v-3 img {
        width: 100%;
    }
    .skillsArray img {
        width: 100%;
    }
}
@media only screen and (min-width:768px) {
    .boxx{
    padding-left: 12%;
    padding-right: 12%;
}
     .button1 {
        width: 25%;
        font-weight: bold;
        cursor: pointer;
        border: none;
        border-radius: 3px;
           
        font-size: 1em;
        text-transform: uppercase;
        padding: 1em 3em;
        background-color: #f89c4c !important;
        color: #fff;
        transition: all 0.125s ease-in-out;
        outline: none
    }

  
    .-space-v-3 img {
        width: 400px;
    }
    .skillsArray img {
        width: 700px;
    }

    /* The Modal (background) */
    .modal {
        display: none;        /* Hidden by default */
        position: fixed;        /* Stay in place */
        z-index: 1;        /* Sit on top */
        padding-top: 100px;        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;        /* Full width */
        height: 100%;        /* Full height */
        overflow: auto;        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        height: 620px;
        text-align: center;
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover, .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    .modal-header {
        padding: 2px 16px;
        background-color: #eb8023;
        color: white;
    }
    .modal-body {
        padding: 2px 16px;
        text-align: left;
    }
    .modal-footer {
        padding: 2px 16px;
        background-color: #eb8023;
        color: white;
    }
 
    /* button, a.button {
        width: 289px;
        font-weight: bold;
        cursor: pointer;
        border: none;
        border-radius: 3px;
           
        font-size: 1em;
        text-transform: uppercase;
        padding: 1em 3em;
        background-color: #b45927;
        color: #fff;
        transition: all 0.125s ease-in-out;
        outline: none
    } */
    .left {
        float: left;
        margin-left: 160px;
    }
    .right {
        float: right;
        margin-right: 160px;
    }
    @keyframes cqZsnB {
        0% {
            left: 0;
        }
        100% {
            left: 100%;
        }
    }
    .llHcUi {
        background-color: #b45927;
        padding: 10px 12px;
        border-radius: 3px;
        -webkit-cursor: pointer;
        cursor: pointer;
        font-size: 100%;
        position: relative;
        border-width: 1px;
        border-style: solid;
        border-color: #f89c4c;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        color: white;
        text-decoration: none;
        text-align: center !important;
        text-transform: uppercase;
        font-weight: 500;
        display: table;
        white-space: nowrap;
        opacity: 1;
    }
    .llHcUi:hover, .llHcUi:active, .llHcUi:focus {
        background-color: #f89c4c;
        border-color: #f89c4c;
        text-decoration: none;
        color: white;
    }
    .llHcUi:focus {
        outline: 0;
    }
    .ehaAh {
        display: table-cell;
        width: 250px;
    }
    .fhjRtj {
        display: inline-block;
        width: 36px;
        height: 20px;
        fill: white
    }
    .dXOjKO {
        display: inline-block;
        width: 36px;
        height: 20px;
        fill: #2696ba
    }
    .bFLxHQ {
        margin: -0em -0em;
        height: auto;
    }
    .cnylcv {
        display: table;
        height: auto;
        table-layout:;
        border-spacing: 0em 0em;
        width: 100%;
        margin:;
    }
    .ijctZa {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        width: auto;
        white-space:;
    }
    .gGFYnK {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        width: 100%;
        white-space:;
    }
    @keyframes iECmZH {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    .DayPicker {
        position: relative;
        user-select: none;
        outline: 0
    }
    .DayPicker-Month {
        display: table;
        border-collapse: separate;
        border-spacing: 12px 5px;
        user-select: none;
        margin: 0 auto
    }
    .DayPicker-Weekdays {
        display: table-header-group
    }
    .DayPicker-WeekdaysRow {
        display: table-row
    }
    .DayPicker-Weekday {
        display: table-cell;
        padding: .5rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500
    }
    .DayPicker-Body {
        display: table-row-group
    }
    .DayPicker-Week {
        display: table-row
    }
    .DayPicker-Day {
        display: table-cell;
        padding: .5rem;
        text-align: center;
        cursor: pointer;
        vertical-align: middle;
        border-radius: 50%;
        outline: 0
    }
    .DayPicker--interactionDisabled .DayPicker-Day {
        cursor: default
    }
    .DayPicker-Day--today {
        color: #2696ba;
        font-weight: 500
    }
    .DayPicker-Day--disabled {
        color: #dce0e0;
        cursor: default
    }
    .DayPicker-Day--active {
        border: 1px solid #ddeef4
    }
    .DayPicker-Day--disabled.DayPicker-Day--active {
        color: #dce0e0
    }
    .DayPicker-Day--outside {
        cursor: default;
        color: #dce0e0
    }
    .DayPicker-Day--sunday {
        color: #dce0e0;
        background-color: #f7f8f8
    }
    .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
        color: #fff;
        background-color: #2696ba
    }
    .ksKRlc {
        display: block;
        margin-bottom: 0.1em;
        color: #52acc8;
        font-size: 14px;
        -webkit-transition: all .3s;
        transition: all .3s;
        opacity: 0;
        text-align: left;
    }
    .gyxQje {
        border: 0;
        margin: 0;
        font-size: 16px;
        padding: 10px 0;
        background-color: transparent;
        -webkit-appearance: none;
        color: #4F514F;
        width: 100%;
        border-radius: 0;
    }
    .gyxQje:focus {
        outline: 0;
        background-position: 0 0;
    }
    .cWfeer {
        border-width: 0 0 1px;
        border-style: solid;
        position: relative;
        padding: 0;
        border-color: #2696ba;
        -webkit-box-shadow: 0;
        box-shadow: 0;
        border-radius:;
    }

    .egNOtX {
        padding-left: 100px;
        margin: 0 auto;
        padding: 10px;
    }
    .gaNeoO {
        position: absolute;
        bottom: 225px;
        left: 50%;
        margin-left: -24px;
    }
    .gGYgLd {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -720px;
    }
    @keyframes jKgVCS {
        0% {
            transform: rotage(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    .dYmDar {
        position: absolute;
        bottom: 164px;
        left: 50%;
        height: 140px;
        border-radius: 50%;
        width: 140px;
        border: 8px solid;
        border-color: transparent rgba(255, 255, 255, .3);
        margin-left: -70px;
        -webkit-animation: jKgVCS .6s infinite linear;
        animation: jKgVCS .6s infinite linear;
    }
    .hJBGcQ {
        position: absolute;
        border-style: solid;
        top: 0;
        left: 0;
        border-width: 0 0 200px 200px;
        border-color: transparent #52ACC8;
    }
    .hSuneG {
        position: absolute;
        border-style: solid;
        top: 0;
        right: 0;
        border-width: 0 200px 200px 0;
        border-color: transparent #0C6591;
    }
    .iaEziN {
        position: absolute;
        border-style: solid;
        bottom: 0;
        left: 0;
        border-width: 200px 0 0 200px;
        border-color: transparent #0C6591;
    }
    .iZMFdO {
        position: absolute;
        border-style: solid;
        bottom: 0;
        right: 0;
        border-width: 200px 200px 0 0;
        border-color: transparent #52ACC8;
    }
    .dLkTjo {
        background-color: #2696ba;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .lkvUTk {
        position: absolute;
        top: 2em;
        left: 50%;
        color: white;
        margin-left: -3em;
    }
    .elWTHu {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: .5;
    }
    .hTJTEA {
        position: absolute;
        width: 620px;
        height: 250px;
        bottom: 0;
        left: 0;
        fill: transparent;
        stroke: #72c1b2;
        stroke-width: 1.4;
        opacity: .4;
    }
    @media (max-width:600px) {
        .hTJTEA {
            width: 300px;
            height: 100px;
        }
    }
    .jBMsst {
        position: absolute;
        width: 120px;
        height: 100%;
        top: 0;
        right: 80vw;
        background: #385987;
        opacity: .5;
    }
    @media (max-width:600px) {
        .jBMsst {
            display: none;
        }
    }
    .bzuYJc {
        position: absolute;
        width: 250px;
        height: 700px;
        bottom: 0;
        right: 0;
        overflow: hidden;
        fill: transparent;
        stroke: #2696ba;
        stroke-width: 1.4;
        opacity: .5;
    }
    @media (max-width:600px) {
        .bzuYJc {
            width: 100px;
            height: 300px;
        }
    }
  
    * {
        box-sizing: border-box;
    }
    a {
        color: #2696ba;
        text-decoration: underline;
        cursor: pointer;
    }
    .-okay {
        color: #2696ba;
    }
    .text-subtle {
        color: #969795;
        font-size: 14px;
    }
    .text-body {
        color: inherit;
    }
    h2, h4, h5 {
        font-weight: 200;
    }
    h1 {
        font-size: 30px;
        font-weight: 500;
        margin: 0 0 0.4em;
    }
    h2 {
        font-size: 24px;
        margin: 0 0 0.4em;
    }
    h3 {
        font-size: 18px;
        font-weight: 400;
        margin: 0 0 1em;
    }
    h4, h5 {
        margin: 0 0 0.3em;
    }
    h4, strong {
        font-weight: 500;
    }
    @media (min-width:600px) {
        h1 {
            font-size: 48px;
        }
        h2 {
            font-size: 28px;
        }
    }
  
  
}

.background {
    position: relative;
    overflow: hidden
}
.background:before, .background:after {
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: 40em;
    height: 96em
}
.background.-about:before {
    background-image: url("../images/bg-elbow-green-right.svg");
    top: 0;
    left: 60%;
    transform: rotate(-90deg);
    transform-origin: 10% 40%
}
.background.-about:after {
    background-image: url("../images/bg-elbow-blue-left.svg");
    bottom: 0;
    right: 60%;
    transform: rotate(-90deg);
    transform-origin: 90% 64%
}
.background.-businesses:before {
    background-image: url("../images/bg-elbow-green-right.svg");
    top: 5em;
    left: 0;
    transform: scaleX(-1)
}
.background.-businesses:after {
    background-image: url("images/bg-elbow-blue-left.svg");
    bottom: 5em;
    right: 0;
    transform: scaleX(-1)
}
.background.-workers:before {
    background-image: url("images/bg-elbow-green-right.svg");
    top: 5em;
    right: 0
}
.background.-workers:after {
    background-image: url("images/bg-elbow-blue-left.svg");
    bottom: 5em;
    left: 0
}
.backgroundOverlay {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 0;
    color: white
}
.backgroundOverlay .backgroundOverlay-content {
    position: relative;
    z-index: 2
}
.backgroundOverlay:before {
    content: '';
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1
}
body {
    background-repeat: no-repeat
}
body.-about {
    background-image: url("images/bg-elbow-green.svg"), url("images/bg-elbow-blue.svg");
    background-position: top right, bottom left;
    background-size: 80em
}
@media (max-width:640px) {
    body.-about {
        background-size: 50em
    }
}
body.-tilrs {
    background-image: url("images/bg-elbow-green-right.svg"), url("images/bg-elbow-blue-left.svg");
    background-position: top right, bottom left;
    background-size: 40em
}
@media (max-width:640px) {
    body.-tilrs {
        background-size: 50em
    }
}
/* button:hover, a.button:hover {
    background-color: #eb8023
} */
button:link, button:active, button:visited, a.button:link, a.button:active, a.button:visited {
    color: #fff
}
button.-secondary, button.-secondary:link, button.-secondary:active, button.-secondary:visited, a.button.-secondary, a.button.-secondary:link, a.button.-secondary:active, a.button.-secondary:visited {
    color: orange;
    background-color: #ddeef4
}
button.-secondary:hover, a.button.-secondary:hover {
    background-color: #cae4ee
}
button:disabled, a.button:disabled {
    cursor: not-allowed;
    background-color: #93CBDD
}
button.-less-padding, a.button.-less-padding {
    padding: 0.7em 1.5em
}
button.-options, a.button.-options {
    position: relative
}
button.-options.-active, a.button.-options.-active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}
.button-optionsTray {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none
}
button.-options.-active .button-optionsTray {
    pointer-events: auto
}
.button-options {
    background: white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #ddeef4;
    border-top: none;
    overflow: hidden;
    transform: translateY(-100%);
    transition: all 0.25s ease-in-out;
    color: #2696ba
}
button.-options.-active .button-options {
    transform: translateY(0%)
}
a.button {
    display: inline-block
}
.button-option {
    padding: 1em 0.25em;
    white-space: nowrap;
    display: block;
    -webkit-backface-visibility: hidden
}
button.-less-padding .button-option {
    padding: 0.7em 0.5em
}
.button-option:hover {
    background: #ddeef4
}
.button-option+.button-option {
    border-top: 1px solid #ddeef4
}
.-color-gray {
    color: #969795
}
.content {
    margin-left: auto;
    margin-right: auto
}
.content.-xsmall {
    max-width: 34em
}
.content.-small {
    max-width: 45em
}
.content.-medium {
    max-width: 52em
}
.content.-large {
    max-width: 55em
}
.content.-xlarge {
    max-width: 70em
}
.-display-table {
    display: table;
    border-collapse: collapse
}
.-display-inlineTable {
    display: inline-table;
    border-collapse: collapse
}
.-display-inlineBlock {
    display: inline-block
}
.faq-trigger {
    position: absolute;
    left: -9999em
}
.faq-question {
    padding-bottom: 5px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns=!string!width=!string!height=!string!viewBox=!string!><path d=!string!fill=!string!/></svg>');
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding-left: 22px
}
.faq-question label {
    font-size: 1.2em;
    color: #2797ba;
    cursor: pointer
}
.faq-answer {
    display: none;
    padding-bottom: 2em;
    padding-left: 22px
}
.faq-trigger:checked+.faq-question {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns=!string!width=!string!height=!string!viewBox=!string!><path d=!string!fill=!string!/></svg>')
}
.faq-trigger:checked+.faq-question+.faq-answer {
    display: block
}
.footer {
    padding: 4rem;
    background: #ed760f;
    color: white;
}
@media (max-width:640px) {
    .footer {
        padding: 1.75rem
    }
}
.footer a {
    color: inherit !important
}
.footer-right {
    text-align: right
}
@media (max-width:640px) {
    .footer-right {
        text-align: left
    }
}
.form {
    display: inline-table;
    border-spacing: 0;
    position: relative;
    z-index: 0;
    backface-visibility: hidden
}
@media (max-width:640px) {
    .form {
        width: 100%
    }
}
.form-message {
    position: absolute;
    vertical-align: middle;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.75em 1em;
    border-radius: 3px 3px 0 0;
    color: white;
    transition: all 0.25s ease-in-out;
    transition-delay: 0.01s;
    transform: translateY(0)
}
form.-success .form-message {
    background: #8fcdc2;
    border-radius: 3px
}
form.-failure .form-message {
    background: #e8825f;
    box-shadow: 0 4px 0 0 #e8825f;
    transform: translateY(-100%)
}
.form-fields {
    position: relative;
    z-index: 1;
    transition: all 0.25s ease-in-out;
    background: white;
    padding: 0 2px;
    border: 2px solid #a9d5e3;
    border-radius: 3px;
    display: table;
    margin: 0 auto !important;
    max-width: 30em
}
@media (max-width:640px) {
    .form-fields {
        width: 100%
    }
}
.form-fields.-fullWidth {
    max-width: none;
    display: block
}
form.-success .form-fields {
    opacity: 0;
    pointer-events: none;
    z-index: -10
}
form.-failure .form-fields {
    border-color: #e8825f
}
.form-fields>.grid {
    border-spacing: 2px;
    border-width: 2px 0 0;
    border-style: solid;
    border-color: #a9d5e3
}
.form-fields>.grid:first-child {
    border: none
}
.form-fields>.grid>* {
    border-width: 0 0 0 2px;
    border-style: solid;
    border-color: #a9d5e3
}
.form-fields>.grid>*:first-child {
    border: none
}
@media (max-width:640px) {
    .form-fields>.grid>* {
        display: block;
        width: 100% !important;
        text-align: left;
        border-width: 2px 0 0
    }
    .form-fields>.grid>* input {
        width: 100%
    }
}
.form-field {
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: #a9d5e3
}
.form-field:first-child {
    border: none
}
.form-field.-required {
    position: relative
}
.form-field.-required:after {
    pointer-events: none;
    display: block;
    content: "http://www.w3.org/2000/svg";
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    color: #969795
}
form.-success .form-submit {
    opacity: 0;
    pointer-events: none;
    z-index: -10
}
form.-failure .form-submit {
    border-color: #e8825f
}
.home-heroContent {
    width: 100%;
    height: 100vh;
    background: url("images/patternBackground-storyHero.svg") no-repeat;
    background-position: bottom;
    background-size: cover;
    color: #fff;
    text-align: center
}
.heroText {
    position: relative;
    top: 10%;
    max-width: 55em;
    margin: 0 auto
}
.grid {
    display: table;
    width: 100%;
    table-layout: fixed;
    vertical-align: top;
    border-spacing: 0;
    margin: 0
}
.grid.-space-h-1 {
    border-spacing: 1.25rem 0;
    width: calc(100% + 2.5rem);
    margin-left: -1.25rem;
    margin-right: -1.25rem
}
.grid.-space-h-2 {
    border-spacing: 1.375rem 0;
    width: calc(100% + 2.75rem);
    margin-left: -1.375rem;
    margin-right: -1.375rem
}
.grid.-space-h-3 {
    border-spacing: 1.75rem 0;
    width: calc(100% + 3.5rem);
    margin-left: -1.75rem;
    margin-right: -1.75rem
}
.grid.-space-h-4 {
    border-spacing: 3rem 0;
    width: calc(100% + 6rem);
    margin-left: -3rem;
    margin-right: -3rem
}
.grid.-space-h-5 {
    border-spacing: 4rem 0;
    width: calc(100% + 8rem);
    margin-left: -4rem;
    margin-right: -4rem
}
.grid.-space-h-6 {
    border-spacing: 8rem 0;
    width: calc(100% + 16rem);
    margin-left: -8rem;
    margin-right: -8rem
}
.grid.-layout-auto {
    table-layout: auto
}
.grid.-width-auto {
    width: auto
}
.grid.-inline {
    display: inline-table
}
.grid.-fullHeight {
    height: 100%
}
.grid.-middle {
    vertical-align: middle
}
.grid.-rtl {
    direction: rtl
}
.grid.-rtl>.col1 {
    direction: ltr
}
.grid.-.div1iders {
    border-collapse: collapse
}
.grid.-.div1iders>.col1 {
    border-left: 1px solid #ddeef4
}
.grid.-.div1iders>.col1:first-child {
    border: none
}
@media (max-width:640px) {
    .grid.-.div1iders.-break-1>.col1 {
        border-left: none
    }
}
@media (max-width:800px) {
    .grid.-.div1iders.-break-2>.col1 {
        border-left: none
    }
}
@media (max-width:960px) {
    .grid.-.div1iders.-break-3>.col1 {
        border-left: none
    }
}
@media (max-width:1024px) {
    .grid.-.div1iders.-break-4>.col1 {
        border-left: none
    }
}
@media (max-width:1200px) {
    .grid.-.div1iders.-break-5>.col1 {
        border-left: none
    }
}
@media (max-width:1440px) {
    .grid.-.div1iders.-break-6>.col1 {
        border-left: none
    }
}
.grid.-.div1iders-v {
    border-width: 2px 0;
    border-color: #ddeef4;
    border-style: solid
}
.grid.-.div1iders-v>.row>.col1 {
    padding: 1.75rem 1.25rem
}
@media (max-width:640px) {
    .grid.-.div1iders-v>.row>.col1 {
        display: block;
        padding: 0
    }
}
@media (max-width:640px) {
    .grid.-.div1iders-v>.row1{
        display: block;
        padding: 1.25rem 0;
        border-width: 2px 0 0;
        border-color: #ddeef4;
        border-style: solid
    }
    .grid.-.div1iders-v>.row:first-child {
        border: none
    }
}
.grid.-.div1iders-v>.row+.row>.col1 {
    border-width: 2px 0 0;
    border-color: #ddeef4;
    border-style: solid
}
@media (max-width:640px) {
    .grid.-.div1iders-v>.row+.row>.col1 {
        border: none
    }
}
.row1{
    display: table-row
}
.col1 {
    display: table-cell;
    vertical-align: inherit
}
.col1.-align-left {
    text-align: left
}
.col1.-align-center {
    text-align: center
}
.col1.-align-right {
    text-align: right
}
.col1.-widthMin {
    width: 1px
}
.col1.-widthMax {
    width: 100%
}
@media (max-width:640px) {
    .grid.-break-1>.col1, .grid.-break-1>.row>.col1 {
        border-spacing: 0;
        display: block;
        width: 100% !important
    }
}
@media (max-width:800px) {
    .grid.-break-2>.col1, .grid.-break-2>.row>.col1 {
        border-spacing: 0;
        display: block;
        width: 100% !important
    }
}
@media (max-width:960px) {
    .grid.-break-3>.col1, .grid.-break-3>.row>.col1 {
        border-spacing: 0;
        display: block;
        width: 100% !important
    }
}
@media (max-width:1024px) {
    .grid.-break-4>.col1, .grid.-break-4>.row>.col1 {
        border-spacing: 0;
        display: block;
        width: 100% !important
    }
}
@media (max-width:1200px) {
    .grid.-break-5>.col1, .grid.-break-5>.row>.col1 {
        border-spacing: 0;
        display: block;
        width: 100% !important
    }
}
@media (max-width:1440px) {
    .grid.-break-6>.col1, .grid.-break-6>.row>.col1 {
        border-spacing: 0;
        display: block;
        width: 100% !important
    }
}
.header {
    padding: 0 3rem;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    color: #fff
}
@media (max-width:640px) {
    .header {
        transition-property: background-color, color;
        transition-duration: 0.25s;
        transition-timing-function: ease-in-out;
        padding: 0 1.75rem;
        width: 100%;
        top: 0;
        right: 0;
        left: 0
    }
    .header.-active {
        position: fixed
    }
}
.header.-fixed {
    position: fixed;
    background-color: white;
    color: #ed760f;
    z-index: 10
}
.header.-fixed .header-left .img1 {
    display: none;
}
.header.-fixed .header-left .img2 {
    display: block !important;
}
@media (max-width:960px) {
    .header.-fixed.-active {
        color: white;
        background-color: transparent
    }
}
.headerWidth {
    padding: 1.375rem 0 6px
}
@media (max-width:960px) {
    .headerWidth {
        padding: 1.25rem 0
    }
}
.header.-fixed {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3)
}
@media (max-width:960px) {
    .header.-active .header-underline {
        opacity: 0
    }
}
.header-left {
    position: relative;
    z-index: 2;
    padding-top: 4px
}
.header-right {
    width: 100%;
    text-align: right;
}
.logoLink {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}
#logo {
    width: 54px;
    height: 30px
}
.header.-fixed #logo path {
    fill: #2696ba
}
@media (max-width:960px) {
    .header.-active #logo path {
        fill: white
    }
}
@media only screen and (max-width:768px) {
    .header-left img {
        width: 100px;
    }
}
.white-text {
    color: #fff
}
.blueSpanSeparator {
    display: table
}
.blueSpanSeparator:after {
    content: "24";
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 10px;
    border-bottom: 2px solid #72c1b2
}
hr {
    border-width: 2px 0 0;
    border-style: solid;
    border-color: #72c1b2
}
img {
    vertical-align: top
}
img.-maxWidth-none {
    max-width: none
}
@media (max-width:1024px) {
    img.-iphone {
        max-width: 40%
    }
}
img.-round {
    border-radius: 100%
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0
}
.-align-left {
    text-align: left
}
.-align-center {
    text-align: center
}
.-align-right {
    text-align: right
}
.-align-top {
    vertical-align: top
}
.-align-middle {
    vertical-align: middle
}
.-align-bottom {
    vertical-align: bottom
}
.-space-v-0>* {
    margin-top: .25rem
}
.-space-v-1>* {
    margin-top: 1.25rem
}
.-space-v-2>* {
    margin-top: 1.375rem
}
.-space-v-3>* {
    margin-top: 1.75rem
}
.-space-v-4>* {
    margin-top: 3rem
}
.-space-v-5>* {
    margin-top: 4rem
}

.-pad-1 {
    padding: 1.25rem
}
.-pad-2 {
    padding: 1.375rem
}
.-pad-3 {
    padding: 1.75rem
}
.-pad-4 {
    padding: 3rem
}
.-pad-5 {
    padding: 4rem
}
.-pad-h-1 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}
.-pad-h-2 {
    padding-left: 1.375rem;
    padding-right: 1.375rem
}
.-pad-h-3 {
    padding-left: 1.75rem;
    padding-right: 1.75rem
}
.-pad-h-4 {
    padding-left: 3rem;
    padding-right: 3rem
}
.-pad-h-5 {
    padding-left: 4rem;
    padding-right: 4rem
}
.-pad-v-1 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}
.-pad-v-2 {
    padding-top: 1.375rem;
    padding-bottom: 1.375rem
}
.-pad-v-3 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem
}
.-pad-v-4 {
    padding-top: 3rem;
    padding-bottom: 3rem
}
.-pad-v-5 {
    padding-top: 4rem;
    padding-bottom: 4rem
}
.-pad-b-1 {
    padding-bottom: 1.25rem
}
.-pad-b-2 {
    padding-bottom: 1.375rem
}
.-pad-b-3 {
    padding-bottom: 1.75rem
}
.-pad-b-4 {
    padding-bottom: 3rem
}
.-pad-b-5 {
    padding-bottom: 4rem
}
.-pad-t-1 {
    padding-top: 1.25rem
}
.-pad-t-2 {
    padding-top: 1.375rem
}
.-pad-t-3 {
    padding-top: 1.75rem
}
.-pad-t-4 {
    padding-top: 3rem
}
.-pad-t-5 {
    padding-top: 4rem
}
html, body {
    margin: 0;
    overflow-x: hidden
}
.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto
}
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.links {
    display: inline-table;
    border-spacing: 1em 0;
    margin: 0 -1em;
    line-height: 1
}
.links li {
    position: relative;
    display: table-cell;
    padding-left: 1em;
    vertical-align: middle
}
.links li:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: 1px solid;
    opacity: 0.5
}
.links li:first-child {
    border: none;
    padding-left: 0
}
.links li:first-child:before {
    display: none
}
.categoryLinks {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none
}
.categoryLinks li {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 2px 4px 2px 0
}
.categoryLinks li.current-menu-item a {
    color: white;
    background-color: #52acc8;
    border-color: #52acc8
}
.categoryLinks a {
    display: block;
    border: 2px solid #a9d5e3;
    border-radius: 3px;
    padding: 8px
}
.categoryLinks a, .categoryLinks a:active, .categoryLinks a:visited {
    color: #52acc8
}
.categoryLinks a:hover {
    opacity: .8
}
.navToggle {
    display: none;
    position: relative;
    z-index: 2;
    width: 36px;
    height: 36px;
    user-select: none;
    vertical-align: top
}
@media (max-width:960px) {
    .navToggle {
        display: inline-block
    }
}
.navToggle-icon {
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    transition: all 0.25s ease-in-out;
    stroke: white
}
.header.-fixed .navToggle-icon.-open {
    stroke: #ed760f;
}
.header.-active .navToggle-icon.-open {
    transform: translateY(100%);
    opacity: 0
}
.navToggle-icon.-close {
    opacity: 0;
    transform: translateY(-100%)
}
.header.-active .navToggle-icon.-close {
    transform: translateY(0%);
    opacity: 1
}
.nav {
    color: inherit !important
}
	@media only screen and (max-width:960px) and (min-width:768px){
    .nav {
        transition: all 0.25s ease-in-out;
        display: table;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        pointer-events: none
    }
    .nav.-active {
        pointer-events: initial;
        opacity: 1
    }
}
.nav-menu, .nav-menu li {
    list-style: none;
    margin-left: 80px;
    padding: 0
}
.nav-menu .current-menu-item>a {
    border-bottom: 2px solid;
    opacity: 1
}
@media (min-width:960px) {
    .nav-menu>ul {
        float: right;
        display: inline-table;
        border-spacing: 1.5rem 0;
        margin: 0 ;
    }
    .nav-menu>ul>li {
        display: table-cell
    }
    .nav-menu>ul>li>a {
        display: block;
        text-decoration: none;
      
    }
}
@media (max-width:960px) {
    .nav-menu {
        display: table-cell;
        vertical-align: middle;
        background: #ed760f;
        margin: 0;
        text-align: center
    }
    .nav-menu .menu-item {
        font-size: 1em
    }
    .nav-menu .nav-callout {
        font-size: 1.2em;
        padding-top: 1.5em
    }
    .header.-fixed.-active .nav-menu {
        color: #fff
    }
    .nav-menu>ul>li {
        display: table;
        border-spacing: 0;
        margin: 0.5em auto 0
    }
}
.placeholder-graphic {
    background: gray;
    width: 100%
}
.placeholder-graphic:before {
    content: "email";
    display: block;
    padding-top: 100%
}
.-position-relative {
    position: relative
}
.-position-absolute {
    position: absolute
}
.-position-fixed {
    position: fixed
}
.ribbon {
    margin: 0 0 6vh
}
.ribbon:after {
    content: "tel";
    display: block;
    background: url("images/ribbon.svg");
    background-size: contain;
    background-repeat: repeat-x;
    padding-top: 8%
}
@media (max-width:640px) {
    .ribbon:after {
        padding-top: 15%
    }
}
/* .sections {
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto
}
.section {
   padding-top: 4%;
   padding-bottom: 4%;
} */
@media (max-width:1024px) {
    .section {
        text-align: center
    }
}
@media (max-width:1200px) {
    .section.-skills {
        text-align: center
    }
}
.section+.section {
    border-top: 2px solid #a9d5e3
}
.section.-storyHero {
    width: 100%;
    height: 100vh;
    background: url("../images/patter.jpg") no-repeat;
    background-position: bottom;
    background-size: cover;
    color: #fff;
    text-align: center
}

.section.-bg-light {
    position: relative;
    color: white;
}
.section.-bg-light:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/patternBackgroundLight.svg") no-repeat;
    background-position: center bottom;
    background-size: cover
}
.section.-bg-light.-flipped-v:before {
    transform: scaleY(-1)
}
.section.-height-full {
    min-height: 100vh
}
.section.-top {
    padding-top: 15%;
}
@media (max-width:640px) {
    .section.-top {
        padding-top: 6rem
    }
}
.section.-privacy ul {
    padding-left: 2em;
    list-style: outside
}
.storyHeroScroll {
    position: relative
}
.storyHeroScroll a {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -25px
}
.section-content {
    display: inline-block;
    width: 30em
}
@media (max-width:1024px) {
    .section-content {
        width: 100%
    }
}
.section-content.-align-right {
    text-align: right
}
@media (max-width:1024px) {
    .section-content.-align-right {
        text-align: center
    }
}
.section-content.-align-left {
    text-align: left
}
@media (max-width:1024px) {
    .section-content.-align-left {
        text-align: center
    }
}
.skillsArray {
    position: relative;
    display: inline-table;
    text-align: center;
    max-width: 48em
}
@media (max-width:640px) {
    .skillsArray.-iphone {
        width: 45%;
        margin: 10em 0 0
    }
}
@media (max-width:640px) {
    .skillsArray.-desktop {
        width: 60%;
        margin: 3em 0 0
    }
}
.skillsArray-tile {
    position: absolute
}
.skillsArray.-iphone .skillsArray-tile.-retail {
    top: 18%;
    right: 133%;
    width: 51%
}
@media (max-width:640px) {
    .skillsArray.-iphone .skillsArray-tile.-retail {
        top: -19%;
        right: 73%;
        width: 55%
    }
}
.skillsArray.-desktop .skillsArray-tile.-retail {
    top: 43%;
    right: 92%;
    width: 27%
}
.skillsArray.-iphone .skillsArray-tile.-generalLabor {
    top: 36%;
    right: 177%;
    width: 51%
}
@media (max-width:640px) {
    .skillsArray.-iphone .skillsArray-tile.-generalLabor {
        top: 4%;
        right: 95%;
        width: 54%
    }
}
.skillsArray.-desktop .skillsArray-tile.-generalLabor {
    top: 28%;
    right: 116%;
    width: 20%
}
.skillsArray.-iphone .skillsArray-tile.-hospitality {
    top: 46%;
    right: 118%;
    width: 72%
}
@media (max-width:640px) {
    .skillsArray.-iphone .skillsArray-tile.-hospitality {
        top: 41%;
        right: 81%;
        width: 82%
    }
}
.skillsArray.-desktop .skillsArray-tile.-hospitality {
    top: 53%;
    left: 93%;
    width: 20%
}
.skillsArray.-iphone .skillsArray-tile.-customerService {
    top: 20%;
    left: 138%;
    width: 85%
}
@media (max-width:640px) {
    .skillsArray.-iphone .skillsArray-tile.-customerService {
        top: -16%;
        left: 79%;
        width: 85%
    }
}
.skillsArray.-desktop .skillsArray-tile.-customerService {
    top: 18%;
    left: 104%;
    width: 33%
}
.skillsArray.-iphone .skillsArray-tile.-logistics {
    top: 57%;
    left: 118%;
    width: 51%
}
@media (max-width:640px) {
    .skillsArray.-iphone .skillsArray-tile.-logistics {
        top: 57%;
        left: 96%;
        width: 59%
    }
}
.skillsArray.-desktop .skillsArray-tile.-logistics {
    top: 8%;
    right: 104%;
    width: 20%
}
svg {
    vertical-align: top
}
.selectWrapper {
    position: relative
}
.selectWrapper:after {
    content: "email";
    display: block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-color: #a9d5e3 transparent transparent transparent;
    border-style: solid;
    position: absolute;
    top: 50%;
    right: 0.75em
}
select {
    -webkit-appearance: none;
    width: 100%;
    border: none;
    font-size: 1em;
    padding: 0.75em;
    color: #969795;
    background-color: white
}
select:focus {
    outline: none
}
.-shadow-1 {
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.25)
}
.-shadow-2 {
    box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.25)
}
.-shadow-3 {
    box-shadow: 0 0.5em 3em rgba(0, 0, 0, 0.25)
}
.-shadow-4 {
    box-shadow: 0 0.5em 4em rgba(0, 0, 0, 0.25)
}
.-shadow-5 {
    box-shadow: 0 0.5em 5em rgba(0, 0, 0, 0.25)
}
.tilrPaths {
    max-width: 80em;
    margin: 0 auto;
    overflow: hidden
}
.tilrPaths-section {
    position: relative;
    height: 50em;
    top: -5em
}
.tilrPaths-section.-four {
    margin-bottom: 6em
}
@media (max-width:640px) {
    .tilrPaths-section {
        height: 30em;
        top: -5em
    }
    .tilrPaths-section.-four {
        margin-bottom: 5em
    }
}
.tilrPath {
    overflow: visible;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: auto
}
.tilrPath.-one {
    height: 400%
}
.tilrPath.-two {
    height: 300%
}
.tilrPath.-three {
    height: 200%
}
.tilrPath.-four {
    height: 100%
}
.tilrPath-path {
    fill: none;
    stroke-width: 1
}
@media (max-width:640px) {
    .tilrPath-path {
        stroke-width: 0.8
    }
}
.tilrPath-path.-one {
    stroke: #4ab7f6;
    opacity:0.6;
}
.tilrPath-path.-two {
    stroke: #4ab7f6;
    opacity: 0.4;
}
.tilrPath-path.-three {
    stroke: #4ab7f6;
    opacity: 0.1;
}
.tilrPath-path.-four {
    stroke: #4ab7f6;
    opacity: 0.2;
}
.tilrPaths-section-content {
    padding: 0 1em
}
.tilrPaths-section-content.-align-right {
    text-align: right
}
@media (max-width:640px) {
    .tilrPaths-section-content.-align-right {
        text-align: left
    }
}
@media (min-width:640px) {
    .tilrPaths-section-content {
        text-align: left;
        position: relative
    }
}
.tilrPaths-section-content-graphic {
    margin-bottom: 1em;
    display: inline-block;
    max-height: 20em
}
@media (max-width:640px) {
    .tilrPaths-section-content-graphic {
        max-height: 10em
    }
}
.tilrPaths-section-content-text {
    position: absolute;
    right: 1em;
    left: 1em
}
@media (max-width:640px) {
    .tilrPaths-section-content-text.-small-right {
        text-align: right
    }
}
.graphic {
    display: inline-block;
    background-color: whitesmoke;
    width: 100%;
    max-width: 13em
}
.graphic:after {
    content: "tel";
    display: block;
    padding-top: 120%
}


strong {
      
    font-weight: bold
}
small {
    font-size: 0.875em
}
blockquote {
    margin: 1em;
    border-left: 5px solid #eee;
    padding: 0 0 0 1em
}

ul.-checked li:before, li.-checked:before {
    box-sizing: content-box;
    content: "email";
    display: inline-block;
    position: absolute;
    right: 100%;
    width: 14px;
    top: 0;
    bottom: 0;
    padding-right: 7px;
    background: url("images/skills-checkmark.svg") no-repeat center left;
    background-size: 14px
}
ol {
    margin-top: 1em;
    padding: 0 0 0 1em
}
ol li {
    margin: 0 0 1em
}
.-width-1 {
    max-width: 10em
}
.-width-2 {
    max-width: 20em
}
.-width-3 {
    max-width: 30em
}
.-width-4 {
    max-width: 40em
}
.-width-5 {
    max-width: 50em
}
.-width-6 {
    max-width: 60em
}
.entry-posts .post {
    padding: 1em;
    margin: 0 0 2em;
    text-align: left
}
.entry-posts .entry-title {
    color: #2696ba;
    line-height: 1.3em;
    margin: 0 0 0.2em
}
@media screen and (min-width:600px) {
    .entry-posts {
        display: flex;
        flex-wrap: wrap
    }
    .entry-posts .post {
        width: 50%
    }
}
@media screen and (min-width:900px) {
    .entry-posts .post {
        width: 33.3%
    }
}
.entry-posts .post.excerpt-sticky {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 1em
}
.entry-posts .post.excerpt-sticky, .entry-posts .post.excerpt-sticky a {
    color: white
}
.entry-posts .post.excerpt-sticky:after {
    content: "tel";
    display: block;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1
}
.entry-posts .post.excerpt-sticky .entry-wrap {
    padding: 1em;
    position: relative;
    z-index: 2
}
.entry-posts .post.excerpt-sticky .entry-content {
    margin: 0 0 2em
}
.entry-posts .post.excerpt-sticky .entry-title {
    font-size: 1.6em
}
@media screen and (min-width:600px) {
    .entry-posts .post.excerpt-sticky {
        padding-top: 12%;
        padding-bottom: 5%
    }
    .entry-posts .post.excerpt-sticky .entry-content {
        font-size: 1.4em
    }
    .entry-posts .post.excerpt-sticky .entry-title {
        font-size: 3em
    }
}
.entry-image {
    padding-bottom: 50%;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    margin: 0 0 0.5em
}
.post-header {
    margin-top: 75px;
    padding: 15% 0 5%;
    text-align: center
}
.post-avatar {
    width: 50px
}
.post-avatar img {
    border-radius: 50%
}
@media screen and (min-width:600px) {
    .post-avatar {
        width: 80px
    }
}
.post-content img {
    max-width: 100%;
    width: auto !important;
    height: auto !important
}
.post-content .wp-caption {
    width: auto !important
}
.gallery {
    margin-bottom: 1.5em
}
.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%
}
.gallery-columns-2 .gallery-item {
    max-width: 50%
}
.gallery-columns-3 .gallery-item {
    max-width: 33.33%
}
.gallery-columns-4 .gallery-item {
    max-width: 25%
}
.gallery-columns-5 .gallery-item {
    max-width: 20%
}
.gallery-columns-6 .gallery-item {
    max-width: 16.66%
}
.gallery-columns-7 .gallery-item {
    max-width: 14.28%
}
.gallery-columns-8 .gallery-item {
    max-width: 12.5%
}
.gallery-columns-9 .gallery-item {
    max-width: 11.11%
}
.gallery-caption {
    display: block
}
.media-wrapper {
    position: relative;
    padding-bottom: 56.3%
}
.media-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.searchBar {
    border-width: 1px 0;
    border-style: solid;
    border-color: #eee;
    margin: 0 0 10px
}
.searchForm {
    padding: 10px 15px
}
.searchForm-search {
    margin: 0 0 10px;
    position: relative
}
.searchForm-search svg {
    fill: #2696ba;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -.7em !important;
    z-index: 5
}
@media screen and (min-width:700px) {
    .searchForm-search {
        margin: 0
    }
    .searchForm {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center
    }
}
article.page h3, article.page h4, article.page h5, .post-content h3, .post-content h4, .post-content h5 {
    margin-top: 1em
}
article.page ul, .post-content ul {
    list-style-position: outside
}
article.page ul li, .post-content ul li {
    margin: 0 0 1em 1em
}
.push-below-header {
    margin-top: 75px
}
@media screen and (min-width:960px) {
    .push-below-header {
        margin-top: 97px
    }
}
.admin-bar .site-page {
    position: relative
}
.admin-bar .header.-fixed {
    top: 32px
}
@media screen and (max-width:782px) {
    .admin-bar .header.-fixed {
        top: 46px
    }
}
.pardotform {
    background-color: white;
    border: 2px solid #a9d5e3 !important;
    border-radius: 3px;
    max-width: 26em;
    margin: 0 auto;
    display: block
}

/*# sourceMappingURL=style.css.map */
@charset "UTF-8";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

/* common  starts*/
/* common  starts*/
.subscribe-btn {
    text-transform: capitalize !important;
}
@media only screen and (max-width:10000px) and (min-width:1500px){
	body{
	width:1500px;
	margin:0 auto;
	}
	nav{
	width:1500px;
	margin:0 auto;
	}
}
body{
	overflow-x:hidden
	}
a {
	outline:0 !important;
	border:0 !important;
}
button{
	outline:0 !important;
	border:0;
}
input {
	outline:0 !important;
	border:0;
}
textarea{
	outline:0 !important;
	border:0 ;
}
select{
	-webkit-appearance: none;
	outline:0 !important;
	border:0 !important;
}
input:focus{

    border-bottom: 1px solid #000;
}
/* input:focus, textarea:focus {
border: 0px solid transparent !important;
box-shadow: 0 0 0px transparent !important;
-moz-box-shadow: 0 0 0px transparent !important;
-webkit-box-shadow: 0 0 0px transparent !important;
} */
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
.text-center{
	text-align:center;
}
.fright{
	float:right;
}
.width100{
	width:100%;
}
.inline-flex{
	display:inline-flex;
}
.block{
	display:inline-block;
}
.custom-btn{
	border-radius: 5px;
	border:2px solid #28b6f6;
	
    font-weight: 600;
    font-style: normal;
    padding: 5px 20px !important;
	width:150px;
 
     font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1.3px;
  text-align: left;
  color: #4d4d4d;
     text-align: center;
    background-color: transparent;
}
/* common  ends*/
/* common  ends*/



/* header starts */
/* header starts */
.custom-navbar{
	height: 80px;
    margin-bottom: 40px;
   border-bottom: 2px solid #e9e9e9;
   background-color: #fff;
}
.custom-brand{
	height: 80px;
	padding: 10px 15px;
   border-right: 2px solid #e9e9e9;
}
/* .custom-brand a{
padding:15px 35px;
} */

.user-space{
 border-left: 2px solid #e9e9e9;
}
.Book-your-Cook-btn{
	padding: 5px 20px !important;
	width:200px;
    border-radius: 5px;
	border:2px solid  #28b6f6  !important;;
	font-size: 14px;
    font-weight: 600;
    margin:  21px 15px 20px 0px;;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff  !important;;
    background-color: #28b6f6;
}
.Book-your-Cook-btn:hover{
	
 background-color: #28b6f6 !important;;;
	}
.Calculate-Price-btn{
	padding: 5px 20px !important;
	width:200px;
    border-radius: 5px;
	border:2px solid  #28b6f6  !important;;
	font-size: 14px;
    font-weight: 600;
    margin:  21px 15px 20px 0px;;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;;
    letter-spacing: 1px;
    text-align: center;
    color: #28b6f6  !important;;
    background-color: transparent;
}
.Calculate-Price-btn:hover{
	 background-color: #f2f2f2;

	}
.custom-navbar .user-img{
    margin:4px 20px;
}
.custom-navbar .navbar-nav>li>a:hover{
	color:#6b6a6a;
}
.custom-navbar .navbar-nav>li>a:focus{
	color:#6b6a6a;
}
.custom-navbar  .navbar-nav>li>a {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  padding-top: 23px;
    padding-bottom: 20px;
  letter-spacing: 1.3px;
  color: #383838;
}

/* header ends */
/* header ends */



/*footer starts */
/*footer starts */
footer{
	background-color: #013f70;
}
.top-footer{
	padding:2% 3% 2%;
	border-bottom:1px solid #fff;
	/* height: -webkit-fill-available;
   height: 420px; */
}
.top-footer h3{
 font-size: 18px;
     margin-top: 20px !important;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #ffffff;
}
.top-footer a{
 font-size: 16px;
 font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1px;
  color: #ffffff;
}
.top-footer li{
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1px;
  color: #ffffff;
}
.top-footer ul{
    padding-left: 0px;
    list-style-type: none;
}
.logo-footer{
    width: 80px;
}
.social-media{
    margin: 15% 0% 0%;
}
.social-medial-img{
	width: 30px;
    margin: 5px;
}
.bottom-footer{
		padding:2% 3% 3%;
}
 .bottom-footer {
 font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #ffffff;
}
 .bottom-footer a{
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #ffffff;
 }
 
/*footer ends */
/*footer ends */

/* mobile screen */

@media only screen and (max-width:767px) and (min-width:200px){
	
	.nav {
  /*   position: absolute !important; */
      top: 60px;
 /*      z-index:2000; */
	}
	body {
    margin: 0;
    overflow-x: hidden;
}
	.custom-navbar {
    height: 60px !important; ;
	}
	.custom-brand a {
    padding: 15px 15px;
}
.custom-brand{
 height: 60px !important; ;
}
.navbar-toggle{
 margin-top: 0px !important; ;
}
.custom-navbar .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 0px;
}
.custom-brand img{
    width: 100px !important;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #5fc4f7;
}
.navbar-toggle .icon-bar {
    display: block;

    width: 22px !important; ;
    height: 2px;
        margin: 4px;
    border-radius: 1px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
}
.custom-navbar .navbar-toggle {
	    width: 50px !important; ;
    margin-right: 5px;
    border-color: transparent !important;;
}
.custom-navbar{
	  border-color: transparent !important;;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #5fc4f7;
}
.nav{
	 background: #fff;
	     padding-left: 0px;
    opacity: 1 !important;
/*     margin-top: 60px; */
}
.custom-navbar a:hover{
	background:transparent;
	outline:0;
	border:none;
	border-radius:0px;
}
.custom-navbar a:focus{
	background:transparent;
	outline:0;
	border:none;
	border-radius:0px;
}
.custom-navbar a:hover{
	background:transparent;
	outline:0;
	border:none;
	border-radius:0px;
}
/* .navbar-inverse .navbar-collapse{
	top: 58px;
	    width: 100%;
	position:absolute;
} */
.custom-brand {
	/*     z-index: 2000; */
    height: 80px;
    width: 100% !important;
    padding: 10px 0px;
    border-right: 0px solid #e9e9e9;
    border-bottom: 2px solid #e9e9e9;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
        position: absolute;
    top: 60px;
        display: none;
    width: 100%;
    background: #fff;
    
    border-bottom: 2px solid #e2e2e2;
}
.custom-navbar .navbar-nav>li>a {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    padding-top: 10px;
    padding-bottom: 10px;
}
.Calculate-Price-btn {
    padding: 5px 20px !important;
    width: 180px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 13px;
    font-weight: 600;
    margin: 10px 15px;
}
.Book-your-Cook-btn {
    padding: 5px 20px !important;
    width: 180px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 13px;
    font-weight: 600;
    margin: 20px 15px;
}
.custom-navbar .user-img {
    margin: 0px 0px;
    width: 25px;
}
.user-space {
    border-left: 0px solid #e9e9e9;
}
.logo-footer {
    width: 65px;
}
.top-footer h3 {
    font-size: 15px;
}
 .bottom-footer .inline{
    margin-top: 10px;
}
.top-footer a {
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
}
.top-footer li {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
}
.social-media {
    margin: 5% 0% 0%;
}
.social-medial-img {
    width: 25px;
    margin: 3px;
}
.top-footer li {
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
}
.bottom-footer p{
    text-align: center;
}
.bottom-footer {
    font-size: 12px;
}
.bottom-footer a {
    font-size: 12px;
}
.bottom-footer .text-right {
     text-align: center;
     margin-top:8px;
}
}
/* mobile screen */

@media only screen and (max-width:1140px) and (min-width:768px){
	.custom-brand a {
    padding: 15px 0px;
}
	.navbar-brand>img {
    display: block;
    width: 100px;
	}
	.custom-navbar .navbar-navli>a {
    position: relative;
    display: block;
     font-size: 12px;
    padding: 10px 5px;
}
.Calculate-Price-btn {
    padding: 5px 5px !important;
    width: 150px;
     font-size: 12px;
    margin: 21px 5px;
    
}
.Book-your-Cook-btn {
    padding: 5px 5px !important;
    width: 150px;
     font-size: 12px;
     
    margin: 21px 10px 21px 7px;
}
.custom-navbar .user-img {
    margin: 4px 0px;
        width: 25px;
}
.custom-navbar .navbar-nav>li>a {
    font-size: 12px;
    
}
.custom-navbar .nav>li>a {
    position: relative;
    display: block;
    padding: 24px 5px;
}
.cal-price {
    border-radius: 5px;
    font-size: 15px;
}
.logo-footer {
    width: 70px;
}
.top-footer h3 {
font-family: roboto;
    font-size: 16px;
    
      line-height: 1.5;
}
.top-footer a {
	font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
}
.top-footer li {
    font-size: 14px;
    font-weight: 300;
 font-family: 'Roboto';
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
}
.social-medial-img {
    width: 25px;
    margin: 2px;
}
.bottom-footer{
	    font-size: 12px;
}
.bottom-footer a{
	    font-size: 12px;
}
	}
	
@media only screen and (max-width:1400px) and (min-width:200px){
	}
/* custom bootstrap starts */
.container {
	font-family: 'Roboto';
/*     width: 1170px; */
        margin: 0px auto;
    
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    
}
@media (min-width: 768px){
.col-lg-4 {
    width: 33.33333333%;
}
.col-lg-3 {
    width: 25%;
}
.col-lg-6 {
    width: 50%;
}
.row{
	   width:100%;
}
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px){
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;
}
}
.subscription-div {
    padding: 3% 0%;
    background-color: #fbfbfb;
}
.subscription {
    width: 70%;
    margin: 5% auto;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
        width: 100%;
    padding: 6px 12px 6px 0px;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: left;
    color: #545454;
    border: 0px solid #ccc;
    border-bottom: 1px solid #000;
    background-image: none;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}
.subscription-div .input-group-addon {
    padding: 0px 20px;
    background-color: transparent;
    border: 1px solid transparent;
}
.subscribe-btn {
    padding: 5px 20px !important;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 17px;
    margin: 0px;
    text-transform: capitalize;
    font-style: normal;
    
    text-transform: capitalize !important;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff !important;
    background-color: #28b6f6;
}
.input-group {
    position: relative;
        width: 100%;
    display: inline-flex;
    border-collapse: separate;
}
body{
font-family: 'Roboto';
	
}
a{
	text-decoration:none;
}
@media (min-width: 768px){
	.row {
    margin-right: -15px;
    display: inline-table;
	}
.navbar-toggle {
    display: none;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.navbar-collapse.collapse {
    display: inline-table;
    height: auto!important;
    padding-bottom: 0;
 
    overflow: visible!important;
}
.navbar-collapse {

      width: 86%;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-right {
	display: inline-flex;
    float: right!important;
    margin-right: -15px;
}
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
a {
    outline: 0 !important;
    border: 0 !important;
}
ul{
    list-style-type: none;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.container-fluid {
	    width: 100%;
    display: inline-flex;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.custom-brand {
    height: 80px;
    width: 14.3%;
}
.custom-brand{

     padding: 10px 0px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button {
    outline: 0 !important;
    border: 0;
}
@media only screen and (max-width: 1140px) and (min-width: 768px)
{
	
	.navbar-right {
	display: inline-flex;
    float: right!important;
    margin-right: -40px;
}
.custom-brand  {
    padding: 15px 0px;
}
.custom-navbar .navbar-nav>li>a {
    font-size: 12px;
}
.custom-navbar .nav>li>a {
    position: relative;
    display: block;
    padding: 24px 5px;
}
.nav{
	    opacity: 1;
	        padding-left: 0px;
	        position: relative;
}
.custom-navbar .nav>li>a {
    position: relative;
    display: block;
    padding: 24px 5px;
}
@media only screen and (max-width: 1140px) and (min-width: 768px){
	.subscribe-btn {
    padding: 5px 10px !important;
    width: 150px;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 13px;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 12px 6px 0px;
    font-size: 16px;
}
/* custom bootstrap ends */