

#about_inner_15 .align-items-center {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#about_inner_15 .feature-col img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}


#about_inner_15 .center-title h2:after {
    content: "";
    width: 80px;
    height: 2px;
    background-color: #333333;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}

#about_inner_15 .cbp_tmtimeline {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
}

#about_inner_15 .cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background-color: #eeeeee;
    left: 20%;
    margin-left: -10px;
}

#about_inner_15 .cbp_tmtimeline > li {
    position: relative;
}

#about_inner_15 .cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 25%;
    padding-right: 100px;
    position: absolute;
}

#about_inner_15 .cbp_tmtimeline > li .cbp_tmtime span{
    color: #333;
    font-size: 3rem;
    display: block;
    text-align: right;
}

#about_inner_15 .cbp_tmtimeline > li .cbp_tmicon {
    width: 40px;
    height: 40px;
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    position: absolute;
    color: #fff;
    background: #333333;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #eeeeee;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -25px;
}

#about_inner_15 .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 25%;
    background-color: #fbfbfb;
    padding: 2em;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
}

#about_inner_15 .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background-color: #f7f7f7;
}

#about_inner_15 .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #f7f7f7;
}

#about_inner_15 .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #fbfbfb;    
    border-width: 10px;
    top: 10px;
}

#about_inner_15 .cbp_tmtimeline > li .cbp_tmlabel h3 {
    margin-top: 0px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
}

 #about_inner_15 .cbp_tmtimeline > li .cbp_tmicon{
    margin: -20px 0 0 -25px;
    z-index: 9;
    left: 50px;
}
#about_inner_15 .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 15%;
}
#about_inner_15 .cbp_tmtimeline > li{
    padding-bottom: 60px;
}
#about_inner_15 .cbp_tmtimeline li:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    /*background-color: #000;*/
    left: 50px;
    margin-left: -5px;
}
#about_inner_15 .cbp_tmtimeline:before, #about_inner_15 .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after, #about_inner_15 .cbp_tmtimeline > li .cbp_tmlabel:after{
    display: none;
}
#about_inner_15 .cbp_tmtimeline li:nth-child(1):before{
    background-color: #ffcf01;
}
#about_inner_15 .cbp_tmtimeline li:nth-child(2):before{
    background-color: #63bc46;
}
#about_inner_15 .cbp_tmtimeline li:nth-child(3):before, #about_inner_15 .cbp_tmtimeline li:nth-child(4):before{
    background-color: #e7e7e7;
}

#about_inner_15 .cbp_tmtimeline > li .cbp_tmicon{
    width: 45px;
    height: 45px;
}
#about_inner_15 .cbp_tmtimeline > li:nth-child(1) .cbp_tmicon{
    width: 45px;
    height: 45px;
    box-shadow: 1.8px 6.8px 16px 0 rgba(30, 123, 192, 0.32);
    background-color: #1e7bc0;
}
#about_inner_15 .cbp_tmtimeline > li:nth-child(2) .cbp_tmicon{             
    box-shadow: 1.8px 6.8px 16px 0 rgba(255, 207, 1, 0.32);
    background-color: #ffcf01;
}
#about_inner_15 .cbp_tmtimeline > li:nth-child(3) .cbp_tmicon{
    box-shadow: 1.8px 6.8px 16px 0 rgba(99, 188, 70, 0.32);
    background-color: #63bc46;
}
#about_inner_15 .cbp_tmtimeline > li:nth-child(4) .cbp_tmicon, #about_inner_15 .cbp_tmtimeline > li:nth-child(5) .cbp_tmicon{
     box-shadow: 0 0 16px 0 rgba(128, 128, 128, 0.2);
    background-color: #ffffff;
}
#about_inner_15 .cbp_tmtimeline > li .cbp_tmlabel, #about_inner_15 .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel{
    border-radius: 10px;
    box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.2);
    background-color: #ffffff;
    margin: 0 0 15px 0px; 
}
#about_inner_15 .cbp_tmtimeline > li .cbp_tmlabel{
    padding: 15px 15px 15px 80px;
}
#about_inner_15 .cbp_tmtimeline > li .cbp_tmlabel p{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: left;
    color: #35323e;
    margin-bottom: 10px;
}
.fDiv{
    width: 80%;
    float: left;
}
.sDiv{
    width: 18%;
    float: right;
}
.clr{
    clear: both;
}
.dateTimeText{
    font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.53;
  letter-spacing: 0.6px;
  text-align: center;
  color: #63bc46;
}
#about_inner_15 .cbp_tmtimeline > li:nth-child(1) .cbp_tmlabel .sDiv.dateTimeText, #about_inner_15 .cbp_tmtimeline > li:nth-child(5) .cbp_tmlabel .sDiv.dateTimeText{
    padding-top: 10px;
}
#about_inner_15 .cbp_tmtimeline > li:nth-child(2) .cbp_tmlabel .sDiv.dateTimeText{
    padding-top: 50px;
}
#about_inner_15 .cbp_tmtimeline > li:nth-child(3) .cbp_tmlabel .sDiv.dateTimeText{
    padding-top: 30px;
}
#about_inner_15 .cbp_tmtimeline > li:nth-child(4) .cbp_tmlabel .sDiv.dateTimeText{
    padding-top: 30px;
}
#about_inner_15 .cbp_tmtimeline > li .cbp_tmicon img{
    width: 100%;
}






/* disaster-response css */
.disasterHomeDiv{
    background-image: url(../images/Artboard136.png) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 390px;
    position: relative;
    display: block;
}
.disasterTitel{
    padding: 40px;
}
.disasterTitel h2{
    font-size: 46px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 2.3px;    
  text-align: center;
  color: #ffffff;
}
.disasterTitel p{
    font-size: 35px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.8px;
  text-align: center;
  color: #ffffff;
}
.disasterCardBox{
    border-radius: 10px;
    box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.2);
    background-color: #ffffff;
    padding: 0px 15px 15px; 
    margin-top: 20px;
}
.disasterLeftDiv h5{
    font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.02;
  letter-spacing: 0.8px;
  text-align: left;
  color: #000000;
   margin-bottom: 0px;
}
.disasterLeftDiv .disasterLContent{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.08;
  letter-spacing: 0.1px;
  text-align: left;
  color: #454546;
}
.disasterRPanel{
    border-radius: 10px;
        box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.2);
        background-color: #ffffff;
}
.disasterRTitel{
    padding: 0px 15px;
    font-size: 15px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.02;
      letter-spacing: 0.8px;
      color: #000000;
     padding-top: .5rem;
}
.disasterArImg, .disasterArImg img{
    width: 100%;
    overflow: hidden;
}
.disasterRContent{
    padding: 15px;
}
.disasterRContent h5{
    font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #000000;
}
.disasterRBodyContent{
    font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.08;
      letter-spacing: 0.1px;
      text-align: left;
      color: #454546;
}
.disRiCard{
    margin: 0px 0px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.2);
}
.disasterMiddelCardBox{

}
.disasterMiddelCardBox .cbp_tmtimeline > li .cbp_tmlabel{
    padding: 0px 0px 0px 0px !important;
    width: 100%;
}
.disasterMiddelCardBox .cbp_tmtimeline > li .cbp_tmlabel .fDiv{
    padding: 15px 40px;
}
.dmainDiv{
    height: 180px;
    display: block;
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    /*border-radius: 10px;
    border-right: 1px solid #1e7bc0;        
    border-top: 1px solid #1e7bc0;*/
}
.disasterMiddelCardBox .rigtdisImg{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: absolute;
    right: 15px;
    top: 40px;
    border: 3px solid #1e7bc0;

}
.disasterMiddelCardBox .rigtdisImg img{

    width: 100%;

}
.boxShadowD{
    width: 86%;
    padding-bottom: 70px;
    border-radius: 10px;
    box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.2);
    background-color: #ffffff;
}
.disasterMiddelCardBox .cbp_tmtimeline > li .cbp_tmlabel, .disasterMiddelCardBox .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel{
    box-shadow:none !important;
}
.dT{
    margin: 0px 0px 15px 50px;
    padding: 15px 40px;
    border-radius: 10px;
    border-right: 3px solid #1e7bc0;
    border-top: 3px solid #1e7bc0;
        margin-bottom: 0px;
        text-align: left;
    }
    .disasterMiddelCardBox .fDiv .editable{
        font-size: 12px !important;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.08 !important;
      letter-spacing: 0.1px;
      text-align: left;
      color: #454546 !important;
    }
    .disasterMiddelCardBox .cbp_tmtimeline > li:nth-child(2) .cbp_tmicon{
        box-shadow: 1.8px 6.8px 16px 0 rgba(30, 123, 192, 0.32);
        background-color: #ffcf01;
    }
    .disasterMiddelCardBox .cbp_tmtimeline > li:nth-child(2) .dT{
        border-right: 3px solid #ffcf01;
        border-top: 3px solid #ffcf01;
    }
    .disasterMiddelCardBox .cbp_tmtimeline > li:nth-child(2) .rigtdisImg{
        border: 3px solid #ffcf01;
     }

    .disasterMiddelCardBox .cbp_tmtimeline > li:nth-child(3) .cbp_tmicon{
        box-shadow: 1.8px 6.8px 16px 0 rgba(30, 123, 192, 0.32) !important;
        background-color: #65c8cd !important;
    }
    .disasterMiddelCardBox .cbp_tmtimeline li:nth-child(2):before{
        background-color: #65c8cd !important;
    }
    .disasterMiddelCardBox .cbp_tmtimeline > li:nth-child(3) .dT{
        border-right: 3px solid #65c8cd;
        border-top: 3px solid #65c8cd;
    }
    .disasterMiddelCardBox .cbp_tmtimeline > li:nth-child(3) .rigtdisImg{
        border: 3px solid #65c8cd;
     }




.disasterMiddelCardBox .cbp_tmtimeline > li:nth-child(4) .cbp_tmicon{
    box-shadow: 1.8px 6.8px 16px 0 rgba(30, 123, 192, 0.32) !important;
    background-color:  #63bb45 !important;
}
.disasterMiddelCardBox .cbp_tmtimeline li:nth-child(3):before{
    background-color:  #63bb45 !important;
}
.disasterMiddelCardBox .cbp_tmtimeline > li:nth-child(4) .dT{
    border-right: 3px solid  #63bb45;
    border-top: 3px solid  #63bb45;
}
.disasterMiddelCardBox .cbp_tmtimeline > li:nth-child(4) .rigtdisImg{
    border: 3px solid  #63bb45;
 }
 .disasterMiddelCardBox .cbp_tmtimeline li:nth-child(4):before{
    display: none;
 }
 .disasterBg{
    background-color: #06060694 !important;
    height: 390px;
 }
.disasterMiddelCardBox .cbp_tmtimeline > li .cbp_tmicon img{
    width: 70% !important;
}
.disVideoDiv{
    background-image: url(../images/Artboard135.png) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 300px;
    position: relative;
}
.disasterVideoDiv h3{
    font-size: 35px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 1.8px;
    text-align: center;
    color: #000000;
}
.disVideoDiv{
    border-radius: 10px;
    box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.2);
    background-color: #000000;
    margin: 20px 0px;
}
.disVidContentM{
    width: 100%;
    background-color: #06060694 !important;
    height: 300px;
        border-radius: 10px;
}
.disVF{
    float: left;
    width: 60%;
    padding: 30px;
}
.disVF h4{
    font-size: 30px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: 1.8px;
      text-align: left;
      color: #ffffff;
}
.disVF  p{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.79;
  letter-spacing: 0.1px;
  text-align: left;
  color: #ffffff;
}
.disasterBtnDiv{
    display: block;
    margin: 30px auto;
    text-align: center;
}
.disasterModel .modal-content{
    border-radius: 10px;
     background-color: #ffffff;
     border: 0px;
}
.disasterContent h4{
    font-size: 18.8px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.13;
  letter-spacing: 0.9px;
  text-align: center;
  color: #35323e;
  margin-bottom: 15px;
}
.disasterContent input{
    color: #616261;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #adacad;
    border-radius: 0px;
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  text-align: left;
      padding-left: 0px;
}
.disasterContent input:focus, .disasterContent input:active, .disasterContent .dropdown .btn:focus, .disasterContent .dropdown .btn:active{
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}
.disasterContent .dropdown .btn{
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #adacad;
    border-radius: 0px;
    color: #616261;
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  text-align: left;
      padding-left: 0px;
}
.disasterContent .dropdown .dropdown-toggle::after{
    float: right; 
    margin-top: 10px;
    color: #adacad;
}
.disasterContent .dropdown-item:hover, .disasterContent .dropdown-item:active{
    background-color: transparent;
}
.disasterContent  .form-check-label{
     font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.7px;
      text-align: left;
      color: #35323e;
}
.disasterContent .dropdown .dropdown-menu{
    box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.97);
    background-color: #ffffff;
    border: 0px;
}
.disasterContent .modal-footer{
    text-align: center;
    margin: 0px auto;
    border: 0px;
}
.frdMeter{
    margin-left: 20px;
}
.disVS{
    text-align: center;
    line-height: 300px;
    width: 35%;
    float: right;
}
.disasterModel.show {
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}
.disasterModel .modal-content{
  width: 500px;
  padding: 30px;
}

/* end disaster-response css */



@media only screen and (max-width:1440px) { 
    .disasterMiddelCardBox .rigtdisImg{
        /*right: 25px;*/
    }
}   








@media only screen and (max-width:1024px) {    
    .fDiv {
        width: 75%;
    }
    .sDiv {
        width: 23%;
    }
    .disasterMiddelCardBox .rigtdisImg{
        right: 0px;
    }
    .boxShadowD{
        padding-bottom: 100px;
    }

}

@media only screen and (max-width:768px) {   
    .disasterMiddelCardBox .rigtdisImg {
        right: 30px;
    }
    .disVF{
        white-space: normal;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .disVF p{
        white-space:nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

}

@media only screen and (max-width:700px) {

    .disasterTitel h2{
        font-size: 24px;
    }
    .disasterTitel p {
        font-size: 18px;
    }
    .disasterMiddelCardBox .rigtdisImg{
        display: none;
    }
    .disasterMiddelCardBox .dT, .disasterMiddelCardBox .cbp_tmtimeline > li:nth-child(2) .dT, .disasterMiddelCardBox .cbp_tmtimeline > li:nth-child(3) .dT, .disasterMiddelCardBox .cbp_tmtimeline > li:nth-child(4) .dT{
        border: 0px;
    }
    .disasterMiddelCardBox .fDiv {
        width: 100%;
    }
    .disasterMiddelCardBox .boxShadowD{
        padding-bottom: 115px;
    }
}

@media only screen and (max-width:576px) {
  .disasterModel .modal-content{
      width: 100%;
  }
}


@media screen and (min-width:320px) and (max-width:480px){

    #about_inner_15 .cbp_tmtimeline > li .cbp_tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
    }

    #about_inner_15 .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 1.5em;
    }

    #about_inner_15 .cbp_tmtimeline > li .cbp_tmtime span {
        text-align: left;
    }

    #about_inner_15 .cbp_tmtimeline > li .cbp_tmicon {
        position: relative;
        float: left;
        left: 25px;
        margin: -22px 7px 0 0px;
    }
    #about_inner_15 .cbp_tmtimeline li:before{
        left: 50px;
    }
    #about_inner_15 .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 30px 0;
        padding: 1em;
        font-weight: 400;
        font-size: 95%;
    }

    #about_inner_15 .cbp_tmtimeline:before{
        display: none;
    }

    #about_inner_15 .cbp_tmtimeline > li .cbp_tmlabel:after {
        right: auto;
        left: 20px;
        border-right-color: transparent;
        border-bottom-color: rgba(0, 131, 255, 0.1);
        top: -20px;
    }

    #about_inner_15 .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: rgba(0, 131, 255, 0.05);
    }

}
@media screen and (min-width:481px) and (max-width:767px){
    
    #about_inner_15 .cbp_tmtimeline > li .cbp_tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
    }

    #about_inner_15 .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 1.5em;
    }

    #about_inner_15 .cbp_tmtimeline > li .cbp_tmtime span {
        text-align: left;
    }

    #about_inner_15 .cbp_tmtimeline > li .cbp_tmicon {
        position: relative;
        float: right;
        left: auto;
        margin: -55px 5px 0 0px;
    }

    #about_inner_15 .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 30px 0;
        padding: 1em;
        font-weight: 400;
        font-size: 95%;
    }

    #about_inner_15 .cbp_tmtimeline:before{
        display: none;
    }

    #about_inner_15 .cbp_tmtimeline > li .cbp_tmlabel:after {
        right: auto;
        left: 20px;
        border-right-color: transparent;
        border-bottom-color: rgba(0, 131, 255, 0.1);
        top: -20px;
    }

    #about_inner_15 .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: rgba(0, 131, 255, 0.05);
    }
}
@media screen and (min-width:768px) and (max-width:980px){	
}
