.breadcrumb {
    position: relative;
    border-radius: 0;
    /*border-bottom: 1px solid #c8ced3;*/
    transition: left .25s,right .25s,width .25s;
    background-color: #fff;
    line-height: 54px;
    padding-bottom: 0px;
}
.dashboardOverflow{
	overflow: hidden;
	position: relative;
}
.dashboardOverflow .LoginbgCircle, .LoginbgCircle.dashBgImg {
	top: 190px;
	z-index: -1;
}
.LoginbgCircle1.dashBgImg{
	top: 300px;
	z-index: -1;	
}
.breadcrumb-item {
    display: list-item;
    padding-right: 15px;
    text-align: -webkit-match-parent;
}
.breadcrumb-item a{
	color: #6d6d6d;
	font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.9px;
    text-align: left;
    text-decoration: none;
    font-size: 18px;
}
.breadcrumb-item a:hover{
	text-decoration: none;
}
.breadcrumb-item.active a{			
    color: #0c609a;
    text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem;
}
.breadcrumb-menu {
    margin-left: auto;
}
.breadcrumb-menu .btn-group {
    vertical-align: top;
}
.breadcrumb-menu .btntext {
    padding: 0 .75rem;
    color: #73818f;
    vertical-align: top;
    border: 0;
}
.breadcrumb-item+.breadcrumb-item::before{
	display: none;
}
.breadcrumb-menu .btn-group .btntext .profileImg{
	width: 50px; 
	height: 50px ; 
	border-radius: 100%;
}
.breadcrumb-menu .btn-group .btntext .nameTitle{
	  font-weight: 400;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0.9px;
	  text-align: left;
	  color: #6d6d6d;
	  margin-left: 15px;
	  font-size: 18px;
}
.breadcrumb-menu .btn-group .btntext .rightIcon1{
	width: 20px;
    height: 20px;
}
.overHidden{
	overflow: hidden;
}
.dashboardBox{
	border-radius: 10px;
	padding: 20px 15px;
	box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.2);
	background-color: #ffffff;
	margin-bottom: 20px;
	position: relative;
	/*overflow: hidden;*/
}
.userImage{
	width: 140px;
    height: 140px;
    border-radius: 100%;
    margin: 0px auto 20px auto;
}
.profileDiv h5{
	font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.9px;
    color: #000000;
    font-size: 18px;
}
.profileDiv .text-muted{
	font-weight: 300;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0.8px;
	  color: #000000 !important;
	  margin-bottom: 0px;
	  font-size: 16px;
}
.userImage .imageEditor{
	position: relative;
    top: -45px;
    right: -110px;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    overflow: hidden;
    border-radius: 100%;
    background-color: #d9e7ff;
    text-align: center;
	line-height: 26px;
}
.userImage .imageEditor img{
	width: 40%;
}
.userImage .imageEditor i{
	color:#67c8cd;
}
.profileDiv .profileDot{
	float: right;
    position: relative;
    top: -5px;
}
.loginTime{
	float: right;
	font-size: 8px; 
	font-weight: 300; 
	font-style: normal; 
	font-stretch: normal; 
	letter-spacing: 0.4px; 
	text-align: left; 
	color: #000000;
}
.dashboardBoxTitle{
	font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.8px;
  color: #000000;
  white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 15px;
}
.editorImg{
	float: right;

}
.editorImg img{
	width: 15px;
	cursor: pointer;
}
.seeMoreF{
  font-size: 11.9px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #0c609a !important;
}
.dashboardContent{
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  text-align: left;
  color: #454546;
  font-size: 12px;
}
.bioList, .SDGList{
	list-style-type: none;
	margin-left: -40px;
}
.bioList li, .SDGList li{
	height: 40px;
	line-height: 40px;
	font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0.1px;
	  text-align: left;
	  color: #454546;
	  white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.SDGList li{
	margin-bottom: 10px;
}
.bioImg{
	height: 18px;
	width: 18px;
	float: left;
	margin-right: 15px;
}
.bioText{
	font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    text-align: left;
    color: #454546;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    border-radius: 22px;
}
.bioText:focus, .bioText:active, .form-control:focus, .form-control:active{
	box-shadow: none;
	outline: none;
}
.bioImg img{
	width: 100%;
}
.progessBarDiv {
  width: 100%;
}
.progessBarDiv p{
	font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.8px;
    color: #000000;
    font-size: 15px;
}
.eventMainD span{
	font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.7px;
    text-align: left;
    color: #35323e;
}
.progessBar {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 20px;
  background-color: #67c8cd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.progessBar:hover {
  opacity: 1;
}

.progessBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #67c8cd;
  border:1px solid #fff;
  border-radius: 100%;
  cursor: pointer;
}

.progessBar::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
.myContribution{
	display: inline-block;
	width: 100%;
	margin-top: 10px;
}
.myContribution .myContImg{
	width: 48px;
	height: 48px;
	border:1px solid #0c609a;  			
	float: left;
	border-radius: 100%;
}
.myContribution .myContImg img{
	/*border:2px solid #fff;*/
	border-radius: 100%;
	width: 100%;
}
.myContContent{
	width: 76%;
	float: left;
	margin-left: 15px;
	margin-top: 2px;
}
.myContContent .myContname{
	font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #000000;
  margin-bottom: 0px;
      white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.width214px{
	width: 214px;
}
.mytime{
	font-size: 12px;
	  font-weight: 300;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0.6px;
	  color: #6d6d6d;
}
.btnBG{
	border-radius: 5px;
		background-color: transparent;
		font-size: 12px;
	  font-weight: 500;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: normal;
	  text-align: center;
	  color: #999999;
	  outline: none;
	  width: 90px;
}
.dayDiv .btnBG, .dayDiv .btnBGActive{
	margin-left: 15px;
}
.btnBGActive{
	border-radius: 5px;
		background-color: #67c8cd;
		color:#fff;
		font-size: 12px;
	  font-weight: 500;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: normal;
	  text-align: center;
	  outline: none;
	  width: 90px;
}
.btnBG:active, .btnBG:focus, .btnBGActive:focus, .btnBGActive:active, .causeBtn:active, .causeBtn:focus{
	outline: none;
	box-shadow: none !important;
}
.causeBtn.active{
	width: 133px;
    height: 36px;
    border-radius: 5px;
    background-color: #67c8cd;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    box-shadow: none;
    border: 0px;
}
.causeBtn{
	width: 133px;
    height: 36px;
    border-radius: 5px;
    background-color: #fff;
    color: #999999;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    box-shadow: none;
    border: 0px;
    cursor: pointer;
}
.dayDiv{
	float: right;
	margin:20px 0;
}
.midImg{
	width: 53px;
	height: 53px;
	float: left;
	border-radius: 100%;
}
.midImg img{
	width: 100%;
}
.midContent .midMyContname{
	font-size: 14px;
	  font-weight: 500;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0.7px;
	  text-align: left;
	  color: #35323e;
	      margin-bottom: 0px;
	      padding-top: 5px;
}
.midContent .midMytime{
	font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.6px;
  color: #63bc46;
}
.userCommentTitel{
	padding:15px 0px;
	display: block;
    position: relative;
    /*overflow: hidden;*/
}
.userCommentTitel .midMyCont{
	float: left;
	width: 70%
}
.seeMoreBtn{
	margin-right: 10px;
}
.contributeBtn .btn{
	 /*width: 130px;*/
  	/*height: 28px;*/
  	color: #fff;
  	float: right;
  	border-radius: 14px;
  	background-color: #67c8cd;
  	border: 0px;
  	padding-right: 15px;
    padding-left: 15px;
    font-size: 10.6px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
}
.contributeBtn .btn:focus, .contributeBtn .btn:active{
	outline: none;
	box-shadow: none;
}
.contributeBtn .dropdown-toggle::after{
	margin-left: 15px;
}
.dropdown-toggle::after{
	vertical-align: .100em;
	margin-left: 15px;
}
.paddingLR0px{
	padding-right: 0px;
	padding-left: 0px;
}
.paddingLR15px{
	padding-right: 15px;
	padding-left: 15px;	
}
.imageWidth{
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
	overflow: hidden;
}
.imageWidth img{
	width: 100%;
}
.supportlist{
	margin-top: 10px;
}
.supportlist ul{
	list-style-type: none;
	margin-left: -15px;
	display: inline-block;
}
.supportlist ul li:nth-child(1){
	margin-left:  -10px;
}
.supportlist ul li{
	float: left;
	padding-right: 15px;
	font-size: 12px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0.6px;
	  color: #010101;
}
.supportlist ul li img{
	padding-right: 5px;
}
.rightUl{
	float: right;
}
.rightUl li{
	float: right;
}
.rightUl li a{
	font-size: 12px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0.6px;
	  color: #707070;
}
.viewUser{
	font-size: 12px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  margin-bottom: 0px;
	  letter-spacing: 0.6px;
	  color: #707070;
	  margin-bottom: 10px;
}
.paddingTB15px{
	padding-top: 15px;
	padding-bottom: 15px;
}
.viewBodyContent {
	border-bottom: 1px solid #f4f7fc;
}
.viewBodyContent{
	font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  text-align: left;
  color: #454546;
  margin-bottom: 0px;
  line-height: 2.00;
}
.userCommentBox{
	margin:20px 0px;
}
.commentImg{
	width: 46px;
	height: 46px;
	float: left;
	border-radius: 100%;
	margin-right: 15px;
}
.commentImg img{
	width: 100%;
	border-radius: 100%;
}
.commentText{
	width: 90%;
	float: left;
}
.commentText .form-group input{
		height: 44px;
	  border-radius: 22px;
	  background-color: #f2f3f5;
	  font-size: 14px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0.7px;
	  color: #aeaeae;
}
.commentText .commenttt{
	border-radius: 22px;
		background-color: #f2f3f5;
		padding: 15px;
		font-size: 12px;
	  font-weight: 300;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0.6px;
	  text-align: left;
	  color: #71808d;
	  margin-bottom: 10px;
}
.commentName{
	font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.7px;
  text-align: center;
  color: #0c609a;
}
.replyTime{
	font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.6px;
  text-align: center;
  color: #63bc46;
  padding-left: 15px;
  cursor: pointer;
}
.reportBtn{
    font-size: 10.6px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    outline: none;
    background-color: #67c8cd;
    border-radius: 14px;
    border:0px;
    width: 117px;
 	 height: 28px;

}
.progressBarDv .rateUser{
	width: 14%; float: left;
}
.progressBarDv .rateMark{
	width: 80%; float: left;
}
.shareDiv1{
	width: 50%;
	float: left;
}
.bioContentUpdate ul li{
	margin-bottom: 10px;
}
.shareDiv1 span{
	font-size: 15px;
	  font-weight: 300;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0.8px;
	  text-align: center;
	  color: #000000;
}	
.shareDiv2{
	width: 50%;
	float: right;
	text-align: right;
}
.marginBottom5px{
	margin-bottom: 5px;
}
.marginBottom20px{
	margin-bottom: 20px;
}
.leadMore{
  width: 180px;
    height: 35px;
    border-radius: 21.5px;
    background-color: #67c8cd;
    border: 0px;
}


.midContent{
	float: left;
	margin-left: 15px;
	width: 80%;
	/*background-image: url('../images/Artboard69.png');
	background-position: right 0px center;
    background-repeat: no-repeat;
    background-size: 0.7%;*/
}
.mobileLRDiv{
	padding:0px 15px 15px;
}
.mobileViewClose, .mobileLRDiv{
	display: none;
}
.close{
	width: 40px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 100%;
    border: 1px solid #fff;
    padding: 5px;
}
.leftNN{
	background-color: #06060694 !important;
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 15px;
	padding: 120px 15px 15px 15px;
	z-index: 999999;
	cursor: pointer;
}


/* multi step progress bar css */
 .stepprogressbar {
  margin: 0;
  padding: 0;
  counter-reset: step;
   margin-top: -9px;
}
.stepprogressbar li {
  list-style-type: none;
  width: 20%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.stepprogressbar li:before {
  width: 8px;
	height: 8px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}
.stepprogressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  color:#fff;
  z-index: 1;
}
.stepprogressbar li:first-child:after {
  content: none;
}
.stepprogressbar li.active {
  color: green;
}
.stepprogressbar li.active:before {
  border-color: #55b776;
  cursor: pointer;
}
.stepprogressbar li.active + li:after {
  background-color: #55b776;
}

.stepprogressbar li:after{
    height: 10px;
    background-color: #67c8cd;
}
.stepprogressbar li.active + li:after{
    background-color: #67c8cd;   
}
.stepprogressbar li:before {
     width: 8px;
	height: 8px;
    border: 2px solid #67c8cd;
    content: '';
}
.stepprogressbar li:before{
    margin: 16px auto 10px auto;
    z-index: 2;
    position: relative;
}
.stepprogressbar li.active:before{
    width: 20px;
    height: 20px;
    content:'';
    border:solid 8px #67c8cd;
    background-color: #fff;
    margin: 9px auto 10px auto;
    z-index: 2;
    position: relative;
}



.stepprogressbar li:after, .stepprogressbar li.active + li:after, .stepprogressbar li.active:before{
	background-color: #CD676B;
}
.stepprogressbar li:before{
	border: 2px solid #CD676B;
}
.stepprogressbar li.active:before{
	border:solid 8px #CD676B;
	 background-color: #fff;
}


/*step progressBar green color */
.stepprogressbar.greenStepProgressBar li:after, .stepprogressbar.greenStepProgressBar li.active + li:after, .stepprogressbar.greenStepProgressBar li.active:before{
	background-color: #63BC46;
}
.stepprogressbar.greenStepProgressBar li:before{
	border: 2px solid #63BC46;
}
.stepprogressbar.greenStepProgressBar li.active:before{
	border:solid 8px #63BC46;
	 background-color: #fff;
}


/* red color */
.redStepProgressBar.stepprogressbar li:after, .stepprogressbar.redStepProgressBar li.active + li:after, .stepprogressbar.redStepProgressBar li.active:before{
	background-color: #67C8CD;
}
.stepprogressbar.redStepProgressBar li:before{
	border: 2px solid #67C8CD;
}

.stepprogressbar.greenStepProgressBar li.active:before{
	 border:solid 8px #63BC46;
	 background-color: #fff;
}
.stepprogressbar.redStepProgressBar li.active:before{
	 border:solid 8px #67C8CD;
	 background-color: #fff;
}

/* multi step progress bar end css */

/* my Connect css */
.yourKonnectTitle{
	font-size: 18px;	        	
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.9px;
  text-align: left;
  color: #909090;
}
.frdMainDiv{
	margin: 0xp auto;
}
.connectFrdCard{
	 width: 183px;
	  height: 258px;
	  border-radius: 10px;
	  border: solid 1px #e8e8e8;
  		background-color: #ffffff;
	  float:left;
	  margin:15px 15px;
	  position: relative;
}
.connectFrdCard.active{
	 width: 183px;
	  height: 258px;
	  border-radius: 10px;
	  box-shadow: 0px 1px 9px 0 #dfdfdf;
	  border: solid 1px #e8e8e8;
	  background-color: #fff;
	  float:left;
	  margin:15px 15px;
	  position: relative;
}
.ncontent{
	font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.2px;
  text-align: left;
  color: #454546;
  font-size: 14px;
}
.yourKonnectDrop .dropdown-menu .dropdown-item:first-child img{
	width: 14px;
}
.frdImg{
	width: 108px;
  height: 108px;
  background-color: #0c609a;
  border-radius: 100%;
  margin: 25px auto;
}
.frdImg img{
	width: 100%;
}
.iconSee{
	width: 29px;
	height:29px;
	float: left;
	border-radius: 100%;
	border:1px solid #67c8cd;
	background-color: #fff;

}
.marginLeftN10px{
	margin-left:  -10px;
}
.moreT a{
	font-size: 10px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0px;
    margin-left: 15px;
      line-height: 4.5;
  text-align: center;
  color: #72808e;
}
.moreT a:hover{
	text-decoration: none;
}
.friendBtnDiv{
	margin: 10px auto;
	text-align: center;
}
.friendBtn{
	 width: 101px;
	  height: 24px;
	  border-radius: 12px;
	  background-color: #67c8cd;
	  font-size: 11px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0.3px;
	  text-align: center;
	  color: #ffffff;
	  outline: none;
}
.friendBtn:focus{
	outline: none;
}
.modelWindowC{
	  width: 204px;
	  border-radius: 10px;
	  box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.97);
	  background-color: #ffffff;
	  padding: 10px 15px;
	  display: none;
	  position: relative;
}
.blockFrd img{
	width: 17px;
	height: 17px;
	margin-right: 10px;
}
.modelWindowC span{
	font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.86;
  letter-spacing: 0.7px;
  text-align: left;
  color: #35323e;
}
.closeWindowB img{
	width: 17px;
	height: 17px;
	position: absolute;
	top: 6px;
	right: 6px;
}
.rightSideNav{
	list-style-type: none;
}
.rightSideNav li{
	float: left;
	list-style-type: none;
}
.rightSideNav li .dropdown-toggle.btntext{
	outline: none;
	border: 0px;
}
.rightSideNav li .dropdown-toggle.btntext::after{
	display: none;
}
.btntext:focus, .btntext:active{
	outline: none;
}
.rightSideNav .dropdown .dropdown-menu.show, .contributeBtn.dropdown .dropdown-menu.show, .dotDropBtn .dropdown-menu.show{
	    border-radius: 10px;
    box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.97);
    background-color: #ffffff;
    border: 0px;
    z-index: 3;
}
.dropdown .dropdown-menu.show{
	top: 15px !important;
}
.rightSideNav .dropdown .dropdown-menu .dropdown-item, .contributeBtn.dropdown .dropdown-menu .dropdown-item{
	/*padding: .0rem 1.5rem;*/
	font-size: 14px;
	line-height: 2.2;
}
.rightSideNav .dropdown .dropdown-menu .dropdown-item img, .contributeBtn.dropdown .dropdown-menu .dropdown-item img, .dotDropBtn .dropdown-menu .dropdown-item img{
	margin-right: 15px;
}
.rightSideNav .dropdown .dropdown-menu .dropdown-item:focus, .contributeBtn.dropdown .dropdown-menu .dropdown-item:focus{
	background-color: transparent !important;
}
.contributeBtn.dropdown .dropdown-menu.show{
	padding:15px 0px;
}
.rightSideNav .dropdown .dropdown-menu .dropdown-item {
    /*height: 30px;*/
    display: block;
    overflow: hidden;
    /*line-height: 20px;*/
}
.modal.show.reportModel{
	display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}
.reportModel .modal-dialog{
	width: 500px;
}
.dotDropBtn .btn{
	border: 0px;
    background: transparent;
    outline: none;
}
.dotDropBtn .btn:focus, .dotDropBtn .btn:active, .dotDropBtn .btn:hover {
	outline: none !important;
	border:0px;
	box-shadow: none;
}
.dotDropBtn .dropdown-toggle::after{
	display: none;
}
.dotDropBtn .dropdown-item{
	padding: 5px 15px;
	clear: both;
	font-size: 14px;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    line-height: 2.2;
}
.shareDotDropBtn .btn {
	background: transparent;
    border: 0px;
    box-shadow: none;
    /*padding-right: 0px;*/
}
.shareDotDropBtn .dropdown-toggle::after{
	display: none;
}
.shareDiv2 ul{
	float: right;
	margin-bottom: 0px;
}
.shareDiv2 ul li{
	list-style-type: none;
	float: left;
	margin-left: 15px;
}
.shareDiv2 ul li:last-child{
	margin-left: 5px;	
}
.shareDotDropBtn .dropdown-menu a{
	font-size: 14px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;							  
	  letter-spacing: 0.7px;
	  text-align: left;
	  color: #35323e;
	  line-height: 2.2;
}
.shareDotDropBtn .dropdown-menu a img{
	margin-right: 15px;
}
.shareDotDropBtn .dropdown-menu.show{
	border-radius: 10px;
    box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.97);
    background-color: #ffffff;
    border: 0px;
}
.shareDotDropBtn .dropdown-menu a:focus{
	background-color: transparent;
}
.shareDotDropBtn .dropdown-menu{
	z-index: 3;
}
.custCheckbox input[type=checkbox] {
    display:none;
}
.custCheckbox input[type=checkbox] + label{
	background:url('../images/Artboard – 188.png') no-repeat;
	height: 15px;
	width: 15px;
	background-size: 100%;

}
.custCheckbox input[type=checkbox]:checked + label{	
	background:url('../images/Artboard102.png') no-repeat;
	height: 15px;
	width: 15px;
	background-size: 100%;
}
.textArea textarea{
    outline: none;
    /*border: 0px;*/
    box-shadow: none;
    border: 0px;
    resize: none;
}
.textArea p{
	font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.8px;
  color: #000000;
  padding-bottom: 0px;
	margin-bottom: 5px;
	text-align: left;
}
.textArea textarea{
	font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.8px;
  color: #000000;
}
.shareBtn:focus, .shareBtn:active, .btn:focus, .btn:active{
	outline: none;
	box-shadow: none;
}
.shareBtnMain{
	margin: 15px 0px;
	border-top: 1px solid rgba(211, 211, 211, 0.2);
	border-bottom: 1px solid rgba(211, 211, 211, 0.2);
	height: 45px;
	line-height: 30px;
	
}
.shareBtnMain ul{
	list-style-type: none;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
}
.shareBtnMain ul li{
	list-style-type: none;
	float: left;
	padding-left: 9px;	
}
.shareBtnMain ul li:first-child{
	padding-left: 0px;		
}
.shareBtnMain .shareBtn{
	width: 117px;
  	/*height: 28px;*/
  	border-radius: 14px;
  	background-color: #67c8cd;
  	font-size: 10.6px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0.5px;
	  text-align: center;
	  color: #ffffff;
}
.imageWid img{
	width: 100%;
}
.disasterBtn:focus{
	outline: none;
	box-shadow: none;
	border: 0px;
}
.disasterBtn{
	    line-height: 40px;
	    padding-left: 15px;
	    padding-right: 15px;
    border-radius: 21.5px;
    border-color: #67c8cd;
    background-color: #67c8cd;
    border: 0px;
    outline: none;
    outline: none;
}
.disasterBtn a{
	    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.2px;
    text-align: left;
}
.eventGrid  .timeLineTitel{
	font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  text-align: left;
  color: #454546;
   margin-top: 7px;
}
.frdBtn{
	
	
	text-align: right;
}
.frdBtn .btn{
 	border-radius: 14px;
	background-color: #67c8cd;
	border:0px;
	font-size: 10.6px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  width: 80%;
	  letter-spacing: 0.5px;
	  text-align: center;
	  color: #ffffff;
 }
 .eventGrid .custCheckbox{
 	margin-top: 8px;
 }
 .eventGrid .imageWid{
 	width: 30px;
 }
 .eventGrid .row{
 	    margin-bottom: 10px;
 }
 .dashboardSearchBox {
    border-radius: 10px;
    box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.2);
    background-color: #ffffff;
    margin-bottom: 20px;
    /* overflow: hidden; */
}
.SearchBoxpadding{
	padding: 20px 15px;
}
.shareFullBtn{
	background-color: #67c8cd;
	font-size: 10.6px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  height: 40px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  width: 100%;
   border-top-left-radius: 0px;
border-top-right-radius: 0px;
}
.sharePhone ul{
	list-style-type: none;
	padding: 0px;
	margin: 15px 0px;
}
.sharePhone ul li{
	width: 111px;
	height: 111px;
	float: left;
	margin-bottom: 15px;
	margin-right: 15px;
	border-radius: 100%;
	/*border: 1px solid black;*/
	overflow: hidden;
}
.sharePhone ul li img{
	width: 100%;
}
.tagPeople p{
	font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  text-align: left;
  color: #454546;
  margin-bottom: 0px;
  border-top:1px solid rgba(211, 211, 211, 0.2);
  padding-top: 10px;
}
.fileUploadBtn1 .form-control-file, .sdgUpload .form-control-file, .storiUpload .form-control-file{
	display: none
}
.fileUploadBtn1 label{
	width: 100%;
	height: 111px;
	border-radius: 100%;
	background-image: url('../images/Artboard – 190.png');
  	background-repeat: no-repeat;
  	background-size: 100%;
}
.sdgUpload label{
	width: 34px;
	height: 34px;
	border-radius: 100%;
	background-image: url('../images/Artboard – 190.png');
  	background-repeat: no-repeat;
  	background-size: 100%;
  	margin-right: 15px;
}
.coverEditBtn .form-control-file{
	display: none;
}
.coverEditBtn label{
	width: 18px;
	height: 18px;
	border-radius: 100%;
	background-image: url('../images/Artboard63.png');
  	background-repeat: no-repeat;
  	background-size: 52%;
    background-position: center center;  	
}




.storiUpload{
	width: 100%;
}
.storiUpload label{
	width: 46px;
	height: 46px;
	border-radius: 100%;
	background-image: url('../images/Artboard – 174.png');
  	background-repeat: no-repeat;
  	background-size: 100%;
  	margin-right: 15px;
}
.SDGImg{
	width: 34px;
	height: 34px;
	margin-right: 15px;
	float: left;
	border-radius: 100%;
}
.SDGImg img{
	width: 100%;
	padding: 0px;
}
.SDGText{
	    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    text-align: left;
    color: #454546;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
}
.fileUploadBtn1{
	font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.7px;
  text-align: left;
  color: #35323e;
}
.floatRight{
	float: right;
}
.rightSideIcon ul li img, .shareDiv2 ul li img, .shareDiv1{
	cursor: pointer;
}
.dropdown.CommentBtn .btn, .dropdown.CommentBtn.show .btn{
	font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.6px;
    color: #010101;
    background-color: transparent;
    padding: 0px;
    outline: none;
    border: 0px;
}
.dropdown.CommentBtn .btn:focus, .dropdown.CommentBtn .btn:active, .dropdown.CommentBtn.show .btn:focus, .dropdown.CommentBtn.show .btn:active{
	outline: none;
	border: 0px;
	box-shadow: none;
}
.dropdown.CommentBtn .dropdown-toggle::after{
	display: none;
}

.dropdown.CommentBtn .dropdown-menu{
	border-radius: 10px;
  	box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.97);
  	background-color: #ffffff;
  	border: 0px;
  	z-index: 3;
}
.dropdown.CommentBtn .dropdown-item{
	    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.7px;
    text-align: left;
    color: #35323e;
}
.dropdown.CommentBtn .dropdown-item img{
	padding-right: 15px;
}
.dropdown.CommentBtn .dropdown-item:hover, .dropdown.CommentBtn .dropdown-item:focus{
	background-color: transparent;
}
.commentModel .modal-content{
	border-radius: 10px;
  	background-color: #ffffff;
    border: 0px;
    box-shadow: none;
}
.commentModel .modal-body{
	padding-right: 0px;
	padding-left: 0px;
}
.modelShareComment p{
	font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: left;
  color: #000000;
  white-space: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 15px;
	padding-right: 15px;
}
.commentModelBody img{
	width: 100%;
}
.commentModelcontent{
	font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  text-align: left;
  color: #454546;
}
.commentModel .modal-footer{
	border:0px;
	margin: 0px auto;
}
.commentModel{
	max-width: 70%;
}
.modelCommentTextarea{
	margin-top: 15px;
	font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  text-align: left;
  color: #454546;
      resize: none;
    border-radius: 0px;
    outline: none;
    border-left: 0px;
    border-right: 0px;
    border-color: #707070;
}
.modelCommentTextarea:focus, .modelCommentTextarea:active{
	outline: none;
	box-shadow: none;
}
/*.commentModel .disasterBtn{
	width: 195px;
  height: 46px;
}*/
.commentModel .disasterBtn span{
	font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
  
}
.commentModel .disasterBtn img{
	margin-left: 15px;
}
.dataListFrd{
	margin-bottom: 25px;
}
.dataListFrd .friTitel{
	font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  text-align: left;
  color: #454546;
}
.CommentborderF{
	border:1px solid #707070;
	border-left: 0px;
}
.CommentborderL{
	border:1px solid #707070;
	border-right: 0px;
}
.paddingTB5px{
	padding-top: 5px;
	padding-bottom: 5px;
}
.reportBtn:active, .reportBtn:focus{
	outline: none;
	box-shadow: none;
}
.reportModel .modal-dialog{
	border-radius: 10px;
		background-color: #ffffff;
		border:0px;
}
.reportModel .modal-body .reportModelTitel{
	font-size: 18.8px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: left;
  color: #35323e;
  margin-bottom: 15px;
}
.reportModel textarea{
	  font-size: 14px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0.1px;
	  text-align: left;
	  color: #616261;
	  resize: none;
	  border:0px;
	  border-radius: 10px;
			box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.2);
}
.reportModel textarea:active, .reportModel textarea:focus{
	outline: none;
	/*box-shadow: none;*/
	box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.2);
}
.reportModel p{
	font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.1px;
  text-align: left;
  color: #616261;
}
.reportModel  .modal-footer{
	border:0px;
	margin: 0px auto;
}




/* my Group */
.myGroupTitel{
	font-size: 18px;
	  font-weight: 500;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0.9px;
	  text-align: left;
	  color: #909090;
}
.searchmyGroup{
	font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color: #999999;
}
.groupCard{
	border-radius: 10px;
  	box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.2);
  	background-color: #ffffff;
  	border: solid 1px #e8e8e8;
  	padding:15px;
  	margin-top: 20px;
}
.groupContent{
	float: left;
	width: 70%;
	padding-left: 15px;
}
.groupImg{
	width: 63px;
		height: 63px;
		border-radius:100%;
		overflow: hidden;
		float: left;
}
.groupImg img{
	width: 100%;
}
.guserName{
	font-size: 15.9px;
	  font-weight: 500;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0.1px;
	  text-align: left;
	  color: #3f424c;
	  white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
}
.unreadMsg{
	font-size: 10px;
	  font-weight: 300;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0px;
	  text-align: left;
	  color: #72808e;
}
.settinGroup{
	  position: absolute;
	  top: 30px;
	  right: 25px;
}
.settingImg{
	width: 24px;
	  height: 24px;
	  border-radius: 5px;
	  /*border: solid 1px #d7d7d7;
	  background-color: #e1e1e1;
	  overflow: hidden;
	  position: absolute;
	  top: 30px;
	  right: 25px;*/
	  padding: 0px;
}
.settingImg.dropdown-toggle::after{
	display: none;
}
.settinGroup .dropdown-menu .dropdown-item{
	font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.2;
  letter-spacing: 0.7px;
  text-align: left;
  color: #35323e;
}
.settinGroup .dropdown-menu .dropdown-item img{
	margin-right: 15px;
}
.settinGroup .dropdown-menu .dropdown-item:last-child img{
	/*width: 17px;*/
	margin-right: 17px;
}
.settinGroup .dropdown-menu .dropdown-item:focus, .settingImg .dropdown-menu .dropdown-item:active{
	background-color: transparent;
}
.settinGroup .dropdown-menu{
	border-radius: 10px;
  box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.97);
  background-color: #ffffff;
  border:0px;
}
.settingImg img{
	width: 100%;
	cursor: pointer;
}
.viewMemberT{
	text-align: right;
	padding: 15px;
	width: 100%;
}
.viewMemberT span{
	font-size: 10px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  line-height: 2.83;
  letter-spacing: 0.1px;
  text-align: right;
  color: #72808e;
}
.searchmyGroup{
	display: inline-flex;
		 float: right;
}
.searchmyGroup img{
	width: 17px;
	height: 17px;
	margin-right: 10px;
}
.searchmyGroup span{
	display: inline-flex;
}
.searchmyGroup input{
	border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    border-radius: 0px;
    outline: none;
    padding-top: 0px;
	padding-bottom: 0px;
}
.searchmyGroup input:focus, .searchmyGroup input:active{
	outline: none;
	box-shadow: none;
}
.searchGroupInput2{
	cursor: pointer;
}
.coverPhoto{
	background-image: url('../images/Artboard – 192.png');
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	width: 100%; 
    height: 390px; 
        position: relative;
    display: block;
   /* overflow: hidden;*/
}

.profiePhotoChange .form-control-file{
	display: none;
}
.profiePhotoChange label{
	border-radius: 100%;
	background-image: url('../images/Artboard – 191.png');
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
    background-position: center center;
    width: 200px;
	height: 200px;	
}
.editCoverPhoto{
	width: 21px;
	height: 21px;
	border: solid 1.5px #ffffff;
	background-color: #d9e7ff;
	top: 15px;
	position: relative;
	left: 15px;
	border-radius: 100%;
	text-align: center;
}
.editCoverPhoto img{
	width: 60%;
	padding-bottom: 5px;
}
.profiePhotoChange{
	width: 200px;
	height: 200px;
	 background-color: #ffffff;
	 border-radius: 100%;
	 margin: 220px 0px 0px 80px;
	 float: left;
	 margin-right: 20px;
}
.converTitel{
	width: 50%;
	float: left;
}
.converTitel{
	margin-top: 305px;
}
.ngoMemberBtn.active{
	font-size: 10.6px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    outline: none;
    background-color: #67c8cd;
    border-radius: 16px;
    border: 0px;
    width: 117px;
    height: 28px;
    margin-top: 15px;
}
.ngoMemberBtn{
	font-size: 10.6px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #8a8694;
    outline: none;
    background-color: transparent;
    border: 0px;
    width: 117px;
    height: 28px;
    border-radius: 16px;
  	border: solid 1px #8a8694;
  	margin-top: 15px;
}
.profileEditBioDiv{
	text-align: right;
}
.profileEditBioBtn{
	font-size: 10.6px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    outline: none;
    background-color: #67c8cd;
    border-radius: 16px;
    border: 0px;
    padding: 5px 15px;
}
.ngoMemberBtn:focus, .ngoMemberBtn:active, .profileEditBioBtn:focus, .profileEditBioBtn:active{
	outline: none;
	box-shadow: none;
}
.converTitel .coverTitelText, .editTextBox{
	float: left;
	font-size: 46px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 2; */
    letter-spacing: 2.3px;
    text-align: left;
    color: #ffffff;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.converTitel img{
	margin: 20px 30px 0px;
	width: 15px;
	height: 15px;
}
.changeMakerForm{
	margin-top: 120px;
	margin-bottom: 120px;
}
.form{
	margin: 0px auto;
}
.dropForm .btn.btn-secondary{
	width: 100%;
	background-color: transparent !important;
	border: 0px;
	border-radius: 0px;
	height: 50px;
	font-size: 17px;
	  font-weight: 300;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0.2px;
	  text-align: left;
	  color: #b3a3a1 !important;
	      text-align: center;
	line-height: 40px;
	/*border-bottom: 2px solid #adacad;*/
}
.dropForm .btn.btn-secondary:hover{
	width: 100%;
	background-color: #67c8cd !important;
	border: 0px;
	border-radius: 0px;
	height: 50px;
	color:#fff !important;
}
.dropForm .dropdown .btn-secondary:active, .dropForm .dropdown .btn-secondary:focus, .changeMfromInput input:active, .changeMfromInput input:focus, .editTextBox input:active, .editTextBox input:focus {
	box-shadow: none;
	outline: none;
}
.dropForm .dropdown .dropdown-menu{
	border-radius: 10px;
	box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.97);
	background-color: #ffffff;
	border:0px;
}
.dropForm .dropdown-item, .dropForm .dropdown-item:hover{
	text-align: left;
	font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.7px;
  text-align: left;
  color: #35323e !important;
  line-height: 20px;
	height: 30px;
	background-color: transparent !important; 
}
.dropForm .dropdown-item img{
margin-right: 15px;
}
.paddingRight0px{
padding-right: 0px;
}
.paddingLeft0px{
padding-left: 0px;
}
.changeMfromInput input{
 border: none;
border-bottom: 1px solid #adacad;
border-radius: 0;
box-shadow: none;
font-weight: 300;
font-style: normal;
font-stretch: normal;
line-height: 2;
letter-spacing: 0.2px;
text-align: left;
color: #616261;;
padding-left: 0;
margin-top: 20px;
}
.createBtn{
font-weight: normal;
font-style: normal;
font-stretch: normal;
letter-spacing: 0.2px;
color: #ffffff
}
.createBtn img{
margin-left: 15px;
}
.cbtn {
margin: 50px auto;
text-align: center;
}
.editTextBtn{
cursor: pointer;
}
.commentReply .commentText{
	width: 88%;
}
.editTextBox .form-control, .editTextBox .input-group-btn .btn.btn-primary, .custUpdateBox .form-control, .custUpdateBox .input-group-btn .btn.btn-primary{
	border-radius: 21.5px;
}

.editTextBox .input-group-btn .btn.btn-primary, .custUpdateBox .input-group-btn .btn.btn-primary{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background-color: #67c8cd;
    border-color: #67c8cd;
}
.editTextBox .input-group-btn .btn.btn-primary:focus, .editTextBox .input-group-btn .btn.btn-primary:active, 
.custUpdateBox .input-group-btn .btn.btn-primary:focus, .custUpdateBox .input-group-btn .btn.btn-primary:active{
	outline: none;
	box-shadow: none;
}
.editTextBox .form-control, .custUpdateBox .form-control{
	font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.2px;
    text-align: left;
    color: #616261;
}


/* message page css */

.messageTitel{
	font-size: 18px;
	  font-weight: 300;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.68;
	  letter-spacing: 0.9px;
	  text-align: left;
	  color: #000000;
}
.msgSetting{
	position: absolute;
    top: 0px;
    right: 15px;
    width: 30px;
    height: 30px;
}
.msgSetting .dropdown-menu{
	border-radius: 10px;
    box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.97);
    border: 0px;
}
.frdSearchBox .form-control::-webkit-input-placeholder {
    color: #858585;
}
.messageTab .nav-tabs{
	width: 100%;
}
.messageTab .nav-tabs li{
	width: 50%;
}
.messageTab .nav-tabs .nav-link.active {
	border-radius: 5px;
    background-color: #67c8cd;
    border: 0px;
}
.messageTab .nav-tabs .nav-link{
	 font-size: 12px;
	  font-weight: 500;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 2.53;
	  letter-spacing: normal;
	  text-align: center;
	  color: #999999;
	  border:0px;
}
.messageTab .nav-tabs .nav-link:hover{
	border:0px;
}
.messageTab .nav-tabs .nav-link.active{
	font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.53;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.messageTab{
	margin: 15px 0px;
}
.messageTab .nav-tabs{
	border-bottom: 0px;
}
.messageTab .tab-content{
	padding:15px 0px;
}
.messageTab .fade.in.active{
	opacity: 1;
}
.frdSearchBox{
    border-radius: 34px;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.24);
    background-color: #ffffff;
    height: 54px;
}
.frdSearchBox .form-control{
	border-radius: 34px;
    border: 0px;
    box-shadow: none;
}
.frdSearchBox .input-group-btn .btn.btn-primary{
    background-color: transparent;
    border: 0px;
    border-radius: 34px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    
}
.frdSearchBox .input-group-btn .btn.btn-primary:active, .frdSearchBox .input-group-btn .btn.btn-primary:focus{
	outline: none;
	box-shadow: none;
}
.frdSearchBox .btn.btn-primary{
	height: 54px;
}
.frdSearchBox .form-control{
	font-size: 16.7px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0.2px;
	  text-align: left;
	  color: #858585;
}
.frdLeftCard{
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);
		background-color: #ffffff;
		padding: 15px;
		margin-top: 15px;
		position: relative;
}
.frdLeftCard.active{
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);
		background-color: #ededed;
}
.frdScondCard{
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);
  border: solid 1px #ffcf06;
  background-color: #ffffff;
}
.frdthrdCard{
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);
	border: solid 1px #65c8cd;
	background-color: #ffffff;
}
.frdImgDiv{
	border-radius: 100%;
	width: 22%;
	float: left;
	padding:2px;
}
.frdImgDiv img{
	width: 100%;
	border-radius: 100%;
}
.frdConetDiv{
	width: 76%;
	float: left;
	padding-left: 15px;
}
.fnameT{
	font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  width: 75%;
	float: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.fdate{
	font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.2px;
  text-align: right;
  float: right;
  color: #000000;
}
.fcontent{
	font-size: 12px;
	  font-weight: 300;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 2.08;
	  letter-spacing: 0.1px;
	  text-align: left;
	  color: #858585;
}
.frdLeftCard .frdImgDiv{
	border:1px solid #6d6d6d;
}

.frdLeftCard.active .frdImgDiv img{
	border:2px solid #6d6d6d;
}
.frdLeftCard .frdImgDiv img{
	border:2px solid #fff;
}
.frdScondCard .frdImgDiv, .frdthrdCard .frdImgDiv{
	border:1px solid transparent;
}
.frdScondCard .frdImgDiv img{
	border:2px solid #ffcf06;
}
.frdthrdCard .frdImgDiv img{
	border:2px solid #65c8cd;
}
.iconBgf{
	width: 14px;
	height: 14px;
	border-radius: 100%;
	top: 10px;
    left: 10px;
    position: absolute;
}
.frdScondCard .iconBgf{	    			
	background-color: #ffcf06;					
}
.frdthrdCard .iconBgf{
	background-color: #65c8cd;	    			
}
.shareMsgBody{
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);
		background-color: #ffffff;

}
.shareMsgInputBox{
	border-top:1px solid rgba(0, 0, 0, 0.24);
	padding: 15px;
}
.shareMsgInputBox input{
	box-shadow: none;
	border: 0px;
	outline: none; 
	font-size: 16.7px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.5;
	  letter-spacing: 0.2px;
	  text-align: left;
	  color: #858585;   				
}
.shareMsgInputBox input:focus, .shareMsgInputBox input:active{
	box-shadow: none;
	border: 0px;
	outline: none;    					
}
.shareMsgContent{
	padding: 15px;
    overflow: hidden;
    display: block;
    position: relative;
}
.leftMsg, .leftMsg1, .leftMsg2{
	background-color: #67c8cd;
    padding: 15px;
    position: relative;
    overflow: hidden;
    clear: both;
    border-radius: 34px;
    border-bottom-left-radius: 0px;
    max-width: 60%;
    float: left;
     font-size: 16.7px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 15px;
}
.leftMsg1{
	border-radius: 34px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.leftMsg2{
	border-radius: 34px;
	border-top-left-radius: 0px;
}
.rightMsg, .rightMsg1{
	 background-color: #ededed;
    padding: 15px;
    position: relative;
    overflow: hidden;
    clear: both;
    border-radius: 34px;
    border-bottom-right-radius: 0px;
    max-width: 60%;
    float: right;
    font-size: 16.7px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.5;
	  letter-spacing: 0.2px;
	  text-align: left;
	  color: #858585;
	  margin-bottom: 15px;

}
.rightMsg1{
	border-radius: 34px;
    border-top-right-radius: 0px;
}
.shareDateTime{
	margin: 0px auto 15px;
	text-align: center;
}
.shareDateTime span{
	font-size: 16.7px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.5;
	  letter-spacing: 0.2px;
	  text-align: left;
	  color: #858585;
	  padding-right: 15px;
}
.msgSetting .btn.dropdown-toggle {
	padding: 0px;
    margin: 0px;
    background-color: transparent;
}
.msgSetting .dropdown-toggle::after{
	display: none;
}
.msgSetting .dropdown-menu .dropdown-item{
	font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.2;
  letter-spacing: 0.7px;
  text-align: left;
  color: #35323e;
}
.msgSetting .dropdown-menu .dropdown-item:active, .msgSetting .dropdown-menu .dropdown-item:focus{
	background-color: transparent;
}
.msgSetting .dropdown-menu .dropdown-item img{
	margin-right: 15px;
}


/* end message page css */






/* add Cause css */

.addcauseTitel{
	margin-bottom: 30px;
}
.addcauseTitel h1{
	 font-size: 56px;
	  font-weight: 600;
	  font-style: normal;
	  font-stretch: normal;
	  /*line-height: 2.62;*/
	  letter-spacing: normal;
	  text-align: center;
	  color: #201f25;
}
.addcauseTitel p{
	font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9e9fab;
}
.addCauseForm .form-control{
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 4; */
    letter-spacing: 0.2px;
    text-align: left;
    color: #616261;
    border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #adacad;
	border-radius: 0px;
}
.addCauseForm .form-control:active, .addCauseForm .form-control:focus{
	outline: none;
	box-shadow: none;
}
.addCauseForm .fullDropDown .btn, .addCauseForm .fullDropDown .btn:hover, .addCauseForm .fullDropDown .btn:active{
	background-color: transparent;
    width: 100%;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #adacad;
    text-align: left;
    color: #616261;
    outline: none !important;
    box-shadow: none  !important;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.2px;
    text-align: left;
}
.addCauseForm .fullDropDown .dropdown-menu {
	border-radius: 10px;
	border:0px;
		box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.97);
		background-color: #ffffff;
}
.addCauseForm .fullDropDown .dropdown-menu .dropdown-item, .addCauseForm .fullDropDown .dropdown-menu .dropdown-item:hover, .addCauseForm .fullDropDown .dropdown-menu .dropdown-item:focus{
	border: 0;
    font-size: 12px;
    background-color: transparent;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.7px;
    text-align: left;
    color: #35323e;
    cursor: pointer;
}
.addCauseForm .fullDropDown .dropdown-toggle::after{
	margin-top: 10px;
	float: right;
	color: #adacad;
}
.addCauseForm .fullDropDown .dropdown-menu .dropdown-item img{
	margin-right: 15px;
	width: 12px;
}
.marginBottom20px{
	margin-bottom: 20px;
}
.addCauseModelWin .modal-content{
	border-radius: 10px;
		background-color: #ffffff;
		box-shadow: none;
		border:0px;
		padding: 20px;
}
.addCauseModelWin .modal-content .modal-header{
	border:0px;
	padding-bottom: 0px;
}
.addCauseModelWin .modal-content .modal-header .modal-title{
	font-size: 18.8px;
	  font-weight: 300;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 2.13;
	  letter-spacing: 0.9px;
	  text-align: left;
	  color: #35323e;
}
.addCauseModelWin  .addCauseForm input{
	font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.1px;
  text-align: left;
  color: #616261;
  padding-left: 0px;
}
.addCauseModelWin .modal-content .modal-footer{
	border: 0px;
	margin: 0px auto;
}

/* end add cause css */


/* notifications css */
.notificatinTitel{
	font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.68;
  letter-spacing: 0.9px;
  text-align: left;
  color: #000000;
  margin-bottom: 15px;
}
.notificationImgBox{
	 border: solid 1px rgba(0, 0, 0, 0);
	 overflow: hidden;
	 position: relative;
	 border-radius: 10px;
	 width: 160px;
	 height: 160px;
}
.paddingLeft0px{
	padding-left: 0px;
}
.notificationImgBox img{
	width: 100%;
	overflow: hidden;
}
.notificationContentBox{
	border-radius: 10px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);
	background-color: #ffffff;
	padding: 10px 15px;
}
.notiDateTime span{
	font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: 0.2px;
  text-align: left;
  color: #454546;
}
.notiDateTime{
	font-size: 20px;
}
.notiDateTime .ndate{
	margin-right: 10px;
}
.notiDateTime .ntime{
	margin-left: 10px;
}
.notiDateTime .ncontent{
	font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.2px;
  text-align: left;
  color: #454546;
     padding-bottom: 0px;
	margin-bottom: 0px;
}
.notifiMainDiv{
	margin-bottom: 10px;
	display: inline-flex;
    overflow: hidden;
    position: relative;
    padding:10px 0px;
}

/* end notification css */

/* profile css */
.profileBgImg{
	background-image: url('../images/profile/Artboard112.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 390px;
    position: relative;
    display: block;
}

.profilePhotoEdit label{
	border-radius: 100%;
    background-image: url('../images/profile/Artboard114.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 1;
    border:2px solid #fff;
}
.ngoPhotoEdit label{
		border-radius: 100%;
    background-image: url('../images/profile/Artboard125.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 1;
    border:2px solid #fff;
}


/* end profile css */





/* friend profile css */

.friendProfileBgImg{
	background-image: url('../images/profile/Artboard113.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 390px;
    position: relative;
    display: block;
}
.frdprofilePhotoEdit label{
	border-radius: 100%;
    background-image: url('../images/profile/Artboard115.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 1;
    border:2px solid #fff;
}
.frdshodowColor{
	background-color: #06060694 !important;
	height: 390px;
}
.frdProfileMenu{
	display: block;
	overflow: hidden;
	width: 100%;
	border-radius: 0px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	background-color: transparent;
}
.frdProfileMenu ul{
	float: right;
	margin-bottom: 0px;
	display: inline-flex;		
}
.frdProfileMenu ul li{
	padding:15px;
	list-style-type: none;
	
}
.frdProfileMenu ul li a, .frdProfileMenu ul li a span, .frdProfileMenu ul li a:hover{
	text-decoration: none;
	font-size: 15px;
	  font-weight: 300;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 2.02;
	  letter-spacing: 0.8px;
	  text-align: center;
	  color: #000000;
}
.frdProfileMenu ul li.active a span{
	font-size: 15px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.02;
	letter-spacing: 0.8px;
	text-align: center;
	color: #000000;
}
.paddingTop20px{
	padding-top: 20px;	
}
.imageWidth p{
	font-size: 12px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 2.08;
letter-spacing: 0.1px;
text-align: left;
color: #454546;
padding: 0px 15px;
margin-bottom: 0px;
}

.frdProfileMenu ul li img{
	margin-right: 5px;
}
.marginTop20px{
	margin-top: 20px;
}
/* end friend profile css */


/* friend Profile about css */

.friendAboutTitle{
		font-size: 18px;
	  font-weight: 500;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 2;
	  letter-spacing: 0.9px;
	  text-align: left;
	  color: #909090;
	  padding: 15px 15px;
}
.aboutIntroTitle{
	font-size: 18px;
	  font-weight: 500;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 2;
	  letter-spacing: 0.9px;
	  text-align: left;
	  color: #909090;
}
.aboutContent{
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.08;
  letter-spacing: 0.1px;
  text-align: left;
  color: #454546;
}
.aboutBodyC{
	padding: 0px 15px;
}
.aboutBioContentf{
	width: 49%;
	float: left;
	margin-bottom: 15px;
}
.aboutBioContentfull {
	width: 100%;
}
.aboutBioF{
	width: 40px;
	height: 40px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	background-color: #ffffff;
	text-align: center;
	border-radius: 100%;
	line-height: 35px;
	float: left;
	margin-right: 20px;
}
.aboutBioF img{ 
	width: 40%;
}
.aboutBioS{
	width: 70%;
	float: left;
	line-height: 35px;
}
.aboutBioSS{
	width: 70%;
	float: left;
	padding-top: 10px;
}
.iconSee img{
	width: 100%;
}
.aboutBioSS .moreT a{
	color: #454546;
}
.aboutBioContentf .aboutBioS{
	font-size: 14px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0.1px;
	  text-align: left;
	  color: #454546;
}
.aboutBioContentfull .aboutBioS{
	font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.08;
    letter-spacing: 0.1px;
    text-align: left;
    color: #454546;
}
.yourKonnectDrop .friendBtn{
	line-height: 10px;
}
.yourKonnectDrop .dropdown-toggle::after{
	display: none;
}
.yourKonnectDrop  .dropdown-menu{
	border-radius: 10px;
    box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.97);
    background-color: #ffffff;
    padding: 10px 15px;
    border:0px;
}
.yourKonnectDrop .dropdown-item{
	font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.7px;
    text-align: left;
    color: #35323e;
}
.yourKonnectDrop .dropdown-item  img{
	    margin-right: 15px;
}
.yourKonnectDrop .dropdown-item:hover, .yourKonnectDrop .dropdown-item:focus{
	background-color: transparent;
}
.searchMyKonnect{
	width: 49%;
	float: left;
}
.searchMyKonnect1{
	width: 49%;
	float: right;
	text-align: right;
}
.searchMyKonnect1 img{
	width: 17px;
}
.searchMyKonnect1 span, .searchTextYourK{
	font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.9;
  letter-spacing: 0.4px;
  text-align: left;
  color: #999999;
  cursor: pointer;
}
.searchMyKonnect1 .form-control{
	float: left;
	width: 65%;
	border: 0px;
    border-bottom: 1px solid #999999;
    border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.searchMyKonnect1 .form-control:focus, .searchMyKonnect1 .form-control:active{
	outline: none;
	box-shadow: none;
}
.correctDiv{
	width: 25px;
	height: 25px;
	float: left;
	border-radius: 100%;
	background-color: #67c8cd;
	right: -20px;
    position: relative;
}
.correctDiv img{
	width: 100%;
}
.attachmentIcon{
    position: absolute;
    top: -19px;
    right: 19px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 35px;
    height: 38px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
   /* background-color: #ffffff;*/
   border-left: 2px solid #fff;
   border-right: 2px solid #fff;
   border-bottom: 2px solid #fff;
    background-color: #6d6d6d;
}
/* end css Friend profile about */
#introUpdateContent textarea{
	box-shadow: none;
	outline: none;
	resize: none;
}
.margintop20px{
	margin-top: 20px;
}
.addStoreModel .modal-content{
	border: 0px;
}
.storyBtnDiv ul li button{
	width: auto !important;
}
.storyBtnDiv .shareDotDropBtn .btn{
	padding-top: 3px;
}









@media only screen and (max-width:1200px) {
	.midContent{
		width: 84%;
	}
	.progressBarDv .rateUser {
	    width: 20%;
	}
	.commentText {
	    width: 84%;
	}
	.myContContent{
		width: 65%;
	}
	.imageWidth img{
		width: 100%;
	}

}
@media only screen and (max-width:1024px) {
	.shareBtnMain .shareBtn{
		width: auto !important;
	}
	.LoginbgCircle.dashBgImg{
		display: none;
	}
	.dashboardOverflow{
		overflow: visible;
	}
	.groupImg {
	    width: 50px;
	    height: 50px;
	}
	.commentReply .commentText {
	    width: 82%;
	}
	.fnameT{
		width: 65%;
	}
	.frdProfileMenu ul li{
		padding: 15px 10px;
	}
	.midContent {
	    width: 82%;
	}
	.calendar table td{
		border-radius: 0px;
	}
	.searchMyKonnect1 .form-control {
	    width: 55%;
	}
	.connectFrdCard {
	    width: 129px;
	}
	.frdImg {
	    width: 80px;
	    height: 80px;
	}
	.causeBtn, .causeBtn.active{
	    width: 100px;
	}


}

@media only screen and (max-width:768px) {
	.midContent {
	    width: 78%;
	}
	.shareDiv1 span {
	    font-size: 10px;
	}
	.commentText {
	    width: 90%;
	}
	.imageWidth img{
		width: 100%;
	}
	.connectFrdCard{
	 	width: 215px;
	}
	.LoginbgCircle.dashBgImg{
		display: none;
	}
	.dashboardOverflow{
		overflow: hidden;
	}
	.commentReply .commentText {
	    width: 90%;
	}
	.frdProfileMenu ul li a span{
		display: none;
	}
	.commentModel {
	    max-width: 100%;
	}
	.breadcrumb-item a, .breadcrumb-menu .btn-group .btntext .nameTitle{
		font-size: 14px;
	}
}
@media only screen and (max-width:414px) {
	.commentText {
	    width: 80%;
	}
	.myGroupTitel{
		margin-bottom: 15px;
	}
	.searchmyGroup{
		float: left;
	}
	.notifiMainDiv{
		display: block;
	}
	.midContent {
	    width: 75%;
	}
	.commentReply .commentText {
	    width: 77%;
	}
	.sharePhone ul li {
	    width: 80px;
	    height: 80px;
	}
	.friendProfileBgImg, .frdshodowColor{
		height: 250px;
	}
	.profiePhotoChange {
	    width: 100px;
	    height: 100px;
	    margin: 150px 0px 0px 10px;
	    margin-right: 1px;
	}
	.frdprofilePhotoEdit label{
		width: 100px;
		height: 100px;
	}
	.converTitel {
	    margin-top: 190px;
	}
	.converTitel .coverTitelText, .editTextBox{
		font-size: 24px;
	}
	.searchMyKonnect {
	    width: 35%;
	}
	.yourKonnectTitle {
    	font-size: 14px;
	}
	.searchMyKonnect1 {
	    width: 60%;
	}
	.reportModel .modal-dialog{
		width: 100%;
	}
}

@media only screen and (max-width:375px) {
	.commentText {
	    width: 79%;
	}
	.shareDiv1 img{
		margin-right: 5px !important;
		width: 20px;
	}
	.shareDiv2 ul li img{
		width: 20px;
	}
	.shareDiv2 ul li:last-child .btn {
		padding-top: 0px;
	}
	.shareDiv2 ul li:last-child .btn  img{
		width: 4px;
	}
	.midContent {
	    width: 70%;
	}
	.userCommentTitel .midMyCont {
    	width: 60%;
	}
	.commentReply .commentText {
	    width: 75%;
	}
	.searchMyKonnect {
    	width: 40%;
	}
}

/* width 320 */
@media only screen and (max-width:375px) {
	.progressBarDv .rateUser{
		width: 30%;
	}
}

/* width 320 */
@media only screen and (max-width:320px) {
	.breadcrumb-item{
		padding-right: 10px;
	}
	.breadcrumb-item a {
		font-size: 10px;
	}
	.shareDiv1 {
	    width: 52%;
	}
	.shareDiv2 {
    	width: 47%;
    }
	.shareDiv1 img, .shareDiv2 img{
		width: 15px;
		margin-right: 5px !important;
	}
	.shareDiv2 ul li:last-child img{
		width: 3px;
	}
	/*.shareDiv2 ul li:last-child*/
	.shareDiv2 ul li{
		margin-left: 10px;
	}
	.shareDotDropBtn .btn{
		padding: 0px 3px;
	}
	.midContent {
	    width: 70%;
	}
	.commentText {
	    width: 75%;
	}
	.imageWidth img{
		width: 100%;
	}
	.breadcrumb-menu .btn-group .btntext .profileImg {
    	width: 40px;
    	height: 40px;
    }
    .breadcrumb-menu .btn-group .btntext .nameTitle{
    	margin-left: 5px;
    }
    .breadcrumb-menu .btn-group .btntext .rightIcon1{
    	width: 14px;
    	height: 14px;
    }
    .shareDiv2 ul {
	    margin-left: -15px;
	}
	.dayDiv .btnBG{
		padding: 2px;
	}
	.midImg {
	    width: 45px;
	    height: 45px;
	}
	.supportlist ul li:nth-child(1) {
	    margin-left: -15px;
	}
	.supportlist ul li{
		padding-right: 10px;
	}
	.progressBarDv .rateUser {
	    width: 30%;
	}
	.commentImg {
	    width: 40px;
	    height: 40px;
	}
	.commentReply .commentText {
	    width: 70%;
	}
	.shareBtnMain ul li{
		padding-left: 5px;
	}
	.shareBtnMain .shareBtn{
		padding:5px;
	}
	.converTitel {
	    width: 53%;
	}
}