@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
body{
	font-size:14px;
	background-color: #fff;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.navbar {
	position: fixed;
	width: 100%;
	z-index: 999;
  height: 80px;
}
.navBg{
	/*background-color :#06060694 !important;*/
  background-color: #fff !important;
  box-shadow: 0 8px 6px -6px rgba(211, 211, 211, 0.59);
}
.navBg .navbar-toggler{
	background-color: #fff;
}
.navbar.paddingLeft0px{
	/*padding-bottom: 0px;*/
}
.paddingTop10px{
  padding-top: 10px;
}
.navbar.paddingLeft0px .navbar-brand{
	color: rgba(0,0,0,.9);
    width: 20%;
    /*max-height: 70px;*/
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.navbar.paddingLeft0px .navbar-brand .logo{
	width: 80%;
  padding-top: 0px;
}
.navbar-brand{
	padding-top: 10px;
	padding-bottom: 10px;
}
.paddingLeft0px{
	padding-left: 0px;
}
.paddingRight0px{
	padding-right: 0px;	
}
.overflowHidden{
	overflow: hidden;
}
.marginTB15px{
	margin-top: 15px;
	margin-bottom: 15px;
}
.paddingTop70px{
	padding-top: 70px;
}
.navbar{
	padding-top:0px;
	padding-bottom: 0px;
}
.loginBtn, .loginBtn:hover{
      width: 200px;
    line-height: 40px;
    border-radius: 21.5px;
    border-color: #67c8cd;
    background-color: #67c8cd;
    border: 0px;
    outline: none;
}
.loginBtn a{
	color:#fff;
	font-size:14px;
	text-decoration: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.2px;
    text-align: left;
}
.regBtn{
		height: 40px;
	  border-radius: 24px;
	  border: solid 2px #a0a0a0;
	  width: 141px;
  border-radius: 24px;
  border: solid 2px #a0a0a0;
  background-color: #fff;
  outline: none;
}
.btn:focus, .btn:active{
  outline: none;
  box-shadow: none;
}
.regBtn a{	
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  text-align: left;
  color: #796465;
}
.dontHave span{
	font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3;
  letter-spacing: 0.2px;
  text-align: left;
  color: #796465;
}
.loginBtn a:hover, .loginBtn a:focus{
	text-decoration: none !important;
}
.aboutpadding p{
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.87;
    letter-spacing: normal;
    text-align: left;
    color: #9e9fab;
}
.loginBtn img{
	font-size: 10px;
    padding-left: 15px;
    color: #fff
}
.bg-light {
    background-color: transparent !important;
}
.searchBox i{
	font-size: 18px;
	color: #67c8cd;
}
.footerList li a{
	color:#1c1b21;
}
.footerList li a:hover, .footerList li a:focus{
	color:#007bff !important;
	text-decoration: none !important;
}
.footerList{
	text-align: right;
}
.footer-copyright, .footer-copyright a{
    color: #9e9fab;
}
#navbarSupportedContent .searchBox .form-control{
	border-top: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important;
    border-radius: 0px !important;
}
#navbarSupportedContent .searchBox .form-control:focus{
	outline: none !important;
	box-shadow:none !important;
}
.contactHead.paddingTop70px{
  margin-bottom: 70px;
}
#searchIcon{
	position: relative;
	top: 1px;
	right: 5px;
}
#searchInput{
	margin-right: 5px;
}
.footerSearch{
	padding: 6% 15px;
	background-color: #FCFCFC;
	text-align: center;
}
.footerSearch h1{
	color:#201f25;
}
.footerSearch p{
	font-size: 12px;
  color: #9e9fab;
}
.displayBlock{
	display: block;
}
.footerSearchBox .form-control{
	border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 22%;
    margin-right: 0px !important;
    border-color: #fff;
    box-shadow: 0 8px 6px -6px rgba(211, 211, 211, 0.59);
    font-size: 14px;
    font-weight: bold;
}
.footerSearchBox .btn {
	border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
	 margin-left: -4px;
    line-height: 1.5;
    padding: .490rem .75rem;
    box-shadow: 0 8px 6px -6px rgba(211, 211, 211, 0.59);
    background-color: #67c8cd;
    border-color: #67c8cd;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff;
}
.footerSearchBox .btn:focus, .footerSearchBox .btn:active{
   background-color: #67c8cd;
    border-color: #67c8cd;
    outline: none;
    box-shadow: 0 8px 6px -6px #67c8cd;

}
.footerSearchBox{
  width: 40%;
  margin:15px auto;
}
.page-footer {
  padding-bottom: 1.5rem !important;
}
.connectSection{
	padding: 5% 22%;
}
.connectSection h2{
	font-weight: bold;
}
.connectSection p{
	color:#9e9fab;
}
.connectSection .col-md-6 img{
	width:100%;
}
.gotoBtn{
	border-radius: 21.5px;
	color: #ffffff;
	border-color: #67c8cd;
    background-color: #67c8cd;
    padding: .25rem 1.5rem;
}
.gotoBtn i{
	padding-left: 10px;
    font-size: 14px;
}
.bePart{
	padding: 5% 12%;
	background-image: url('../images/Artboard12.png');
   	background-position: left bottom;
  	background-repeat: no-repeat;
  	background-size: 18%;
}
.likeBtn{
	padding-top: 20px;
}

.bePart .col-md-12{
	background-color: #f4f7fc;
}
.bePart .col-md-12 h2{
	color:#201f25;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
}
.bePart .communityCls{
	width:26%;
	padding: 15px;
	text-align: center;
	float: left;
	margin: 20px 3.66%;
	margin-top:20px;
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.59);
}
.bePart .communityCls .commImage{
	width:80px;
	height: 80px;
	background-color: #000;
	border-radius: 100%;
	margin: 10px auto;
}
.bePart .communityCls .commImage img{
	width:100%;
}
.bePart .communityCls h5{
	color:#297bc0;
}
.bePart .communityCls p{
	padding: 15px;
	color:#a3a3a3;
}
.padding30px{
	padding:30px;
}
.mainSlider{
	padding-top:20px;
	padding-bottom: 20px
}
.mainSlider h1{
	font-weight: bold;
	color: #201f25;
}
.mainSlider p{
	color:#9e9fab;
}
.paddingTB25px{
	padding-top:25px;
	padding-bottom: 25px;
}
.nearYou{
	padding: 25px 15px;
	background-color: #f4f7fc;
}
.nearYou h2{
	font-weight: bold;
	color:#201f25;
}
.nearYou p{
	color:#9e9fab;
    width: 32%;
    margin: 15px auto;
}
.vSlider{
	padding: 100px 12%;
}
.videoSect{
	width:100%;
	position: static;
	display: block;
	overflow: hidden;
}
.videoSect video{
	width: 100% !important;
  	height: auto !important;
  	z-index: -100;
}
.videoContent{
	text-align: center;
    opacity: 0.5;
    position: absolute;    
    margin: -547px auto 0px auto;
    width: 100%;
}
.videoContent h3, .videoContent p{
	color: #fff;
}
.videoContent h3{
	padding-top: 14%;
}
.headTitle{
	font-size: 1.75rem;
	margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}
.latestPhoto .headTitle{
	margin-top: 50px;
}
.latestPhotoSec{
	background-color: #f4f7fc;
    position: absolute;
    width: 100%;
    left: 0px;
    height: 340px;
}
.padding50px{
	padding: 50px;
}
.latestPhotoSec .headTitle{
	color:#201f25;
	padding-top: 30px;
}
.latestPhotoSec .lSubTitle{
	width:500px;
	text-align: center;
    margin: 0px auto;
    color:#9e9fab;    
}
.clr{
	clear: both;
}
.paddingTB30px{
	padding-top: 30px;
	padding-bottom: 30px;
}
.latestPhotoSec .card{
	border:0px;
	border-radius: 10px;
  	box-shadow: 0px 2px 13px 0 rgba(203, 203, 203, 0.59);
}
.latestPhotoSec .card .card-footer{
	background-color: #fff;
	border-top: 1px solid #f0f1f2;
}
.cardImg{
	width: 100%;
}
.cardImg img{
	position: relative;
    width: 100%;
    top: -50px;
    left: 0px;
}
.card-footer{
	padding: .75rem 1.25rem 0px !important;
}

.cardMain{
	width: 100%;
    display: inline-flex;
}
.cardMain .card{
    border-radius: 10px;
    box-shadow: 0px 2px 13px 0 rgba(203, 203, 203, 0.59);
    background-color: #ffffff;
}
.cardMain .card .card-footer{
  background-color: #fff;
}
.card .cardtitle{
	color:#000000;
	letter-spacing: 0.1px;
	font-weight: 500;
  	font-style: normal;
  	font-stretch: normal;
  	margin-bottom: 0px;
}
.card .cardContent{
	color: #8f8b97;
	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.62;
  	letter-spacing: 0.1px;
  	margin-top:15px;
}
.card  .cardSubTitle{
	font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: 0.1px;
  	color: #8f8b97;
  	
}
.cardSubTitle.Bottomborder{
	border-bottom: 1px solid #e7e6e9;
}
.footer-CardList{
	margin: 0;
    padding: 0px 0px;
    list-style-type: none;
    text-align: left;
    display: inline-block;
}
.footer-CardList li{
    float: left;
    padding-right: 15px;
    color: #8f8b97;
}
.testimanial{
	padding: 50px;
}
.testimanial .testContent{
	font-weight: 300;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.87;
	  letter-spacing: normal;
	  text-align: left;
	  color: #9e9fab;
}
.testimanial .col-md-4 .carousel-control-prev, .teamMember .carousel-control-prev{
    position: relative;
    width: 52px;
    height: 52px;
    border: 1px solid #67c8cd;
    border-radius: 100%;
    float: left;
    margin-right: 20px;
    background-image: url('../images/Artboard29.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 52%;
}
.testimanial .col-md-4 .carousel-control-next, .teamMember .carousel-control-next{
	position: relative;
    width: 52px;
    height: 52px;
    border: 1px solid #67c8cd;
    border-radius: 100%;    
    background-image: url('../images/Artboard29.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 52%;
    transform: rotate(180deg);
}
.testimanial .col-md-4 .carousel-control-prev:hover, .teamMember .carousel-control-prev:hover{
	background-image: url('../images/Artboard – 181.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    background-color:  #67c8cd;
    transform: rotate(180deg);
}
.testimanial .col-md-4 .carousel-control-next:hover, .teamMember .carousel-control-next:hover{
	background-image: url('../images/Artboard – 181.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    background-color:  #67c8cd;
    transform: rotate(0deg);
}
.nextCircleBtn{	
    background-color:  #67c8cd;
    width: 52.6px;
    height: 53px;
    border-radius: 100%;
    line-height: 53px;
    text-align: center;
    float: right;
    position: absolute;
    right: -28px;
    top: 68px;
}

.floatLeft{
	float:left;
}
.testimanial .headImg img{
	width:80%;
}
.testimanial .testBody p{
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: 0.1px;
  text-align: left;
  color: #a6a3ac;
}
.testimanial .testBody{
	padding:15px 0;
	background-color: #fff;
}/*
.startImg{
	background-image: url('../images/Artboard37.png');
   	background-position: left top;
  	background-repeat: no-repeat;
  	background-size: 18%;
}*/
.cardPadding{
	padding: 10px;
}
.testimanial .testBody{
	padding: 10px 15px;
	border-radius: 5px;
	box-shadow: 0px 3px 8px rgba(203, 203, 203, 0.59);
}

.iconImgClass{
	top: -20px; 
	position: relative; 
	left: 15px;
}
.paddingBottom5px{
	padding-bottom: 5px;
}
.commentSpan{
	float: right;
	color: #8f8b97;
	font-weight: bold;
}
.profile{
	padding: 10px 0px;
}
.profile .profilename{
	color:#67c8cd;
	font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: 0.1px;
  text-align: left;
  color: #aba8b4;
}
.profile .profiledesignation{
	font-style: italic;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: 0.1px;
  text-align: left;
  color: #aba8b4;
}
.testimanialPadding{
	padding-top:0%;
}
.testimanial{
	padding: 5% 4%;	
}
.testimanialBgImg{
	background-image: url('../images/Artboard12.png');
   	background-position: right bottom;
  	background-repeat: no-repeat;
  	background-size: 90%;
    height: 400px;
    position: absolute;
    width: 300px;
    float: right;
    top: 80px;
    z-index: 0;
    right: -8px;
    transform: rotate(-70deg);

}
.zIndex1{
	z-index: 1;
}
.weBringBg{
	background-color: #f4f7fc;
	   
}
.weBringPadding{
	 padding: 8% 4%;
}
.weBring{
	background-image: url('../images/Artboard12.png');
   	background-position: left 55px top;
    background-repeat: no-repeat;
    background-size: 76%;
    transform: rotate(292deg);
    width: 350px;
    height: 350px;  
	left: -43px;
	position: absolute;
}
.weBringContent{
	color:#9e9fab;
	margin-top: 15px;
}
.weBringImg img{
	width:100%;
	margin-bottom: 15px;
}
.paddingTop50px{
	padding-top: 50px;
}
.weBringMainCont{
	padding-top: 3%;
}
.causeBtn{
	    line-height: 14px;
    border-radius: 21.5px;
    border-color: #67c8cd;
    background-color: #67c8cd;
    color:#fff;
      font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.3;
	  letter-spacing: 0.4px;
	  text-align: center;
}
.causeBtn i{
	padding-left: 15px;
}
.improve{
	padding: 8% 4% 0px;
}
.backOverlay{
	position: absolute; 
	height: 120px; 
	border-radius: 5px; 
	background-color: #67c8cd;
	width: 100%;
}
.teamMember{
	padding: 1% 4% 0%;
}
.teamMember .headTitle{
	font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #201f25;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

}
.paddingTop30px{
	padding-top: 30px;
}
.teamMember .testContent{
	font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.87;
  letter-spacing: normal;
  text-align: left;
  color: #9e9fab;
}
.overpadding{
	padding-top: 25px;
  padding-left: 30px;
  padding-bottom: 80px;
  margin: 0px auto;
  text-align: center;
}
.teamMember .teamCard{
	/*border-radius: 10px;
	box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.59);
	background-color: #ffffff;
	margin-right: 50px;*/
	text-align: center;
	margin-bottom: 25px;
  width: 254px;
  height: 294px;
  border-radius: 10px;
  box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.59);
  background-color: #ffffff;
  float: left;
  margin-right: 15px !important;
}
.teamImg{
	padding: 15px 15px 0px;
    margin:0px auto;
    width: 77%;
}
.teamImg img{
    width: 100%;
    border-radius: 100%;
}
.teamName{
	 font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.52;
  letter-spacing: 0.1px;
  color: #287bbf;
  font-size: 20px;
}
.teamDesignation{
	font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.9;
  letter-spacing: 0.1px;
  text-align: center;
  color: #9e9fab;
}

.TeamMoveNext{
	position: relative;
    bottom: 0px;
    width: 40px;
    height: 40px;
    border: 1px solid #67c8cd;
    background-color: #67c8cd;
    border-radius: 100%;
    margin: 0px auto;
    background-image: url('../images/Artboard – 181.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    background-color:  #67c8cd;
}

.TeamMoveNext i{
	line-height: 40px;
	color: #fff;
}
.FirstImg{
	text-align: right;
    width: 90%;
}
.FirstImg img{
	width: 42%;
}
.SecondImg{
	position: relative;
    top: -130px;
    right: 144px;
}
.SecondImg img{
	width: 40%;
}
.aboutMain{
	background-image: url('../images/Artboard12.png');	
   	/*background-position: right bottom;*/
  	background-repeat: no-repeat;
  	background-position: right 175px center;
    transform: rotate(176deg);
    background-size: 64%;
}
.leftSideImg{
	background-image: url('../images/Artboard – 160.png');	
   	background-position: left top;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	/*min-height: 900px;*/
    height: 822px;
}
.aboutpadding{
	padding: 200px 0px;
}
.aboutTitle{
	font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #201f25;
}
.addCauseBtn{
  border-radius: 23px;
  background-color: #67c8cd;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
   padding: 10px 15px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
  border:0px;
}
.addCauseBtn img{
	width: 27px;
    height: 12px;
    margin-left: 15px;
}


.owl-item > div {
  cursor: pointer;
  margin: 6% 8%;
  transition: margin 0.4s ease;
}
.owl-item.center > div {
  cursor: auto;
  margin: 0;
}
.owl-item:not(.center) > div:hover {
  opacity: .75;
}

/* vertical slider css */
#verticalSl #myCarousel{
	padding: 100px 25px;
}
#verticalSl .verTab.active{
	background-color: #63bc46;
}
#verticalSl .verTab{
	width: 100%;
  	height: 88px;
  	border-radius: 5px;
  	background-color: #fff;
  	margin-top: 15px;
}
#verticalSl .verTab:hover{	
  	/*background-color: #63bc46;*/
}
#verticalSl .verTab .imgIcon{
	text-align: center;
    padding-top: 15px;
}
#verticalSl .verTab.active .ngoTitle{
	font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.52;
  letter-spacing: 0.1px;
  text-align: left;
  color: #ffffff;
  padding-top: 20px;
    margin-bottom: 0;
}
#verticalSl .verTab .ngoTitle{
	font-weight: 500;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.52;
	  letter-spacing: 0.1px;
	  text-align: left;
	   padding-top: 20px;
	  color: #a3a3a3;
}
#verticalSl .verTab.active .ngoAddress{
	font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.9;
  letter-spacing: 0.1px;
  text-align: left;
  color: #fcfcfc;
}

.leftSideAdmin{
	background-image: url('../images/Artboard – 169.png');
    background-position: left top;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
    
}
.leftSidepadding{
	padding: 130px 100px 130px 15px;
}
.paddingTop125px{
	padding-top: 125px;
}
.paddingTop100px{
	padding-top: 100px;
}
.adminTital{
	 font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.5;
    font-size: 50px;
	  letter-spacing: 0.5px;
	  text-align: left;
	  color: #000000;
	  white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.footer-CardList li img{
	transform: rotate(-42deg);
    width: 16px;
}
.commentSpan img{
	width: 18px;
    margin-left: 10px;
}
.adminList{
	list-style-type: none;
	margin-left: -35px;
	width: 100%;
	padding-bottom: 100px;
}
.adminList li{
	padding: 15px 0px;
}
.adminList li img{
	margin-right: 15px;
}
.adminList li a{
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: 0.3px;
	  text-align: left;
	  color: #000000;
	font-size: 18px;
    font-weight: 500;
        white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.adminList li a:hover{
	text-decoration:none;
}
.formTitle{
	 font-size: 50px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: left;
    color: #b3a3a1;
}

.formController .form-group .form-control{
    border: none;
    border-bottom: 2px solid #cacaca;
    border-radius: 0;
    box-shadow: none;
	  font-weight: 300;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 2;
	  letter-spacing: 0.2px;
	  text-align: left;
	  /*color: #9c8686;*/
    color: #b3a3a1;
	  padding-left: 0;
    font-size: 18.8px;
}

.formController .form-group .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b3a3a1;
}

.formController .form-group .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #b3a3a1;
}

.formController .form-group .form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #b3a3a1;
}
.locationIcon{
    position: relative;
    top: -35px;
    float: right;
}
.locationbox input{
    padding-right: 20px;
}


.socialTitle{
	font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  margin-top: 15px;
  font-size: 18.6px;
  letter-spacing: 0.9px;
  text-align: left;
  color: #9c8586;
      margin-bottom: 0px;
}
.marginTop50px{
  margin-top: 50px;
}
.adminSocial ul{
	list-style-type: none;
	margin-left: -37px;
}
.adminSocial ul li{
	float: left;
	margin-right: 10px;
}
.adminSocial ul li a i{
	font-size: 20px;
}
.socialIconContact li{
  margin-right: 15px !important;
}
.socialIconContact li a i{
  font-size: 20px;
}

.facebook{
	color:#3b5998
}
.twitter{
	color:#1DA1F2;
}
.googlePlus{
	color:#CC3333;
	font-weight: bold;
}
.mapouter{
	width: 100% !important;
	overflow: hidden;
}
.privacyMar{
	overflow: hidden;
	position: relative;
}
.privacyMar .col-xl-12.col-lg-12.col-md-12 {
	margin: 50px auto;
	padding: 0px 5%;

}
.faqMain .col-xl-10.col-lg-10.col-md-10{
	margin: 50px auto;
}
.socialIconContact{
	padding: 0px 5px;
}

.linkedin{
	color: #0077B5;
}
.instagram{
	color:#fb3958;
}
.marginTop20px{
	margin-top: 20px;
}
.marginTop30px{
  margin-top: 30px;
}
.tdTitle{
	    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.6px;
    text-align: left;
    color: #9c8586;
    margin: 40px 0px 0px;
    font-size: 17px;
}
.loginSocial{
    padding: 15px 0px 15px 15px;
}
.loginRemember{
    padding: 45px 15px;
}
.buttonBtn{
	 border-radius: 27.5px;
  background-color: #67c8cd;
      padding: 10px 20px;
}
.buttonBtn span{
	font-weight: normal;
	font-size: 25px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #fff;
}
.checkBox{
	background-color: transparent; !important;
    width: 15px;
    height: 15px;
    border-color: #a1b2b1 !important;
}
.buttonBtn img{
	margin-left: 15px;
}
.bgCircle{
	background-image: url('../images/Artboard12.png');
   	background-position: right -117px center;
  	background-repeat: no-repeat;
  	background-size: 100%;
}
.LoginbgCircle{
	background-image: url('../images/Artboard12.png');
   	background-position: right 50px center;
  	background-repeat: no-repeat;
  	background-size: 85%;
  	width: 300px;
    height: 300px;
    float: right;
    position: absolute;
    right: -84px;
    transform: rotate(-195deg);
}
.LoginbgCircle1{
    background-image: url('../images/Artboard – 193.png');
    background-position: right 0px center;
    background-repeat: no-repeat;
    background-size: 63%;
    width: 251px;
    height: 300px;
    position: absolute;
    right: 0px;
    top: 200px;
}


.leftBottomImg{
	background-image: url('../images/Artboard12.png');
   	background-repeat: no-repeat;
    background-size: 85%;
    width: 200px;
    height: 200px;
    transform: rotate(-54deg);
    background-position: left -91px bottom;
}
.navBg .dontHave span{
	font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: 0.2px;
    text-align: left;
    /*color: #fff;*/
}
.whoCard.active{
  border: 1px solid #1da7e0;
}
.yourCard{
 /* border-radius: 10px;
  box-shadow: 0px 8px 18px 0 rgba(223, 222, 222, 0.59);
  border: solid 1px #e8e8e8;
  background-color: #ffffff;*/

}
.yourCard img{
  width: 100%;
  cursor: pointer;
}
.yourCard.active{
  border: 1px solid #1da7e0; 
}
.marginOTP{
	margin: 50px 0px 100px 0px;
}
.forgotPwd, .forgotPwd:hover{
	font-size: 18.8px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.2px;
    text-align: left;
    color: #9c8686;
    text-decoration: none;
}
.marginTop100px{
	margin-top: 100px;
}
.seeAllBtn span, .seeAllBtn  i{
	color:#fff;
}
.contactOverflow{
	overflow: hidden;
	position: relative;
	display: block;
}
.contactHead h1{
	padding-top: 50px;
	font-weight: 600;
	  font-style: normal;
	  font-stretch: normal;
	  letter-spacing: normal;
	  text-align: center;
	  color: #201f25;
}
.contactHead p{
	font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9e9fab;
}
.contactForm{
	/*margin-top: 30px;*/
}
.contactCard{
	width: 95%;
	margin:0px auto;
	padding: 80px 40px;
	border-radius: 10px;
	box-shadow: 0 0 16px 0 rgba(211, 211, 211, 0.59);
	background-color: #ffffff;
  margin-left: 5%;
}
.contactBtn{
	margin-top: 25px;
	color:#fff;
}
.contactBtn span{
	color:#fff;
}
.contactContent{
	width: 95%;
	padding: 15px;
}

.contactContent div span, .contactContent p{
	width: auto;
	font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  /*line-height: 2.55;*/
  letter-spacing: 2px;
  text-align: left;
  color: #000000;
  font-size: 20px;
}

.contactContent p i{
	margin-right: 15px;
}
.contactContent p .iconLoation{
	margin-right: 5px;	
}
.iconLoation{
	width: 40px;
	height: 40px;
	float: left;
}
.contactusBG{
	/*background-image: url('../images/Artboard12.png');
   	    background-position: right -114px top;
    background-repeat: no-repeat;
    background-size: 40%;*/
    top: 250px;
}
.termsUseBG1{
	background-image: url('../images/Artboard12.png');
   	background-position: right -114px top;
    background-repeat: no-repeat;
    background-size: 20%;

}
.faqBG1{
	background-image: url('../images/Artboard12.png');
   	background-position: right -114px bottom;
    background-repeat: no-repeat;
    background-size: 20%;

}
.resetPwdForm .form-group {
    margin-bottom: 2rem;
}
.resetPwd .formTitle{
  margin-bottom: 30px;
}
.marginTop70px{
  margin-top: 70px;
}
.topTitelImg{
	background-image: url('../images/01.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 150px;
    height: 106px;
    position: absolute;
    left: 20%;
    transform: rotate(-5deg);
}
.greenBgImg{	
	background-image: url('../images/02.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80px;
    height: 150px;
    position: absolute;
    left: 0%;
    top: 100px;
}
.bottomBlueBgImg{
	background-image: url('../images/03.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80px;
    height: 150px;
    position: absolute;
    left: 0%;
    bottom: 150px;
}
.bottomCenterBgImg{
	background-image: url('../images/04.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 50%;
    bottom: 100px;
    z-index: -1;
}
.bottomGreenBgImg{
	background-image: url('../images/05.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80px;
    height: 150px;
    position: absolute;
    right:0;
    bottom: 0;
}

.verificationPen{
	font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.8px;
  text-align: center;
  color: #bfadab;
  padding-bottom: 15px;
}
.verifyContent{
	font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.4px;
  text-align: center;
   line-height: 1.44;
  color: #bfadab;
  padding-bottom: 15px;
  width: 70%;
      text-align: center;
          margin: 0px auto;
}
.marginTB20px{
  margin-bottom: 20px;
  margin-top: 20px;
}
.verify .formTitle{
	text-align: center;
    margin-bottom: 35px;
}
.marginLeft80px{
    margin-left: 80px;
}
.whoCard.active .whoSubTitle{
    color: #8e0037;
}
.whoCard{
	/*width: 28%;*/
  width: 217px;
	height: 196px;
	float: left;
	padding: 15px;
	text-align: center;
	margin-right: 5%;	
	border-radius: 10px;
  /*border:1px solid transparent;
	box-sha*/dow: 0px 6px 13px 0 rgba(103, 200, 205, 0.59);
	background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 8px 18px 0 rgba(223, 222, 222, 0.59);
  border: solid 1px #e8e8e8;
}

.whoCard .iconImgs{
	width: 70px;
    margin: 10px auto;
    height: 70px;
}
.whoCard .iconImgs img{
	width: 100%;
}
.whoCard .whoSubTitle{
	font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62;
  letter-spacing: 1.3px;
  text-align: center;
  color: #9a8483;
  font-size: 16.7px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 25px;
  /*font-weight: 600;*/
}
.whoCard:hover .whoSubTitle{
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62;
  letter-spacing: 1.3px;
  text-align: center;
  color: #8e0037;
  font-size: 16.7px;
  margin-top: 25px;
}
.whoCard:hover, .whoCard.active{
	box-shadow: 0px 6px 13px 0 rgba(103, 200, 205, 0.59);
  border: solid 1px #1da7e0;
}
.yourCard{
	width: 157px;
	/*margin: 0px 30px 20px 30px;*/
  margin: 0px 10px 20px 30px;
	float: left;
	border-radius: 10px;
  box-shadow: 0px 8px 18px 0 rgba(223, 222, 222, 0.59);
  border: solid 1px #e8e8e8;
  background-color: #ffffff;


}
.footerLogo{
	width: 100px;
  margin-left: 20px;
}
.footerLogo img{
	width: 100%;
}
.footer-copyright{
  padding-bottom: 0 !important;
  margin-top: 20px;
}
.privacyHeader{
	   font-size: 56px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #201f25;
}
.privacySubTitle{
	font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9e9fab;
}
.privacyBody{
	text-align: left;
  margin-bottom: 40px;
}
.privacyBody .qes{
	   font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 1.23; */
    letter-spacing: 2.6px;
    text-align: left;
    color: #000000;
}
.privacyBody .ans{
	font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.55;
  letter-spacing: 1.5px;
  text-align: left;
  color: #000000;
  font-size: 14px;
}
.paddingTB100px{
	padding-top: 100px;
	padding-bottom: 100px;
}
.paddingTop80px{
	padding-top: 80px;
}
.regBtn:focus, .regBtn:active{
  outline: none;
  box-shadow: none;
}


/* faqs css */
  .card {
    margin-bottom: 10px;
    border:0px;
    border-radius: 10px;
  }
  .card-header{
    background-color: #eeeeee;
    border:0px;
    border-radius: 10px;
  }
  .card .card-header{
     font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #000000;
    height: 56px;
    line-height: 56px;
    padding: 0px 15px;
        white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 16px;
  }
  .card .collapse {
    background-color: #f6f6f6;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .card .card-body{
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
    font-size: 14px;
  }
  .card-header i{
    font-size: 14px;
      text-align: right;
      float: right;
      /*padding-top: 3px;*/
      line-height: 50px;
  }
  [data-toggle="collapse"] .fa:before {   
    content: "\f077";
  }

  [data-toggle="collapse"].collapsed .fa:before {
    content: "\f078";
  }
  .faqMain .row{
    overflow: hidden;
    position: relative;
  }
  .faqMain .LoginbgCircle, .faqMain .LoginbgCircle1{
    bottom: 100px;
    z-index: -1;
  }
  .greenBgImg{
    top:300px;
    width: 60px;
  }
  .bottomBlueBgImg{
    bottom: -50px;
  }
/* faqs end css */










/* progress bar css */
.progressDiv{
	margin-bottom: 40px;
    display: block;
    position: relative;
    overflow: hidden;
}
.progressbar {
  margin: 0;
  padding: 0;
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 33.1%;
  float: left;
  position: relative;
  text-align: center;
  /*text-transform: uppercase;*/
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  color: #b3a3a1;
  font-size: 18.8px;
}
.progressbar li:before {
  width: 70px;
  height: 70px;
  /*content: counter(step);
  counter-increment: step;*/
  line-height: 30px;
  border: 2px solid #f0f0f0;  
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 100%;
  background-color: white;
}
.progressbar li:nth-child(1):before {
	content: url('../images/Artboard – 212.png');
}
.progressbar li:nth-child(2):before {
	content: url('../images/Artboard – 213.png');
}
.progressbar li:nth-child(3):before {
	content: url('../images/Artboard – 214.png');
}
.progressbar li:after {
  width: 70%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #67c8cd !important;
  top: 35px;
  left: -35%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #b3a3a1;
}
.progressbar li.active:before {
  border: 2px solid #0077a1;
}
.progressbar li.active + li:after {
  background-color: #67c8cd;
}
a:hover{
  text-decoration: none !important;
}
.contactHead h2{
    font-size: 56px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #201f25;
}





/*  about us css */
.aboutTitle{
    font-size: 56px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #201f25;
}
.aboutTitle span{
  color: #0e629b;
}
.aboutCirclTop{
  top: 220px;
}
.aboutpadding{
  padding: 200px 20px; 
}
.teamMember .headTitle{
  font-size: 40px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #201f25;
}
.headTitle{
  font-size: 40px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #201f25;
    margin-top: 60px;
}
.footerSearch h1{
  font-size: 40px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #201f25;
}
.weBringContent{
      margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.87;
    letter-spacing: normal;
    text-align: left;
    color: #9e9fab;
}
.FirstImg img, .SecondImg img{
  width: 344.9px;
    height: 383.2px;
}
.SecondImg{
  top: -150px;
}
.weBringContent{
  font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.87;
    letter-spacing: normal;
    text-align: left;
    color: #9e9fab;
}
.testimanial .testContent{
  font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.87;
    letter-spacing: normal;
    text-align: left;
    color: #9e9fab;
}
.testimanial .testBody p{
  font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: 0.1px;
    text-align: left;
    color: #a6a3ac;
}
.latestPhoto .headTitle{
  text-align: center;
}
.lSubTitle{
  font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.87;
    letter-spacing: normal;
    text-align: center;
    color: #9e9fab;
    width: 50%;
    margin: 0px auto 20px;
}
.videoContent h3{
  text-align: center;
}
.card .cardtitle{
  font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: #000000;
}
.card .cardSubTitle{
  font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.62;
    letter-spacing: 0.1px;
    text-align: left;
    color: #8f8b97;
}
.card .cardContent{
  font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: 0.1px;
    text-align: left;
    color: #a6a3ac;
}
.cardSubTitle.Bottomborder{
  font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: 0.1px;
    text-align: left;
    color: #8f8b97;
}
.videoContent h3{
  padding-top: 5%;
}
.aboutPhotoDiv{
  border-radius: 10px;
  margin-top: 15px;
}
  .aboutPhotoDiv img{
    width: 100%;
}
  .AboutViewPhoto{
    font-size: 10px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  line-height: 2.83;
  letter-spacing: 0.1px;
  text-align: right;
  color: #72808e;
  padding-top: 15px;
}
.card-footer{
    border-top: 1px solid #f0f1f2;
}
.cardMain  .card .card-body{
  padding-bottom: 0px;
}
/* end about us css */
.loginBtn:active, .loginBtn:focus, .addCauseBtn:focus, .addCauseBtn:active{
  outline: none;
  box-shadow: none;
}


.marginTop5px{
  margin-top: 5px !important;
}
.marginTop20px{
  margin-top: 20px;
}












/* responsive css */
@media only screen and (max-width:1024px) {
	.overpadding{
		padding-left: 35px;
	}
	.weBring {
		left: -55px;
	}
	.SecondImg{
		top: -80px;
    	right: 100px;
	}
	.testimanialBgImg{
		background-size: 80%;
	}
	.LoginbgCircle{
		background-position: right 60px center;
		background-size: 78%;
	}
	.whoCard {
	    height: 182px;
	}
  .aboutpadding{
      padding: 150px 20px;
  }
  .aboutTitle{
    font-size: 40px;
  }
  .aboutCirclTop{
    top: 160px;
  }
  .teamMember .headTitle {
    font-size: 30px;
  }
  .headTitle{
    font-size: 30px;
  }
  .FirstImg img, .SecondImg img {
      width: 300px;
      height: 320px;
  }
  .SecondImg {
      top: -120px;
      right: 122px;
  }
  .contactContent {
    width: 90%;
  }
  .videoContent{
      margin: -430px auto 0px auto;
  }
  .adminTital{
    font-size: 30px;
  }
  .adminList li img {
      margin-right: 10px;
      width: 15px;
  }
  .adminList li a, .formController .form-group .form-control, .socialTitle, .socialTitle{
    font-size: 16px;
  }
  .formTitle {
    font-size: 40px;
  }
  .buttonBtn span{
    font-size: 20px;
  }
  .teamMember .teamCard{
      width: 185px;
      height: 240px;
  }

  .yourCard {
    width: 120px;
    margin: 0px 10px 20px 15px;
  }




}




/* responsive css */
@media only screen and (max-width:768px) {
	#searchInput{
		float: left;
	}
	.footerSearch h1, .headTitle{
		font-size: 18px;
    	font-weight: bold;
	}
	.footerSearch p {
	    font-size: 10px;
	}
	.footerSearchBox .form-control{
    	width: 70%;
	}
	.connectSection {
	    padding: 5% 15px;
	}
	.bePart .communityCls{
		width: 94%;
	}
	.nearYou p{
		width:100%;
	}
	.videoSect{
		min-height: auto;
	}
	.latestPhotoSec{
		padding: 50px 15px;
	}
	.latestPhotoSec .lSubTitle {
	    width: 100%;
	}
	.overpadding{
		padding-left: 20px;
	}
	.teamMember .teamCard{
		margin-right: 38px;
	}
	.teamImg img{
		width: 100%;
		/*height: 60px;*/
	}
	.aboutpadding {
	    padding: 60px 0px;
	}
	.aboutTitle{
		font-size: 30px;
	}
	.adminTital{
		font-size: 20px
	}
	.leftSidepadding {
	    padding: 100px 15px 125px 15px;
	}
	.adminList li a{
		font-size: 14px;
	}
  .formTitle {
      font-size: 30px;
  }
	.adminList li i {
	    margin-right: 5px;
	}
	.whoCard .iconImgs{
		    width: 50px;
	    margin: 10px auto;
	    height: 50px;
	}
	.whoCard .whoSubTitle{
		font-size: 14px;
	}
	.footerList li a, .footer-copyright, .footer-copyright a{
		font-size: 12px;
	}
	.navbar.paddingLeft0px .navbar-brand{
		width: 24%;
    	/*height: 50px;*/
	}
	.aboutMain {
		background-size: 40%;
	}
	.weBring{
		background-position: left 80px top;
		background-size: 59%;
	}
	.improve{
		padding-bottom: 20px;
	}
	.adminSocial ul li{
		margin-right: 5px;
	}
	.adminSocial ul li a img{
		width: 20px;
		height: 20px;
	}
	.LoginbgCircle{
		width: 250px;
    	height: 250px;
    	background-position: right 40px center;
	}
	.whoCard {
	    height: 145px;
	}
  .LoginbgCircle1{
    display: none;
  }
  .FirstImg img, .SecondImg img {
      width: 200px;
      height: 220px;
  }
  .FirstImg {
      text-align: right;
      width: 95%;
      padding-top: 60px;
  }
  .weBringMainCont{
      padding-top: 0%;
  }
  .videoContent {
    margin: -350px auto 0px auto;
  }
  .lSubTitle {
    width: 85%;
  }
  .adminList li img {
      margin-right: 10px;
      width: 16px;
  }
  .form-check.marginTop50px{
      margin-top: 25px;
  }
  .login .col-xl-8.col-lg-8.col-md-8.paddingTop150px{
      padding-top: 100px;
  }
  .contactHead h2 {
    font-size: 40px;
  }
  .contactOverflow .paddingTB100px{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .contactCard {
    width: 100%;
    margin: 0px auto;
    padding: 70px 15px;
  }
  .contactContent div span, .contactContent p{
    font-size: 12px;
  }
  .greenBgImg{
    display: none;
  }
  .formController .form-group .form-control{
      font-size: 14px;
  }
  .buttonBtn span{
      font-size: 16px;
  }
  .weBringContent, .teamMember .testContent, .testimanial .testContent, .testimanial .testBody p, .card .cardContent{
    font-size: 12px;
  }
  .teamMember .headTitle {
      font-size: 20px;
  }
  .headTitle{
      margin-top: 20px;
  }
  .card .cardtitle {
    font-size: 16px;
  }
  .card .cardSubTitle{
    font-size: 14px;
  }
  .footer-CardList li{
    font-size: 10px;
    padding-right: 5px;
  }
  .commentSpan img {
    width: 14px;
  }
  .testimanialBgImg{
    display: none;
  }
  .forgotPwd, .forgotPwd:hover {
    font-size: 16px;
  }
  .teamMember .teamCard {
      width: 140px;
      height: 207px;
  }
  .yourCard {
      width: 80px;
      margin: 0px 10px 20px 10px;
  }

}


@media only screen and (max-width:700px) {
	.cardMain{
		display: block;
	}			
	.cardImg img{
		position: static;
	}
	.cardMain .card .offset-sm-3.col-sm-8.offset-md-3.col-md-8{
		padding-top: 15px;
	}
	.footer-CardList li{
		font-size: 10px;
	}
	.aboutpadding{
		padding: 80px 0;
	}
	.footerList{
		text-align: center;
	}
	.footerList li a{
		font-size:10px;
	}
	.login .text-right{
		text-align: left !important;
	}
	.resetPwd .btn.marginTop100px{
		margin:50px 0px;
	}
	.contactHead h1{
		padding-top: 25px;
	}
	.contactCard {
	    width: 100%;
	    margin: 0px auto;
	    padding: 25px;
	}
	.contactContent {
	    width: 100%;
	    padding: 15px;
	}
	.whoCard {
	    width: 100%;
	    float: none;
	    margin-bottom: 15px;
	}
	.navbar.paddingLeft0px .navbar-brand {
	    width: 45%;
	    /*height: 50px;*/
	}
	.faqMain .col-xl-12.col-lg-12.col-md-12.text-center.paddingTop70px{
		padding-top: 15px;
	}
	.greenBgImg{
		display: none;
	}
  .login .col-xl-8.col-lg-8.col-md-8.paddingTop150px{
      padding-top: 100px;
  }
  .privacyHeader {
    font-size: 40px;
  }
  .privacyBody .qes {
    font-size: 20px;
  }
  .privacyBody .ans {
    font-size: 18px;
  }
  .latestPhoto.padding50px{
    padding: 15px;
  }
  .nextCircleBtn{
    right: -14px;
  }
  .form-check.marginTop20px{
    text-align: left;
  }
}

	
/* width 414 */
@media only screen and (max-width:414px) {
	.footerSearchBox .form-control{
    	width: 70%;
    	float: left;
	}
	.footerLogo{
		margin: 0px auto;
	}	
	.login .col-xl-8.col-lg-8.col-md-8.paddingTop150px.overflowHidden{
		padding: 50px 15px;
	}
}
/* width 375 */
@media only screen and (max-width:375px) {
	.footerSearchBox .form-control {
	    width: 65%;
	    float: left;
	}
  .videoContent {
      margin: -180px auto 0px auto;
  }
}
/* width 320 */
@media only screen and (max-width:320px) {
	.footerSearchBox .form-control {
	    width: 60%;
	    float: left;
	}
}


@media only screen and (max-width: 10000px) and (min-width: 1500px){
  body {
      width: 1400px;
      margin: 0 auto;
  }
  .navbar.paddingLeft0px .navbar-brand{
    width: 7%;
  }

}

